<section class="page-form-ele page database-query-section">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong style="text-transform:none"> Query - {{DbQuery.query.name}}</strong>
      <span ng-show="!DbQuery.new">
        <a href="javascript:;"
           class="btn btn-lg pull-right"
           style="margin-top: -10px;"
           ng-click="DbQuery.deleteQuery()">
          <i class="ti-trash"></i></a>
        <!--<button class="btn btn-sm btn-primary pull-right" style="margin-top: -5px;" ng-click="DbQuery.duplicateQuery()">Duplicate</button>-->
      </span>

    </div>
    <div class="panel-body database-query-panel">
      <div class="row">
        <div class="left-col">

          <form role="form" data-ng-submit="DbQuery.saveQuery()" name="DbQuery.queryForm" novalidate>
            <fieldset ng-disabled="!DbQuery.editMode">
              <div class="form-group">
                <label for="name">Query Name</label>
                <input type="text" class="form-control" id="name" name="name" ng-model="DbQuery.query.name" required
                       ng-pattern="DbQuery.namePattern" placeholder="name your query">

                <div ng-show="DbQuery.queryForm.name.$error.pattern" class="input-error">no spaces or %$#@^&* allowed
                </div>
              </div>
              <div class="form-group">
                <label for="params">Input Parameters</label>
                <input type="text"
                       class="form-control"
                       id="params"
                       name="params"
                       ng-model="DbQuery.query.parameters"
                       placeholder="input1, input2,....">
              </div>
            </fieldset>

              <div class="ui-tab-container ui-tab-horizontal">
                <div justified="false" class="ui-tab">
                  <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}">

                    <div class="pull-right db-query-anchor" ng-show="DbQuery.editMode">
                      <span class="ti-anchor" style="cursor: pointer;font-size:20px;"
                            ng-click="DbQuery.toggleParametersModal()"></span>
                    </div>
                    <div class="pull-right db-query-anchor" ng-show="DbQuery.mode === 'nosql'">
                      <ba-help-link key="nosqlQuery" with-text="false"></ba-help-link>
                    </div>

                  <li ng-class="{active: DbQuery.mode === 'nosql'}">
                    <a ng-click="DbQuery.mode = 'nosql'" class="ng-binding">NoSQL</a>
                  </li>
                  <li ng-class="{active: DbQuery.mode === 'sql'}">
                    <a ng-click="DbQuery.changeModeToSql()" class="ng-binding">SQL</a>
                  </li>
                </ul>

                <div class="tab-content">

                  <bknd-ace-features editor="DbQuery.ace.editors[DbQuery.mode]" nesting-form="DbQuery.queryForm">
                    <div ng-show="DbQuery.mode === 'nosql'"
                         ui-ace="{onLoad : DbQuery.ace.onLoad, theme:'monokai', mode: 'json', rendererOptions: { fontSize: 15 } }"
                         type="text"
                         class="form-form-controlcontrol no-show-hide-animation"
                         id="nosql"
                         ng-model="DbQuery.query.noSQL"
                         rows="10"
                         ng-readonly="!DbQuery.editMode"
                         ng-class="{'not-allowed':!DbQuery.editMode}">
                    </div>

                    <div ng-show="DbQuery.mode === 'sql'"
                         ui-ace="{onLoad : DbQuery.ace.onLoad, theme:'dawn', mode: DbQuery.dbType}"
                         type="text"
                         class="form-control no-show-hide-animation"
                         id="sql"
                         ng-model="DbQuery.query.sQL"
                         rows="10"
                         ng-readonly="!DbQuery.editMode" ng-change="DbQuery.onEditSql()"
                         ng-class="{'not-allowed':!DbQuery.editMode}">
                    </div>
                  </bknd-ace-features>

                </div>
              </div>
            </div>

            <fieldset ng-disabled="!DbQuery.editMode">

              <div class="form-group" ng-if="DbQuery.editMode">
                <div class="row security-header">
                  <div class="col-lg-4">
                    <label class="strong">Security Template</label>
                    <select class="form-control"
                            ng-options="workspace.__metadata.id as workspace.workspaceName for workspace in DbQuery.workspaces"
                            ng-model="DbQuery.currentST"
                            ng-change="DbQuery.changePermissions()"
                            required
                            ng-disabled="DbQuery.precedent">
                    </select>
                  </div>
                  <div class="col-lg-4">
                    <div class="override-template"><label> override</label>
                      <label class="ui-switch ui-switch-success ui-switch-sm" for="override-checkbox">
                        <input id="override-checkbox" type="checkbox" ng-model="DbQuery.precedent"/><i></i>
                      </label>
                    </div>
                  </div>
                </div>
                <div ng-if="DbQuery.precedent">
                  <label>Read Permissions</label>
                  <ul class="list-style-none">
                    <li ng-repeat="role in DbQuery.roles">
                      <input type="checkbox"
                             ng-model="DbQuery.allowSelectRolesObject[role.Name]"
                             id="permissions-checkbox-{{role.Name}}"
                             ng-disabled="!DbQuery.precedent">
                      </input>
                      <label for="permissions-checkbox-{{role.Name}}">
                        {{ role.Name }}
                      </label>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="save-bar" ng-show="DbQuery.editMode">
                <button type="submit"
                        ng-disabled="DbQuery.queryForm.$invalid || (DbQuery.query.noSQL === '' && DbQuery.query.sQL === '')"
                        class="btn btn-success btn-lg btn-w-lg" ladda="DbQuery.loading"
                        data-style="expand-right">Save
                </button>
                <button type="button"
                        ng-show="DbQuery.editMode"
                        class="btn btn-default btn-lg btn-w-lg"
                        data-style="expand-right"
                        ng-click="DbQuery.cancel()">Cancel
                </button>
                <button class="btn btn-info btn-lg btn-w-lg pull-right" type="button"
                        ng-click="DbQuery.showHelp()">Help</button>
              </div>
            </fieldset>

            <div class="save-bar" ng-show="!DbQuery.editMode">
              <br/>
              <button type="button"
                      class="btn btn-success btn-lg btn-w-lg"
                      data-style="expand-right" ladda="DbQuery.loading"
                      ng-click="DbQuery.editQuery()">Edit
              </button>
            </div>
          </form>

        </div>
        <div class="right-col" ng-include="'views/db_queries/query_test.html'"></div>
      </div>
    </div>
  </section>
</section>

<div ng-cloak>
  <angled-window ng-if="DbQuery.openParamsModal"
                 id="select-params"
                 title="Query Parameters"
                 grouping="w"
                 close-function="DbQuery.toggleParametersModal()"
                 style="left: 650px; top: 70px;">
    <div ng-include="'views/db_queries/select_parameters.html'"></div>
  </angled-window>
</div>

