  <h3>Test query parameters</h3>
  <br/>
  <form role="form" name="DbQuery.inputParametersForm" novalidate>
    <div class="form-group" ng-repeat="inputParam in DbQuery.getParameters()">
      <label for="inputParam">{{inputParam}}</label>
      <input type="text"
             id="inputParam"
             class="form-control"
             ng-model="DbQuery.inputValues[inputParam]"
             required>
    </div>
    <br/>
    <!-- <label>HTTP Request URL:</label>
    <bknd-copy-url copy-url-params="DbQuery.copyUrlParams"></bknd-copy-url>
    <br/>
    <label>Request $http:</label>
    <bknd-copy-url type="textarea" copy-url-params="DbQuery.copyHttpParams"></bknd-copy-url> -->
    <bknd-code-generator url="{{DbQuery.copyUrlParams.getUrl()}}"
                         http-object="{{DbQuery.httpObject}}"></bknd-code-generator>
    <br/>

    <button type="button"
            class="btn btn-success btn-lg btn-w-lg"
            data-style="expand-right" ladda="DbQuery.testLoading"
            ng-disabled="!(DbQuery.allowTest() && !DbQuery.inputParametersForm.$invalid)"
            ng-click="DbQuery.testData()">Test Query
    </button>
    <button type="button"
            style=""
            class="btn btn-success btn-lg btn-w-lg"
            data-style="expand-right" ladda="DbQuery.loading"
            ng-disabled="DbQuery.allowTest()"
            ng-click="DbQuery.saveQuery(true)">Save & Test
    </button>
    <div ng-if="!DbQuery.allowTest()">** Must save first to enable Test Query</div>
  </form>

  <ng-include src="'views/db_queries/query_result.html'"></ng-include>
