<div class="select-params">
  <strong ng-bind="modal.dictionaryItems.headings.tokens"></strong>
  <ul class="list-unstyled">
    <li ng-repeat="token in DbQuery.dictionaryItems.data.tokens" ng-click="DbQuery.insertParamAtChar(DbQuery.mode ,token.token)"
      ng-bind="token.label" style="cursor:pointer;">
    </li>
  </ul>
  <hr/>
  <strong>Parameters</strong>
  <ul class="list-unstyled">
    <li ng-repeat="parameter in DbQuery.getParameters()" ng-click="DbQuery.insertParamAtChar(DbQuery.mode, parameter)" ng-bind="parameter"
      style="cursor:pointer;">
    </li>
  </ul>
</div>