<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> Populate Database</strong>
      <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>

    <div class="panel-body">
      <div class="row col-md-10 col-sm-offset-1">
        <div class="divider divider-solid"></div>
        <div class="row"></div>
        <div class="col-md-7">

          <h3>Templates</h3>
          <h5>Select a template to use as the starting point for your app...</h5>
          <br>
          <div >
            <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" >
              <li ng-class="{active: dbadd.activeTemplate==template.active}" ng-repeat="template in dbadd.templates"><a  ng-click="dbadd.tableTemplate = dbadd.stringfy(template.template); dbadd.activeTemplate=template.active;" href="" >{{template.name}}</a></li>
            </ul>
          </div>

          <!--<textarea class="" ng-model="dbadd.tableTemplate"  rows="19"></textarea>-->
          <div  ui-ace="{onLoad : ace.onLoad, theme:'monokai', mode: 'json', firstLineNumber: 1}"
                class="form-control ace-rule"
                name="tableTemplate"
                id="tableTemplate"
                ng-model="dbadd.tableTemplate"
                required
                ng-pattern="codeRegex"
                style="resize: vertical; ">

          </div>
          <div>** Fields types: ShortText, LongText, DateTime, Numeric, SingleSelect, MultiSelect</div>
          <div>** For SingleSelect and MultiSelect you need to specify the "relatedTable" </div>

          <br><button ng-disabled="!dbadd.isEmptyDb" class="btn btn-success btn-lg btn-w-md btn-block ladda-button" ladda="dbadd.processing" data-style="expand-right" ng-click="dbadd.add()">
           <span class="ladda-label"><span class="ng-scope">
          Create
              </span></span><span class="ladda-spinner"></span></button>
          <br>
          <div ng-show="!dbadd.isEmptyDb" class="alert ng-isolate-scope alert-danger alert-dismissable">Your database is not empty, the template can be applied only on an empty database.</div>
          <div ng-show="dbadd.isReady" class="alert ng-isolate-scope alert-success alert-dismissable">Congratulations, your app is ready now with the template database.</div>
          <br>

        </div>
        <div class="col-md-1">
          <div class="vertical-border" style="height:400px;"></div>
        </div>
        <div class="row col-md-4  col-sm-offset-0">
          <div class="ui-bullet">
            <div class="ui-bullet-content">
              <h4>
              <i class="ti-comment-alt"></i><strong> Tips</strong>
              </h4>

        <ul>
              <li> The JSON in the edit window represents a database schema for the selected template. You can modify the JSON to match your desired table structure.</li>
              <li> A table is represented in JSON as a name entry (stored in "name") and an array of fields (stored in "fields"). Primary keys are generated automatically.</li>
              <li> The following column data types are available: ShortText, LongText, DateTime, Numeric, SingleSelect, MultiSelect. ***Note: For SingleSelect and MultiSelect you need to specify a related table with the available options. This is specified by the relatedTable property.</li>
              <li> You can either use the "Create" button to send your schema to your database, or submit the schema as stringified JSON using the code below</li>
        </ul>
              <br>
              <h3> <i class="ti-shortcode"></i> <strong>Code</strong></h3>
          <pre>//need to set request header with auth token<br>$http({<br>  method: 'POST',<br>  url: https://api.backand.com:8080/1/table/config',<br>  headers: { AppName: appName },<br>  data:schema //  JSON.stringify of the table object;<br>});
          </pre>
            </div>
          </div>

        </div>
        </div>


    </div>
  </section>

</section>
