<section class="page-form-ele page ng-scope">

  <section class="panel panel-default">
    <div class="panel-heading">
        <strong> database configuration</strong>
        <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <tabset justified="true" class="ui-tab ui-tab-horizontal ui-tab-container">
            <tab heading="Existing Database" ng-click ="dbedit.dataName = 'mysql'">
              <ng-include src = " 'views/database/exs_data/exs_source.html' "></ng-include>
            </tab>
            <tab  heading="New Database" ng-hide="dbedit.databaseStatus !== 0" ng-click ="dbedit.dataName = 'newMysql'">
              <ng-include src = " 'views/database/new_data/new_source.html' "></ng-include>
            </tab>
          </tabset>
        </div>
      </div>
     </div>
  </section>
  <section class="panel panel-default" ng-hide="dbedit.databaseStatus !== 0">
      <div class="panel-body">
        <div class="ui-bullet">
            <div class="btn-icon btn-icon-round btn-icon-lg bg-danger">
                  <i class="ti-help"></i>
            </div>
            <div class="ui-bullet-content">
                <h4><br/><a ng-click="showHelp = !showHelp" href="" >Need help to setup security</a></h4>
                <p></p>
            </div>
        </div>
        <div class="ui-tab-container ui-tab-vertical" ng-show="showHelp">
            <tabset class="ui-tab">
                <tab heading="AWS RDS VPC Security Groups">
                    <h4>If you are using VPC Security Groups please follow these instructions:</h4>
                    <br/>
                    <p> <span class="badge badge-info">1</span>
                        <a target="_blank" href="https://console.aws.amazon.com/rds/home#dbinstances:" target="_blank">
                            Enter
                            your AWS console
                        </a> and expand your DB instance.
                    </p>
                    <br/>
                    <p>
                        <span class="badge badge-info">2</span> On the "Security and Network" column click the "Security Groups" link.
                    </p>
                    <br/>
                    <p>
                        <span class="badge badge-info">3</span> Select the "Inbound" tab (lower part of the screen), and click the "Edit" button.
                    </p>
                    <br/>
                    <p><span class="badge badge-info">4</span>
                        Click "Add Rule" on the bottom of the pane, select the "Type" based on your DB Product
                        (MySQL, MS SQL Server or Custom TCP Rule for Oracle and PostgreSQL). If you choose
                        "Custom" then enter the "Port Range" (you can get this info from your DB Instance
                        endpoint url), for "Source" field enter 137.117.97.68/32 and save the rule.
                    </p>
                    <br/>
                    <p><article class="photo-box"><div class="photo-container"><img src="assets/images/security-group.png" /></div></article></p>
                </tab>
                <tab heading="AWS RDS DB Security Groups">
                    <h4>If you are using DB Security Groups please follow these instructions:</h4>
                    <br/>
                    <p><span class="badge badge-info">1</span> Sign in to the AWS Management Console and <a href="https://console.aws.amazon.com/rds/">open the Amazon RDS console</a>.</p>
                    <br/>
                    <p><span class="badge badge-info">2</span> Select Security Groups from the navigation pane on the left side of the console window.</p>
                    <p>Select the details icon for the DB security group you want to authorize.</p>
                    <br/>
                    <p><span class="badge badge-info">3</span> In the details page for your security group select the Connection type: CIDR/IP</p>
                    <p>Enter the Backand CIDR for the ingress rule 137.117.97.68/32 into the CIDR text box, and click Authorize.</p>
                    <p><article class="photo-box"><div class="photo-container"><img src="assets/images/security-cidr.png" /></div></article></p>
                    <br/>
                    <p><span class="badge badge-info">4</span> The status of the ingress rule will be authorizing until the new ingress rule has been applied to all DB instances that are associated with the DB security group.</p>
                    <p>After the ingress rule has been successfully applied, the status will change to authorized.
                        for more information <a target="_blank" href="http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_WorkingWithSecurityGroups.html">click here</a></p>
                </tab>
                <tab heading="General Cloud Database">
                    <h4>Connecting your database to Backand requires:</h4>
                    <br/>
                    <p><span class="badge badge-info">1</span> Server must allow a connection over the Internet.</p>
                    <br/>
                    <p><span class="badge badge-info">2</span> Firewall must allow a connection for IP: 137.117.97.68, through Endpoint's port.</p>
                    <br/>
                    <p><span class="badge badge-info">3</span> Must grant permissions on your database to username: {{dbedit.data.username}}.</p>
                </tab>
            </tabset>
            <br/>
        </div>
      </div>
  </section>
</section>
