<section class="page-form-ele page ng-scope">

  <section class="panel panel-default">
    <div class="panel-heading">
      <strong test-hook="database-edit.title"> {{dbedit.appName}} - database configuration</strong>

      <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>
    <div class="panel-body">
      <div class="row" ng-if="dbedit.databaseStatus === 0">
        <div class="col-xs-10">
          <div class="db-panel-body-explanation">
            <h3>Let's start by setting up the app's database</h3>
            <h4>
              <p>Create hosted MySQL database using JSON model
              Or connect to an existing cloud database (Bring Your Own Database)</p>
            </h4>
          </div>
        </div>
      </div>

      <br/>


      <tabset justified="true" class="ui-tab ui-tab-horizontal ui-tab-container">
        <tab heading="New Hosted Database"
             ng-if="dbedit.databaseStatus === 0"
             ng-click="dbedit.dataName = 'newMysql'">
            <div ng-include="'views/database/new_data/new_source.html'"></div>
        </tab>
        <tab heading="Connect to Existing Database"
             ng-if="dbedit.databaseStatus != null"
             ng-click="dbedit.dataName = 'mysql'">
          <ng-include src="'views/database/exs_data/exs_source.html'"></ng-include>
        </tab>
      </tabset>
    </div>

  </section>
</section>
