<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> Database Information</strong>
      <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>
    <div class="panel-body data" id="database-info-panel">
      <div class="row">
        <div class="list-unstyled row"><br/></div>
        <div class="row">
            <div class="left-col">



              <form class="form-horizontal ng-pristine ng-valid" role="form" ng-submit="dbshow.sumbitForm()">

                  <div class="form-group">
                      <label for="server" class="col-sm-3 control-label">Database Type:</label>
                      <div class="col-sm-9">
                          <div class="form-control-static" id="dbtype" placeholder="" >{{dbshow.data.databaseName}}</div>
                      </div>
                  </div>

                  <div class="form-group">
                  <label for="server" class="col-sm-3 control-label">Endpoint:</label>
                  <div class="col-sm-9">
                    <div class="form-control-static" id="server" placeholder="" >{{dbshow.data.server}}</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="database" class="col-sm-3 control-label">Database name:</label>
                  <div class="col-sm-9">
                    <div  class="form-control-static" id="database" placeholder="" >{{dbshow.data.database}}</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="UserName" class="col-sm-3 control-label">Username:</label>
                  <div class="col-sm-9">
                    <div class="form-control-static" id="UserName" placeholder="" >{{dbshow.data.username}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-3 control-label">Password:</label>
                  <div class="col-sm-9">
                    <div ng-show="dbshow.data.password" type="text" class="form-control-static">{{dbshow.data.password}}</div>
                    <div class="form-control-static"><a ng-hide="dbshow.data.password" href="" ng-click="dbshow.getPassword()">Get password</a></div></div>
                </div>

                <div ng-switch on="dbshow.data.databaseName">
                  <div class="form-group" ng-switch-when='mysql'>
                  <label for="usessh" class="col-sm-3 control-label">Use SSH:</label>
                    <div class="col-sm-9">
                        <div class="form-control-static" id="usessh">{{dbshow.data.usingSsh}}</div>
                    </div>
                  </div>

                  <div class="form-group" ng-switch-when='postgresql'>
                      <label for="usessl" class="col-sm-3 control-label">Use SSL:</label>
                      <div class="col-sm-9">
                        <div class="form-control-static" id="usessl" >{{dbshow.data.usingSsl}}</div>
                      </div>
                  </div>
                </div>


                <div ng-if="dbedit.data.usingSsh === true">

                  <div class="divider divider-dashed divider-lg pull-in"></div>

                  <div class="form-group" >
                    <label  class="col-sm-3 control-label">SSH Remote Host</label>

                    <div class="col-sm-9">
                      <div class="form-control" > {{dbshow.data.sshRemoteHost}}</div>
                    </div>
                  </div>

                  <div class="form-group" >
                    <label  class="col-sm-3 control-label">SSH User Name</label>

                    <div class="col-sm-9">
                      <div class="form-control" > {{dbshow.data.sshUser}}</div>
                    </div>
                  </div>

                  <div class="form-group" >
                    <label  class="col-sm-3 control-label">SSH Port</label>

                    <div class="col-sm-9">
                      <div class="form-control" > {{dbshow.data.sshPort}}</div>
                    </div>
                  </div>

                    <label for="sshPassword" class="col-sm-3 control-label">SSH Password</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" ng-model="dbedit.data.sshPassword" ng-disabled="dbedit.data.sshPassword"
                             id="sshPassword" placeholder="" required>
                    </div>

                    <label for="sshPrivateKey" class="col-sm-3 control-label">SSH Private Key</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" ng-model="dbedit.data.sshPrivateKey" ng-disabled="dbedit.data.sshPrivateKey"
                             id="sshPrivateKey" placeholder="" required>
                    </div>
                </div>

                <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <br/>
                <button class="btn btn-success btn-lg btn-w-lg" ng-if="dbshow.displayButton()" ng-click="dbshow.edit()">Edit Database Connection</button>
                </div>
                </div>
              </form>


            </div>

            <div class="right-col" ng-if="!dbshow.isLocal">
             <h4><i class="ti-comment-alt"></i>  <strong> Database Admin</strong></h4>
                    <p>To make changes to your database's schema (such as adding tables or columns), use one of the following tools:<br/>
                    <ul>
                        <li><a href="//www.mysql.com/products/workbench" target="_blank">Workbench</a></li>
                        <li><a href="//www.phpmyadmin.net/home_page/index.php" target="_blank">phpMyAdmin</a></li>
                        <li><a href="//www.sequelpro.com/" target="_blank">Sequel Pro</a></li>
                        <li><a href="//www.heidisql.com/" target="_blank">HeidiSQL</a></li>
                    </ul>
                    <br/>In order to sync your database schema changes into Backand, go to <b>Objects</b> and click <b>Sync with Database</b>.
                    <!--<br/><br/>>> To populate data into your database use our <a href="http://{{dbshow.appName}}.backand.net" target="_blank">Back Office</a>-->
                    <!--<br/>Go to <a ng-click="dbshow.sync(0)" href="">Database Table</a> and click <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-primary" ng-click="dbshow.sync(1)">Sync Tables</button>-->
                    <!--after you update your schema to sync your changes into Backand.-->
                    </p>
          </div>
          <div class="right-col" ng-if="dbshow.isLocal">
            <h4><i class="ti-comment-alt"></i>  <strong> Database Admin</strong></h4>
            <p>
            To make changes to your database's schema (such as adding tables or columns) use only the JSON Model under the Objects menu.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>









