<section class="page-form-ele page ng-scope">

  <section class="panel panel-default">
    <div class="panel-heading">
      <strong test-hook="example.database.title"> Todo list App Example</strong>

      <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>
    <div class="panel-body">
      <div class="panel-body-explanation">
        <h4>The to-do list example app is almost ready, just click "Build" to complete the process.<br/> After the app is ready you can review the code, download it and play with the live demo.</h4>
      </div>
      <hr/>
      <br/>

      <div class="row" style="padding: 3%">
        <div class="col-md-6">


          <div class="row">
            <a class="icon-box col-xs-5 col-sm-4 col-md-3">
              <div class="icon-container active">
                <img src="assets/images/mysql.png" style="vertical-align: inherit;"/>
              </div>
            </a>

            <h3 class="col-xs-7" style="padding-top: 35px; padding-left: 30px;">Todo List<br/>Sample App</h3>
          </div>

          <br/>

          <div class="panel-body-description">
            <p>The todo list sample app include a dedicated MySQL database just for you</p>
          </div>
          <br/>

          <div class="form-group">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-success btn-lg btn-w-lg"
                    ladda="dbtodo.loading" data-style="expand-right"
                    ng-click="dbtodo.create()"
              test-hook="example.database.connect">Build
            </button>
            <br/>
          </div>

        </div>

        <div class="col-md-6">
          <div class="ace-title">Todo list database model</div>
          <div
            ui-ace="{onLoad : ace.onLoad, theme:'monokai', mode: 'json', firstLineNumber: 1, rendererOptions: { fontSize: 15 } }"
            class="form-control ace-rule"
            readonly
            name="tableTemplate"
            id="tableTemplate"
            ng-model="dbtodo.generatorCode"
            required
            ng-pattern="codeRegex"
            style="resize: vertical; ">

          </div>
        </div>
      </div>
    </div>
  </section>
</section>
