<div class="db-tab-content">
  <div class="row">
    <div class="col-md-6 db-panel-right-half">

      <div class="icon-box db-icon-box">
        <div class="icon-container active">
          <img src="assets/images/mysql.png"/>
        </div>
        <div class="db-icon-title">
          Hosted <br/> MySQL Database
        </div>
      </div>

      <br/>

      <div class="db-panel-body-description">
        <p>The new database is a hosted dedicated MySQL database just for you.</p>

        <p>You can access the database using any database admin tool like: Workbench, phpMyAdmin, Sequel Pro or
          any other tool.</p>

        <p>Once you complete any action on the database, e.g. adding new tables or modifying columns, you will
          need to sync the changes back to Backand</p>
      </div>
      <br/>
    </div>

    <div class="col-md-6">
      <div class="db-ace-title">database generator code</div>
      <br/>

      <div>
        <ul class="db-nav db-nav-tabs"
            ng-class="{'nav-stacked': vertical, 'nav-justified': justified}">
          <li ng-class="{active: dbedit.template === template}"
              ng-repeat="template in dbedit.templates">
            <a ng-click="dbedit.showFile(template)" href="">
              {{template.title}}
            </a>
          </li>
        </ul>
      </div>
      <div
        ui-ace="{onLoad : ace.onLoad, theme:'monokai', mode: 'json', firstLineNumber: 1, rendererOptions: { fontSize: 15 } }"
        class="form-control ace-db-template"
        readonly
        name="tableTemplate"
        id="tableTemplate"
        ng-model="dbedit.template.schema"
        required
        ng-pattern="codeRegex"
        style="resize: vertical; ">

      </div>
    </div>
  </div>
  <br/>

  <div>
    <button type="submit" ng-disabled="form.$invalid" class="btn btn-success btn-lg btn-w-lg"
            ladda="dbedit.loading" data-style="expand-right"
            ng-click="dbedit.create()">
      Create
    </button>
    <button type="submit" ng-disabled="form.$invalid" class="btn db-btn-default btn-lg btn-w-lg pull-right"
            ladda="dbedit.loading" data-style="expand-right"
            ng-click="dbedit.customize()">
      Customize Database
    </button>
  </div>
</div>
