<br/>

<div class="row">
  <div>
    <div class="col-md-8 col-md-offset-5">

      <a class="icon-box col-md-3" ng-click ="dbedit.dataName = 'newMysql'">
        <div class="icon-container" ng-class="{active : dbedit.currentTab() === 'newMysql'}">
          <img src="assets/images/mysql.png"/>
        </div>
        <div class="desc-container">
          <h4></h4>
        </div>
      </a>

      <!--<a class="icon-box col-md-3" ng-click ="dbedit.dataName = 'newPostgre'">-->
        <!--<div class="icon-container" ng-class="{active : dbedit.currentTab() === 'newPostgre'}">-->
          <!--<img src="assets/images/postgresql.jpg"/>-->
        <!--</div>-->
        <!--<div class="desc-container">-->
          <!--<h4></h4>-->
        <!--</div>-->
      <!--</a>-->

      <!--<a class="icon-box col-md-3" ng-click ="dbedit.dataName = 'newDummy'">-->
        <!--<div class="icon-container" ng-class="{active : dbedit.currentTab() === 'newDummy'}">-->
          <!--<img src="assets/images/angular-logo.png"/>-->
        <!--</div>-->
        <!--<div class="desc-container">-->
          <!--<h4></h4>-->
        <!--</div>-->
      <!--</a>-->

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="divider divider-dashed divider-lg pull-in"></div>
    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-success btn-lg btn-w-lg center-block" ladda="dbedit.loading" data-style="expand-right"
                ng-click="dbedit.create()">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="divider divider-solid"></div>

<div class="panel-body">
    <div class="ui-bullet">
        <div class="btn-icon btn-icon-round btn-icon-lg bg-info">
            <i class="ti-star"></i>
        </div>
        <div class="ui-bullet-content">
            <h4><br/><a ng-click="dbedit.showND = !dbedit.showND" href="" >New Database</a></h4>
            <p></p>
        </div>
    </div>
    <div class="" ng-show="dbedit.showND">
        <p>The new database is a hosted dedicated MySQL database just for you.</p>
        <p>You can access the database using any database admin tool like: Workbench, phpMyAdmin, Sequel Pro or any other tool.</p>
        <p>Once you done administrated the database like adding new tables or modifying columns, you need to sync the changes back to Backand.</p>
    </div>
</div>