<div class="form-group">
  <label for="name" class="control-label">Connection Name</label>
  <input type="text" class="form-control" id="name" placeholder="Enter Connection Name" ng-model="$ctrl.cloudProvider.Name"
    required>
</div>

<div class="form-group">
  <label for="connectionString" class="control-label">Connection String</label>
  <input type="text" class="form-control" id="connectionString" placeholder="Connection String" ng-model="$ctrl.cloudProvider.connectionString" required>
</div>
