<br/>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">

      <a class="icon-box col-md-2 col-md-offset-1" >
        <div class="icon-container" ng-class="{active : dbedit.currentTab() === 'mysql'}" ng-click ="dbedit.dataName = 'mysql'">
          <img src="assets/images/mysql.png" style="vertical-align: inherit;"/>
        </div>
        <div class="desc-container">
          <h4></h4>
        </div>
      </a>

      <a class="icon-box col-md-2">
        <div class="icon-container"
             ng-class="{active : dbedit.currentTab() === 'postgresql'}"
             ng-click ="[dbedit.dataName = 'postgresql',dbedit.data.usingSsh = false]">
          <img src="assets/images/postgresql.jpg" style="vertical-align: inherit;"/>
        </div>
        <div class="desc-container">
          <h4></h4>
        </div>
      </a>

      <a class="icon-box col-md-2">
        <div class="icon-container" ng-class="{active : dbedit.currentTab() === 'sqlserver' || dbedit.currentTab() === 'sqlazure'}" ng-click ="[dbedit.dataName = 'sqlserver',dbedit.data.usingSsh = false]">
          <img src="assets/images/sqlserver.png" style="vertical-align: inherit;"/>
        </div>
        <div class="desc-container">
          <h4></h4>
        </div>
      </a>

      <a class="icon-box col-md-2" >
        <div class="icon-container" ng-class="{active : dbedit.currentTab() === 'oracle'}" ng-click ="[dbedit.dataName = 'oracle',dbedit.data.usingSsh = false]">
          <img src="assets/images/oracle.jpg" style="vertical-align: inherit;"/>
        </div>
        <div class="desc-container">
          <h4></h4>
        </div>
      </a>

      <a class="icon-box col-md-2"  >
        <div class="icon-container" onclick="window.alert('Sorry but mongoDB is in closed Beta');" ng-class="{active : false}" style="border: none;" >
          <img src="assets/images/mongodb.png"/>
        </div>
        <div class="desc-container">
          <h4></h4>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="divider divider-dashed divider-lg pull-in"></div>

<form class="form-horizontal" role="form" ng-submit="dbedit.sumbitForm()">

  <div class="row">
    <div class="col-md-5 col-md-offset-1">

    <div class="form-group">
        <label for="server" class="col-sm-4 control-label">Endpoint</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="dbedit.data.server" id="server" placeholder="Remote database server hostname" required>
        </div>
    </div>

      <div class="form-group">
        <label for="database" class="col-sm-4 control-label">DB Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="dbedit.data.database" id="database" placeholder="Database name" required>
        </div>
      </div>

      <div ng-switch on="dbedit.dataName">
        <div class="form-group row" ng-switch-when='mysql'>
          <label for="usingSsh" class="col-sm-4 control-label">Use SSH</label>

          <div class="col-sm-8">
              <span class="ui-select" id="usingSsh">
                  <select name="usingSsh" class="Sitedropdown" ng-model="dbedit.data.usingSsh" required>
                      <option value=true>Yes</option>
                      <option value=false>No</option>
                  </select>
              </span>
          </div>
        </div>

        <div class="form-group" ng-switch-when='postgresql'>
          <label for="usingSsl" class="col-sm-4 control-label">Use SSL</label>

          <div class="col-sm-8">
              <span class="ui-select" id="usingSsl">
                  <select name="usingSsl" class="Sitedropdown" ng-model="dbedit.data.usingSsl" require>
                      <option value=true>Yes</option>
                      <option value=false>No</option>
                  </select>
              </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5 col-md-offset-0">
      <div class="form-group">
        <label for="UserName" class="col-sm-4 control-label">Username</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="dbedit.data.username" id="UserName" placeholder="Name of user for your DB instance" required>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Password</label>

        <div class="col-sm-8">
          <input type="password" class="form-control" ng-model="dbedit.data.password" id="password" placeholder="" required>
        </div>
      </div>
    </div>
  </div>


  <div ng-if="dbedit.data.usingSsh === 'true'">

    <div class="divider divider-dashed divider-lg pull-in"></div>

    <div class="row">
      <div class="col-md-5 col-md-offset-1">

        <div class="form-group" >
          <label for="sshRemoteHost" class="col-sm-4 control-label">SSH Remote Host</label>

          <div class="col-sm-8">
            <input type="text" class="form-control"  ng-model="dbedit.data.sshRemoteHost" id="sshRemoteHost" placeholder="Address of your remote SSH host" required>
          </div>
        </div>

        <div class="form-group" >
          <label for="sshUser" class="col-sm-4 control-label">SSH User Name</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="dbedit.data.sshUser" id="sshUser" placeholder="" required>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-md-offset-0">
        <div class="form-group" >
          <label for="sshPort" class="col-sm-4 control-label">SSH Port</label>

          <div class="col-sm-8">
            <input type="number" class="form-control" ng-model="dbedit.data.sshPort" id="sshPort" placeholder="" required>
          </div>
        </div>

        <div class="form-group" ng-if="!dbedit.data.sshPrivateKey" >
          <label for="sshPassword" class="col-sm-4 control-label">SSH Password</label>

          <div class="col-sm-8">
              <input type="password" class="form-control" ng-model="dbedit.data.sshPassword" ng-disabled="dbedit.data.sshPrivateKey"
                     id="sshPassword" placeholder="" required>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="!dbedit.data.usingSsh">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">

          <label for="sshPrivateKey" class="col-sm-2 control-label">SSH Private Key</label>

          <div class="col-sm-10">
            <input type="password" class="form-control" ng-model="dbedit.data.sshPrivateKey" ng-disabled="dbedit.data.sshPassword"
                   id="sshPrivateKey" placeholder="" required>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider divider-dashed divider-lg pull-in"></div>

  <div class="row">
    <div class="form-group">
      <div class="text-center">
        <button type="submit"  ng-disabled="form.$invalid || dbedit.databaseStatus == 2"
                class="btn btn-success btn-lg btn-w-lg" ladda="dbedit.loading" data-style="expand-right">
          Connect
        </button>
      </div>
    </div>

  </div>

</form>

