<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong>Hosting Files</strong>
      <a href="" title="Refresh tree" class="btn btn-sm"
         ng-click="hostingTree.refresh()"><i
        class="glyphicon glyphicon-refresh"></i></a>
    </div>
    <div us-spinner spinner-key="loading" spinner-start-active="true"></div>
    <div class="panel-body">
      <p>
      <h4 style="padding-left: 20px;">{{hostingTree.hostingUrl}}</h4>
      </p>
      <bknd-tree-control></bknd-tree-control>
    </div>
  </section>
</section>
