<section class="page-form-ele page ng-scope">
    <div class="panel panel-default">
        <div class="panel-heading"><strong> Back Office Customization</strong></div>
        <div class="panel-body">
            <div class="row col-sm-10 col-sm-offset-1">
                <h1>Customization</h1>
                <p>
                    To get started with customization you can simply clone the angularbknd repository and install the dependencies:
                    <br/><br />
                    Clone the angularbknd repository using <a href="http://git-scm.com/" target="_blank">git</a>:
                            <b>
                    <pre>git clone https://github.com/backand/angularbknd
cd angularbknd</pre></b>
                </p>
                <div style="padding-left: 12px; margin-top: -10px;"><span class="label label-info" style="float: right;font-size:13px;"><a class="" href="https://github.com/backand/angularbknd#prerequisites" target="_blank" style="color: #fff; ">Troubleshooting</a></span></div>
                </p><br/>
                <p><b>You can stop here and work with our CDN files.</b> If you would like to have the full installation locally please continue...</p>

                <h2>Dependencies</h2>
                <p>
                    <a href="http://nodejs.org/download/" target="_blank">node.js</a> - As Backand uses a number of node.js tools to initialize and test angularbknd,<br/>
                    you must have node.js and its package manager (<a href="https://www.npmjs.org/" target="_blank">npm</a>) installed.
                </p>
                <p>
                    <a href="http://bower.io/" target="_blank">bower</a> - A client-side code package manager that is needed to get all the included JS code.
                </p>
                <p>
                    We have preconfigured <b>npm</b> to automatically run <b>bower</b> so you can simply do
                            <b>
                <pre>npm install</pre></b>
                </p>
                <div style="padding-left: 12px; margin-top: -10px;"><span class="label label-info" style="float: right;font-size:13px;"><a class="" href="https://github.com/backand/angularbknd#install-dependencies" target="_blank" style="color: #fff; ">Troubleshooting</a></span></div>
                <br />
                </p>
                <h1>Run the Application</h1>
                <p>
                    We have preconfigured the project with a Backand REST API on a simple development web server.  For Windows users use your local IIS server.<br/>
                    The simplest way to start is:
                <b><pre>npm start</pre></b>
                </p>
            </div>
        </div>
    </div>
</section>

