<div class="main-container body-wide auth-landing">
  <div id="content" class="content-container auth-body">

    <div class="page-signin">
     <a id="page-logo" href="https://www.backand.com" class="ng-binding">
            <img src="assets/images/logo-white.png"></a>

      <div class="signin-header">
        <section class="logo text-center">
            <h1>Sign up is no longer possible</h1>
            </br>
            <h1>Back& is closing its service on February 28 2018</h1>
            </br>
            <img class="logo" src="assets/images/shutdown.png"/>
            </br>
            <section class="additional-info">
              <p>
                <span style="color: white">Already have a Back& account?</span>
                <strong><a style="color: white; text-decoration: underline" ui-sref="sign_in" ui-sref-opts="{reload:true}">Log in here</a></strong>
              </p>
            </section>
        </section>
      </div>

      </div>
  </div>
  </div>
</div>
