<div class="main-container body-wide auth-landing">
  <div id="content" class="content-container auth-body">

    <div class="page-signin">

      <div class="signin-header">
        <section class="logo text-center">
          <a href="https://www.backand.com">
            <img src="assets/images/aws-lambda-launcher/aws-lambda-launcher-logo.png"></a>
          <h1 style="font-size:30px;margin-bottom:0">Create a Lambda Launcher Account</h1>
        </section>
      </div>

      <div class="signin-body">
        <div class="container">
          <div class="form-container signup-container">

            <img class="dragon" src="assets/images/auth_pages/dragon-signup.png">

            <div class="row">
              <div class="col-sm-5">
                <div class="signup-options">
                  Sign in With
                  <span class="social-signin-spinner" us-spinner spinner-key="socialSignin"></span>
                </div>
                <form class="signup-social">

                  <a class="btn btn-block btn-social" ng-repeat="social in Auth.socials | filter:{ useForSignin : true }" ng-class="'btn-' + social.css"
                    ng-click="Auth.socialLogin(social)" ng-disabled="Auth.flags.authenticating">
                    <i class="fa" ng-class="'fa-' + social.css"></i> {{social.label}}
                  </a>
                </form>
                <section class="logo text-center" style="margin-top:80px;">
                  <img src="https://d0.awsstatic.com/logos/aws/AWS_Logo_PoweredBy_127px.png">
                </section>
              </div>

              <div class="col-sm-7">
                <div ng-include="'views/auth/sign_up_launcher.html'" ng-controller="SignUpController as signup"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>