<div class="page-signin">
  <div class="signin-header">
    <section class="logo text-center">
      <h1>Reset Password</h1>
    </section>
  </div>

  <div class="signin-body">
    <div class="container">
      <div class="form-container">

        <form class="form-horizontal" name="form" ng-submit="change.sumbit()" >
          <fieldset>
            <div class="form-group">
              <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                <input type="password"
                       class="form-control input-lg"
                       placeholder="Password"
                       name="Upassword"
                       ng-model="change.password"
                       ng-model-options="{debounce: 500}"
                       ng-minlength="6"
                       required>
              </div>
              <div class="text-danger" ng-show="form.Upassword.$error.minlength">
                Password must be at least 6 characters
              </div>
              <div class="text-danger" ng-show="form.Upassword.$error.email">This is not a valid Password.</div>
            </div>


            <div class="form-group">
              <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                <input type="password"
                       class="form-control input-lg"
                       placeholder="re-type Password"
                       name="confirm_password"
                       match="change.password"
                       ng-model="change.repassword"
                       ng-model-options="{debounce: 500}"
                       required>
              </div>

              <div class="text-danger" ng-show="form.confirm_password.$error.match"> Password don't match.</div>
            </div>
            <div class="divider divider-xl"></div>
            <div class="form-group">
              <button type="submit" ng-disabled="form.$invalid"
                      class="btn btn-primary btn-lg btn-block text-center"
                      ladda="sign.loading" data-style="expand-right">
                RESET
              </button>
            </div>
          </fieldset>
        </form>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>
