<div class="modal-header">
  <h3 class="modal-title">Change Password</h3>
</div>

<form novalidate name="ChangePasswordForm">

  <div class="modal-body clearfix">

    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Old Password</label>
      <input type="password"
             name="oldPassword"
             class="form-control"
             ng-model="ChangePassword.userData.oldPassword"
             ng-model-options="{debounce:{default:400}}"
             ng-minlength="6"
             ng-maxlength="20"
             required
             autofocus>
    </div>

    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>New Password</label>
      <input type="password"
             name="newPassword"
             class="form-control"
             ng-model="ChangePassword.userData.newPassword"
             ng-model-options="{debounce:{default:400}}"
             ng-minlength="6"
             ng-maxlength="20"
             required
             autofocus>
      <div class="text-danger" ng-show="ChangePasswordForm.newPassword.$error.minlength">
        Password must be at least 6 characters
      </div>
      <div class="text-danger" ng-show="ChangePasswordForm.newPassword.$error.email">
        This is not a valid password
      </div>
    </div>

    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Confirm Password</label>
      <input type="password"
             name="confirm_password"
             class="form-control"
             ng-model="ChangePassword.confirmPassword"
             ng-model-options="{debounce:{default:400}}"
             ba-match="ChangePassword.userData.newPassword"
             required>
      <div class="text-danger" ng-show="ChangePasswordForm.confirm_password.$error.match">
        Please re-enter the same password as above
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ChangePassword.changePassword()" ng-disabled="ChangePasswordForm.$invalid">Change Password</button>
    <button class="btn btn-default" ng-click="ChangePassword.cancelChangePassword()">Cancel</button>
  </div>
</form>
