<div class="page-signin">
  <div class="signin-header">
    <section class="logo text-center">
      <h1>Backand Services</h1>
    </section>
  </div>

  <div class="signin-body">
    <div class="container">
      <div class="form-container">

        <form class="form-horizontal" name="form" ng-submit="sign.signIn()" >
          <fieldset>
            <div class="form-group">
              <div class="input-group input-group-first">
                <span class="input-group-addon">
                  <span class="ti-email"></span>
                </span>
                <input type="email"
                       class="form-control input-lg"
                       name = "uEmail"
                       placeholder="Username"
                       ng-model = "sign.userName"
                       ng-model-options="{debounce: 500}"
                       required>
              </div>
              <div class="text-danger" ng-show="form.uEmail.$error.email">This is not a valid email.</div>

            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="ti-lock"></span>
                </span>
                <input type="password"
                       class="form-control input-lg"
                       placeholder="Password"
                       name = "uPassword"
                       ng-model = "sign.userPassword"
                       ng-model-options="{debounce: 500}"
                       required>
              </div>
              <div class="text-danger" ng-show="form.uPassword.$error.email">This is not a valid Password.</div>
            </div>
            <div class="divider divider-xl"></div>
            <div class="form-group">
              <button type="submit" ng-disabled="form.$invalid"
                      class="btn btn-primary btn-lg btn-block text-center"
                      ladda="sign.loading" data-style="expand-right">
                Log in
              </button>
            </div>
          </fieldset>
        </form>
        <div ng-show="sign.error" class="alert alert-danger">{{sign.error}}</div>
        <div class="divider"></div>
        <section class="additional-info">
          <p class="text-right">
            <a href="#/pages/forgot-password">Forgot your password?</a>
            <span> | </span>
            <a ui-sref="sign_up">Sign up</a>
          </p>
        </section>

      </div>
    </div>
  </div>
</div>
