<div class="page-signup ng-scope">

  <div class="signin-header">
    <section class="logo text-center">
      <h1><a href="#/" class="ng-binding">Sign up for Backand</a></h1>
    </section>
  </div>

  <div class="signup-body">
    <div class="container">
      <div class="form-container">

        <section>
          <form class="form-horizontal text-center ng-pristine ng-valid" name="form" ng-submit="signup.signUp()">
            <div class="form-group">
              <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-user"></span>
                                </span>
                <input type="text"
                       class="form-control input-lg"
                       placeholder="Full Name"
                       name = "uFullFirst"
                       ng-model = "signup.fullName"
                       ng-model-options="{debounce: 500}"
                       required>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                <input type="email"
                       class="form-control input-lg"
                       placeholder="Email (Username)"
                       name = "uEmail"
                       ng-model = "signup.email"
                       ng-model-options="{debounce: 500}"
                       required>

              </div>
              <div class="text-danger" ng-show="form.uEmail.$error.email">This is not a valid email</div>
            </div>


            <div class="form-group">
              <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                <input type="password"
                       class="form-control input-lg"
                       placeholder="Password"
                       name = "Upassword"
                       ng-model = "signup.password"
                       ng-model-options="{debounce: 500}"
                       ng-minlength = "6"
                       ng-maxlength="20"
                       required>
              </div>
              <div class="text-danger" ng-show="form.Upassword.$error.minlength">Password must be at least 6 characters</div>
              <div class="text-danger" ng-show="form.Upassword.$error.email">This is not a valid password</div>
            </div>


            <div class="form-group">
              <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                <input type="password"
                       class="form-control input-lg"
                       placeholder="re-type Password"
                       name="confirm_password"
                       match="signup.password"
                       ng-model = "signup.repassword"
                       ng-model-options="{debounce: 500}"
                       required>
              </div>

              <div class="text-danger" ng-show="form.confirm_password.$error.match">Please re-enter the same password as above</div>
            </div>

            <div class="divider divider-lg"></div>
            <div class="form-group">
              <p class="additional-info text-small">By clicking on sign up, you agree to <a href="https://www.backand.com/terms-of-use" target="_blank">terms &amp; conditions</a> and <a href="https://www.backand.com/privacy-policy" target="_blank">privacy policy</a></p>
              <div class="divider"></div>
              <button  type="submit"
                       ng-disabled="form.$invalid"
                       class="btn btn-primary btn-block btn-lg"
                       ladda="signup.loading" data-style="expand-right">Sign up</button>
            </div>

          </form>
        </section>

        <div class="divider"></div>
        <section class="additional-info">
          <p class="text-right"><a ui-sref="sign_in">Log in now</a></p>
        </section>
        <div ng-show="signup.error" class="alert alert-danger">{{signup.error}}</div>
      </div>
    </div>
  </div>
</div>
