# general
.idea
.DS_Store
*~
.sass-cache

# package control
node_modules
vendor

# logs
npm-debug.log

# build
build/tmp
build/dist

# config
client/config/consts.js

#test
client/test/screenshots/*
!client/test/screenshots/README.md
client/test/unit-results/*
!client/test/unit-results/README.md
