<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> Social Sign-in </strong>

      <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>
    <div class="panel-body">
      <form name="keys.socialForm" novalidate ng-model-options="{updateOn: 'blur default', debounce: {'default': 250, 'blur': 0 }}">
        <div class="field-group" ng-repeat="socialProvider in keys.socialProviders">
          <div class="group-inner">
            <div class="social-provider-title" ng-class="socialProvider.name + '-title'">
              <label class="strong" for="{{::socialProvider.name}}-switch">
                <i class="fa social-provider-icon" ng-class="'fa-' + socialProvider.css"></i> <span>{{ ::socialProvider.label }}</span></label>
              <label class="pull-right ui-switch ui-switch-success ui-switch-sm">
                <input id="{{::socialProvider.name}}-switch"
                       type="checkbox"
                       ng-model="socialProvider.enable"
                       ng-change="keys.updateSettings()">
                <i></i>
              </label>
              <!--<div class="field-description">Allow anonymous users to access the application</div>-->
            </div>
            <div class="row" ng-show="socialProvider.enable">
              <div class="col-md-5 social-keys-container">
                <div class="form-group">
                  <label for="{{::socialProvider.name}}-use-backand">
                    Use Back& app for signing in with {{ ::socialProvider.label }}
                  </label>
                  <label class="pull-right ui-switch ui-switch-success ui-switch-sm">
                    <input id="{{::socialProvider.name}}-use-backand"
                           type="checkbox"
                           ng-model="socialProvider.useBackandApp"
                           ng-change="keys.useBackandAppChange(socialProvider)">
                    <i></i>
                  </label>
                </div>
                <div class="form-group">
                  <label for="{{::socialProvider.name}}-secret-key" class="control-label">{{ ::socialProvider.label }} Secret Key</label>
                  <input type="text"
                         class="form-control"
                         ng-disabled="socialProvider.useBackandApp"
                         id="{{::socialProvider.name}}-secret-key"
                         ng-model="socialProvider.clientSecret"
                         ng-change="keys.updateSettings()">
                </div>
                <div class="form-group">
                  <label for="{{::socialProvider.name}}-api-key" class="control-label">{{ ::socialProvider.label }} Secret Key</label>
                  <input type="text"
                         class="form-control"
                         ng-disabled="socialProvider.useBackandApp"
                         id="{{::socialProvider.name}}-api-key"
                         ng-model="socialProvider.clientId"
                         ng-change="keys.updateSettings()">
                </div>
              </div>
              <div class="col-md-5 col-md-offset-2">
                <div class="social-provider-container">
                  <div class="social-provider-help">
                    <div class="social-provider-help-title">Configuring Your {{socialProvider.label}} App</div>
                    To get started with {{ ::socialProvider.label }} authentication,
                    you need to first create a new {{ ::socialProvider.label }} application.
                    <a href="{{ ::socialProvider.helpUrl}}" target="_blank">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="field-group" ng-repeat="displayedToken in keys.displayedTokens">
        <div class="group-inner">
          <div class="form-group">
            <label class="control-label strong">{{ ::displayedToken.label }} Token</label>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="signupkey"
                       ng-readonly="true"
                       ng-model="keys.tokens[displayedToken.name]">
                <span class="input-group-btn">
                  <button class="btn btn-default"
                          type="button"
                          clip-copy="keys.tokens[displayedToken.name]"
                          ng-click="keys.copied = displayedToken.name"
                          ng-class="{'btn-success': keys.copied === displayedToken.name}">Copy</button>
                </span>
              </div>
              <div class="field-description">
                {{ ::displayedToken.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
