<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> Social & Keys </strong>
      <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>
    <div class="panel-body">
      <div class="field-group" ng-repeat="displayedToken in keys.displayedTokens">
        <div class="group-inner">
          <div class="form-group">
            <label class="control-label strong">{{ ::displayedToken.label }} Token</label>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="signupkey"
                       ng-readonly="true"
                       ng-model="keys.tokens[displayedToken.name]">
                <span class="input-group-btn">
                  <button class="btn btn-default"
                          type="button"
                          clip-copy="keys.tokens[displayedToken.name]"
                          ng-click="keys.resetKey(displayedToken.name);"
                          ladda="keys.reseting === displayedToken.name"
                          ng-class="{'btn-success': keys.reseted === displayedToken.name}">Reset</button>
                  <button class="btn btn-default"
                          type="button"
                          clip-copy="keys.tokens[displayedToken.name]"
                          ng-click="keys.copied = displayedToken.name"
                          ng-class="{'btn-success': keys.copied === displayedToken.name}">Copy</button>
                </span>
              </div>
              <div class="field-description">
                {{ ::displayedToken.description }}
                <ba-help-link key="{{displayedToken.helpKey}}"></ba-help-link>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field-group">
        <div class="group-inner">
          <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label strong">Session Length</label>
                <!--<div class="form-group">-->
                <select class="form-control"
                      required
                      ng-options="time.seconds as time.label for time in keys.tokenExpirations"
                      ng-model="keys.tokenExpiration"
                      ng-change="keys.updateTokenExpire()"></select>
                <div class="field-description">
                    The length of time that the session will remain valid. The expiration is set when calling /token
                    API for sign-in
                    <span style="color:red;"><ba-tooltip
                        tooltip-text="New token value won't be affected until the user is re-login. When selecting 'Never - Use Refresh Token' the access token is set to 1 day but it can be reconnected using refresh token. Backand's SDK is handling the refresh token so no additional code is needed." tooltip-placement="right"></ba-tooltip></span>
                    . To setup the SDK
                    <ba-help-link key="refreshToken"></ba-help-link>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field-group">
        <div class="group-inner">
          <div class="form-group">
            <label class="control-label strong">Social Configuration</label><ba-help-link key="socialAndKeysGeneral" with-text="false"></ba-help-link>
            <div class="field-description">These settings are used in your app to enable integration with social media providers, allowing your users to sign into your app using their social media accounts.
            </div><br/>

            <form name="keys.socialForm" novalidate ng-model-options="{updateOn: 'blur default', debounce: {'default': 250, 'blur': 0 }}">
              <div class="form-group" ng-class="{ 'has-error': keys.socialForm.inputURI.$error.url }">
                <label for="inputURI" class="strong control-label">Social return URIs</label>
                <div class="form-group">
                  <input type="url" class="form-control"
                         id="inputURI" name="inputURI"
                         ng-model-options="{ updateOn: 'blur' ,debounce: 400 }"
                         placeholder="https://www.myappdomain.com/sign-in"
                         ng-model="keys.appSettings.returnAddressURIs">
                  <div class="field-description">Redirect URIs after user has done social sign-in or social sign-up (use comma separator for multiples URIs)
                    <ba-help-link key="customPages"></ba-help-link>
                  </div>
                </div>
              </div>
              <div class="field-group" ng-repeat="socialProvider in keys.socialProviders">
                <div class="group-inner">
                  <div class="social-provider-title" ng-class="socialProvider.name + '-title'">
                    <label class="strong" for="{{::socialProvider.name}}-switch">
                      <i class="fa social-provider-icon" ng-class="'fa-' + socialProvider.css"></i> <span>{{ ::socialProvider.label }}</span></label>
                    <label class="pull-right ui-switch ui-switch-success ui-switch-sm">
                      <input id="{{::socialProvider.name}}-switch"
                             type="checkbox"
                             ng-model="socialProvider.enable"
                             ng-change="keys.updateSocialSettings(socialProvider)">
                      <i></i>
                    </label>
                  </div>
                  <div class="row" ng-show="socialProvider.enable">
                    <div class="col-md-5 social-keys-container">
                      <div class="form-group">
                        <label for="{{::socialProvider.name}}-use-backand">
                          Use your credentials for signing in with {{ ::socialProvider.label }}
                            <ba-tooltip tooltip-text="By default the credentials belongs to Backand, so your users will see Backand as the provider. We suggest you create new app in {{ ::socialProvider.label }} and provide your own credentials." tooltip-placement="right"></ba-tooltip>
                        </label>
                        <label class="pull-right ui-switch ui-switch-success ui-switch-sm">
                          <input id="{{::socialProvider.name}}-use-backand"
                                 type="checkbox"
                                 ng-model="socialProvider.useOwnApp"
                                 ng-change="keys.useOwnAppChange(socialProvider)">
                          <i></i>
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="{{::socialProvider.name}}-api-key" class="control-label">{{::socialProvider.clientIdTitle || 'Client ID'}}</label>
                        <input type="text"
                               class="form-control"
                               ng-disabled="!socialProvider.useOwnApp"
                               id="{{::socialProvider.name}}-api-key"
                               ng-model="socialProvider.clientId"
                               ng-change="keys.updateSocialSettings(socialProvider)">
                      </div>
                      <div class="form-group">
                        <label for="{{::socialProvider.name}}-secret-key" class="control-label">{{::socialProvider.secretIdTitle || 'Client Secret'}}</label>

                        <input ng-if="socialProvider.name !== 'adfs' && socialProvider.name !== 'azureAd'"
                               type="text"
                               class="form-control"
                               ng-disabled="!socialProvider.useOwnApp"
                               id="{{::socialProvider.name}}-secret-key"
                               ng-model="socialProvider.clientSecret"
                               ng-change="keys.updateSocialSettings(socialProvider)">

                        <input ng-if="socialProvider.name === 'adfs' || socialProvider.name === 'azureAd'"
                               type="text"
                               class="form-control"
                               ng-disabled="!socialProvider.useOwnApp"
                               id="{{::socialProvider.name}}-secret-key"
                               ng-model="socialProvider.Oauth2EndPoint"
                               ng-change="keys.updateSocialSettings(socialProvider)">
                      </div>
                      <div class="form-group" ng-if="socialProvider.name === 'facebook'">
                        <label for="{{::socialProvider.name}}-scope" class="control-label">
                          Scope (use these <a href="https://developers.facebook.com/docs/facebook-login/permissions" target="_blank">permissions</a> with comma-separated to set the scope) </label>
                        <input
                             type="text"
                             class="form-control"
                             ng-disabled="!socialProvider.useOwnApp"
                             id="{{::socialProvider.name}}-scope"
                             ng-model="socialProvider.Scope"
                             ng-change="keys.updateSocialSettings(socialProvider)">
                      </div>
                    </div>
                    <div class="col-md-5 col-md-offset-2">
                      <div class="social-provider-container">
                        <div class="social-provider-help">
                          <div class="social-provider-help-title">Configuring Your {{socialProvider.label}} App</div>
                          To get started with {{ ::socialProvider.label }} authentication,
                          you need to first create a new {{ ::socialProvider.label }} app
                            <ba-help-link key="{{::socialProvider.helpUrl}}"></ba-help-link>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
