<div class="panel-body">
  <div class="row">
    <div class="col-md-8 col-lg-9 info-panel-row">

      <h4>Manage your model in the left JSON while compare it to the current version on the right JSON -
        <a href="" ng-click="jsonModel.showHelp()">Need help?</a></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-9 info-panel-row">
      <div class=" info-panel">
        <div class="col-md-6 edit">
                <span class="tab"><strong>Edit model</strong>
                  <a href="" title="Discard the current changes" class="btn btn-sm"
                     ng-click="jsonModel.reset()"><i
                    class="glyphicon glyphicon-refresh"></i></a>
                </span>
          <a href="" ng-click="jsonModel.toggleShowDiff()">{{jsonModel.showDiffs ? 'hide' : 'show'}} diff</a>
        </div>
        <div class="col-md-6 current" style="margin-top: 6px; padding-left: 50px;">
          <span class="tab"><strong>Current model (read-only)</strong></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-9 ">
      <div class="model-diff-container">
        <ba-ace-diff ace-diff-options="jsonModel.aceDiffOptions"
                     differ="jsonModel.differ"
                     left-content="jsonModel.newModel.schema"
                     right-content="jsonModel.oldModel.schema"
                     left-editor="jsonModel.schemaEditor"
                     right-editor="jsonModel.oldSchemaEditor"
                     control="jsonModel.editorControl"
                     class="model-edit-ace-diff">
        </ba-ace-diff>
      </div>
      <p><div class="notice">** id is added to all objects automatically, please do not add it yourself</div></p>

    </div>

    <div class="col-md-4 col-lg-3 model-types-container">
      <div class="db-types-title"><span>Field Types</span>
        <span><ba-tooltip tooltip-text="Click on a type to insert it in the editor"></ba-tooltip></span></div>
      <br/>

      <div class="db-types" ng-repeat="fieldType in jsonModel.fieldTypes" ng-click="jsonModel.insertTypeAtChar(fieldType)"
           ng-mouseover="fieldHover = true">
        <i class="ti-angle-left"></i>
        {{fieldType}}
      </div>
      <br/>

      <div class="db-note">
        <p>
          In <b>one to many relationship</b> between objects users and items:</br>
          In the many side of the relationship (object items), we specify that each row relates to one row in the
          other object users.<br/>
          <b>"user": { "object": "users" }</b></br>
          In the one side of the relationship (object users), we specify that each row relates to several rows in
          items:<br/>
          <b>"items": { "collection": "items", "via": "user" }</b>
        </p>
      </div>

    </div>
  </div>
</div>
