<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> Security templates </strong>

        <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>
    <div class="panel-body">
      <div>Security template is used to set the permissions on objects. You can create new
          templates, update existing templates, and rename security templates as you see fit
          <ba-help-link key="securityTemplates"></ba-help-link>
      </div>
      <br/>
      <button class="btn btn-success ng-scope ladda-button" ladda="securityws.processingNewWS" data-style="expand-right"  ng-click="securityws.addWorkspace()">+ Add Security Template</button>
      <br/><br/>
      <div class="ui-tab-container ui-tab-vertical"
           style="height:500px; overflow:auto">
        <tabset class="ui-tab workspace">
          <tab ng-repeat="workspace in securityws.workspaces"
               heading="{{ workspace.workspaceName }}" active="workspace.tabActive">
            <div class="form-group">
              <label for="wsName">Security Template Name</label>
              <input type="text" class="form-control" id="wsName"
                     ng-model="workspace.workspaceName" ng-change="securityws.changeName(workspace.workspaceName,workspace.__metadata.id)">
            </div>
            <br/>

            <security-matrix security-template="workspace.template"
                             override="workspace.overridepermissions"
                             on-update="securityws.templateChanged(workspace.template,workspace.__metadata.id)"
                             on-role-add="securityws.templateRoleAdd(role)"
                             on-role-rename="securityws.templateRoleRename(role, newRole)"
                             on-role-remove="securityws.templateRoleRemove(role)"
              ></security-matrix>

          </tab>

        </tabset>
      </div>
    </div>
  </section>
</section>
