<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> Security templates </strong>

      <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>
    <div class="panel-body" >
      <!--<button class="btn btn-info" ng-click="savews()">S</button>-->
     <div  class="ui-tab-container ui-tab-vertical"
      style="height:350px; overflow:auto">
      <tabset class="ui-tab workspace">
        <tab ng-repeat="workspace in workspaces.workspaces" id="{{workspace.__metadata.id}}">

          <tab-heading>{{ workspace.workspaceName }}
            <span class="right">
            <a ng-if="workspace.workspaceName!='Admin'" ng-click="removeWorkspace(workspace.__metadata.id)" href="" class="ng-scope"><i class="ti-trash"></i></a>
            </span>
          </tab-heading>

            <security-matrix template="workspace.template" override="workspace.overridepermissions"></security-matrix>


        </tab>
        <tab>
          <tab-heading> <button class="btn btn-primary ng-scope"  ng-click="addWorkspace()">+ Add Workspace</button></tab-heading>

       </tab>
      </tabset>


    </div>
      <br>




    </div>
  </section>
</section>
