<div class="modal-header">
  <h3 class="modal-title">
    New Object
  </h3>
</div>

<div class="modal-body edit-row-modal">
  <form role="form" name="AddObject.addObjectForm" novalidate>
    <fieldset>
      <label for="object-name">Object Name:</label>
      <input id="object-name"
             type="text"
             class="form-control"
             ng-model="AddObject.objectName">
    </fieldset>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-success"
          ladda="EditRow.savingRow"
          ng-click="AddObject.addObject()">
    Update
  </button>
</div>
