<div draggable-modal>
  <div class="modal-header">
    <h3 class="modal-title">
      {{::(EditObject.isEdit ? 'Edit Object' : 'New Object')}}
    </h3>
  </div>

  <div class="modal-body edit-row-modal">
    <form role="form" name="EditObject.editObjectForm">
      <fieldset>
        <label for="object-name">Object Name:</label>
        <input id="object-name"
               type="text"
               class="form-control"
               ng-model="EditObject.selectedObjectName" required>
      </fieldset>
    </form>

    <div ng-show="EditObject.invalidObjectName">
      Object with that name already exists
    </div>
  </div>

  <div class="modal-footer">
    <i
      id="delete-object-button"
      class="fa fa-trash fa-2x"
      ng-show="::EditObject.isEdit"
      ng-click="EditObject.deleteObject(EditObject.objectName)">
    </i>
    <button class="btn btn-success"
            type="submit"
            ladda="EditRow.savingRow"
            ng-disabled="EditObject.editObjectForm.$invalid"
            ng-click="EditObject.objectName ? EditObject.editObject() : EditObject.addObject()">
      Update
    </button>
  </div>
</div>
