<div draggable-modal>
  <div class="modal-header">
    <h3 class="modal-title">
      {{::(EditObject.isEdit ? 'Edit Object' : 'New Object')}}
    </h3>
  </div>

  <div class="modal-body edit-row-modal">
    <form role="form" name="editObjectForm">
      <fieldset>
        <label for="object-name">Object Name:</label>
        <input id="object-name"
               name="objectName"
               type="text"
               class="form-control"
               ng-pattern="EditObject.namePattern"
               ng-model="EditObject.selectedObjectName" required>
        <div ng-show="editObjectForm.objectName.$error.pattern" class="input-error">
          Only alphanumeric characters and underscores are allowed
        </div>
      </fieldset>
    </form>

    <div ng-show="EditObject.invalidObjectName">
      Object with that name already exists
    </div>
  </div>

  <div class="modal-footer">
    <i
      id="delete-object-button"
      class="fa fa-trash fa-2x"
      ng-show="::EditObject.isEdit"
      ng-click="EditObject.deleteObject(EditObject.objectName)">
    </i>
    <button class="btn btn-success"
            type="submit"
            ladda="EditRow.savingRow"
            ng-disabled="editObjectForm.$invalid"
            ng-click="EditObject.objectName ? EditObject.editObject() : EditObject.addObject()">
      {{::EditObject.isEdit ? 'Update' : 'Add Object'}}
    </button>
    <button class="btn btn-default"
            ng-click="EditObject.cancelEditObject()">
      Close
    </button>
  </div>
</div>
