<div class="modal-header">
  <h3 class="modal-title">
    {{(EditField.fieldName ? 'Edit Field' : 'New Field') + ' - Table: ' + EditField.tableName}}
  </h3>
</div>
<div class="modal-body edit-row-modal">
  <form role="form" ng-submit="EditField.saveField()" name="EditField.editFieldForm" novalidate>
    <fieldset>
      <label for="field-name">Field Name:</label>
      <input id="field-name"
             type="text"
             class="form-control"
             ng-disabled="EditField.fieldName"
             value="EditField.fieldName ? EditField.fieldName : ''">
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success"
          ladda="EditRow.savingRow"
          ng-click="EditField.saveField()">
    Save
  </button>
  <button class="btn btn-default"
          ng-click="EditField.cancelEditField()">
    Cancel
  </button>
</div>
