<div class="erd-model">
  <div class="col-md-9 erd-description">
    <div id="erd-description-label">
      Manage your Data Model by editing the objects. You can add and edit objects, add or delete relationships and
      configure existing fields
    </div>
    <a href="" title="Discard the current changes" class="btn btn-sm"
       ng-click="erdModel.reset()"><i
      class="glyphicon glyphicon-refresh"></i> reset local changes</a>
  </div>

  <div class="col-md-3">
    <button
      ng-click="erdModel.editObjectDialog()"
      class="btn btn-primary add-object-button"
      title="Add a new object to the ERD model">
      <img src="../../assets/images/plus.png" class="new-object-icon">
      New Object
    </button>

  </div>


  <bknd-flow-chart ng-if="erdModel.newModel.erdModel && isChartReady"
                   style="width: 100%;"
                   chart="erdModel.newModel.erdModel"
                   on-update="erdModel.saveModel()"
                   on-object-click="erdModel.gotoObject(node)"
                   edit-field-dialog="erdModel.editFieldDialog(tableName, fieldName)"
                   edit-object-dialog="erdModel.editObjectDialog(objectName)"
                   selected-node="erdModel.currentObject"
                   update-erd="erdModel.updateErd()"
                   delete-object="erdModel.deleteObject(objectName)">
  </bknd-flow-chart>

</div>
