<section class="page-form-ele page page-external-functions">
  <section class="panel panel-default">
    <div class="panel-heading p-l-0">
      <strong> External Functions </strong>
    </div>
    <div class="panel-body p-a-0">
      <div us-spinner="" spinner-key="loading" spinner-start-active></div>
      <tabset active="$ctrl.activeTab">
        <!-- /External Functions -->
        <tab index="0" data-select="$ctrl.activeTab = 0">
          <tab-heading>
            External Functions
          </tab-heading>

          <div class="list-group list-group-with-tabs m-b-0">
            <!-- /guideline -->
            <div class="list-group-item">
              <div class="list-group-item-header">
                <div class="list-group-item-heading">How it works</div>
                <div class="list-group-item-toolbar">
                  <span data-ng-click="$ctrl.sections.guideline = !$ctrl.sections.guideline" tooltip="{{$ctrl.sections.guideline ? 'Show' : 'Hide'}}"
                    tooltip-placement="top" tooltip-trigger="mouseenter">
                    <i  ng-class="{'fa fa-minus': !$ctrl.sections.guideline, 'fa fa-plus': $ctrl.sections.guideline}"></i>
                  </span>
                </div>

              </div>
              <div class="list-group-item-body" collapse="$ctrl.sections.guideline">
                Lorem ipsum is a placeholder text (filler text) in publishing and graphic design. It is used to demonstrate the graphics
                elements of a document, such as font, typography, and layout. ... Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
            <!-- ./guideline -->
            <!-- /aws connection -->
            <div class="list-group-item">
              <div class="list-group-item-header">
                <div class="list-group-item-heading"><i class="fa social-provider-icon fa-windows"></i> Connection Details</div>
                <div class="list-group-item-toolbar">
                  <span data-ng-click="$ctrl.sections.awsConnection = !$ctrl.sections.awsConnection" tooltip="{{$ctrl.sections.awsConnection ? 'Show' : 'Hide'}}"
                    tooltip-placement="top" tooltip-trigger="mouseenter">
                    <i  ng-class="{'fa fa-minus': !$ctrl.sections.awsConnection, 'fa fa-plus': $ctrl.sections.awsConnection}"></i>
                  </span>
                </div>
              </div>
              <div class="list-group-item-body" collapse="$ctrl.sections.awsConnection">
                <div class="row">
                  <div class="col-md-5">
                    <aws-connection data-on-save="$ctrl.onSaveConnection(connection)" data-on-load-connection="$ctrl.onLoadConnection(connection)"></aws-connection>
                  </div>
                  <div class="col-md-5 col-md-offset-2">
                    <div class="social-provider-container">
                      <div class="social-provider-help">
                        <div class="social-provider-help-title ng-binding">Configuring Your AWS App</div>
                        To get started with AWS authentication, you need to first create a new AWS app
                        <ba-help-link key="socialAndKeysFacebook" class="ng-isolate-scope"><a data-ng-href="" target="bkhelp" style="text-decoration: none;">- read more&nbsp;<i class="ba-icon-external-link"></i></a></ba-help-link>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- ./aws connection -->

            <!-- /lambda functions -->
            <div class="list-group-item">
              <div class="list-group-item-header">
                <div class="list-group-item-heading"><i class="fa social-provider-icon fa-windows"></i> Lambda Functions</div>
                <div class="list-group-item-toolbar">
                  <span data-ng-click="$ctrl.sections.lambdaFunctions = !$ctrl.sections.lambdaFunctions" tooltip="{{$ctrl.sections.lambdaFunctions ? 'Show' : 'Hide'}}"
                    tooltip-placement="top" tooltip-trigger="mouseenter">
                    <i  ng-class="{'fa fa-minus': !$ctrl.sections.lambdaFunctions, 'fa fa-plus': $ctrl.sections.lambdaFunctions}"></i>
                  </span>
                </div>
              </div>
              <div class="list-group-item-body" collapse="$ctrl.sections.lambdaFunctions">
                <form name="$ctrl.awsForm" novalidate data-ng-submit="$ctrl.saveConnection()">
                  <div class="row">
                    <div class="col-md-5">
                      <ul class="list-group" data-ng-repeat="(key,zone) in $ctrl.lambdaFunctions track by $index">
                        <li class="list-group-item active brand" data-ng-bind="key"></li>
                        <li class="list-group-item" data-ng-repeat="function in zone track by $index">
                          <div data-ng-bind="function.FunctionName" style="display: inline-block"></div>
                          <div class="pull-right">
                            <button type="button" class="btn btn-xs btn-default" data-ng-class="{'btn-success' : !function.selected}" data-ng-click="$ctrl.updateFunction(function, !function.selected)">{{function.selected ? 'Unlink' : 'Link'}}</button>
                            <button type="button" class="btn btn-xs btn-primary btn-success">Excecute</button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- ./lambda functions -->
          </div>
        </tab>
        <!-- ./External Functions -->
        <!-- /Lambda Launcher -->
        <tab index="1" data-select="$ctrl.activeTab = 1">
          <tab-heading>
            Lambda Launcher
          </tab-heading>
          <div class="list-group list-group-with-tabs m-b-0">
            <div class="list-group-item">
              <div class="list-group-item-body">
                <users data-options="$ctrl.options" data-ng-if="$ctrl.activeTab"></users>
              </div>
            </div>
          </div>
        </tab>
        <!-- ./Lambda Launcher -->
      </tabset>
    </div>
  </section>
</section>