<div class="form-group">
  <div class="btn-group switch-btn-backand">
    <button class="btn" type="button" data-ng-click="$ctrl.selectAwsType('ACCESS_KEY')" data-ng-class="{'btn-backand active' : $ctrl.selectedProvider.awsType === 'ACCESS_KEY', 'disabled' : !$ctrl.isNew && $ctrl.selectedProvider.awsType !== 'ACCESS_KEY'}">IAM Access Keys</button>
    <button class="btn" type="button" data-ng-click="$ctrl.selectAwsType('CROSS_ACCOUNT_ACCESS')" data-ng-class="{'btn-backand active' : $ctrl.selectedProvider.awsType === 'CROSS_ACCOUNT_ACCESS', 'disabled' : !$ctrl.isNew && $ctrl.selectedProvider.awsType !== 'CROSS_ACCOUNT_ACCESS'}">Cross-Account Access</button>
  </div>
</div>

<div class="form-group">
  <label for="name" class="control-label">Connection Name</label>
  <input type="text" class="form-control" id="name" placeholder="Enter Connection Name" ng-model="$ctrl.cloudProvider.Name"
    required>
</div>

<div data-ng-if="$ctrl.selectedProvider.awsType === 'CROSS_ACCOUNT_ACCESS'">
  <div class="form-group">
    <label for="AWS Account ID" class="control-label">AWS Account ID</label>
    <input type="text" class="form-control" placeholder="AWS Account ID" id="AWS Account ID" ng-model="$ctrl.crossAccount.AccessKeyId"
      required>
  </div>
</div>

<div data-ng-if="$ctrl.selectedProvider.awsType === 'ACCESS_KEY'">
  <div class="form-group">
    <label for="aws-access-key" class="control-label">Access Key ID</label>
    <input type="text" class="form-control" id="aws-access-key" placeholder="Access Key ID" ng-model="$ctrl.cloudProvider.AccessKeyId"
      required>
  </div>
  <div class="form-group">
    <label for="aws-secret-key" class="control-label">Secret Access Key</label>
    <input type="text" style=" -webkit-text-security: disc !important;" class="form-control" placeholder="Secret Access Key"
      id="aws-secret-key" ng-model="$ctrl.cloudProvider.EncryptedSecretAccessKey" data-ng-required="!$ctrl.cloudProvider.Id">
  </div>
</div>
<div class="form-group">
  <label for="aws-region" class="control-label">AWS Regions</label>
  <tags-input class="theme-brand" placeholder="AWS Region" add-from-autocomplete-only="true" ng-model="$ctrl.cloudProvider.AwsRegion"
    display-property="Name" min-length="0" template="regions-template.html">
    <auto-complete source="$ctrl.loadRegion($query)" load-on-focus="true" load-on-empty="true" min-length="0" load-on-down-arrow="true"
      template="regions-autocomplete-template.html"></auto-complete>
  </tags-input>
</div>

<script type="text/ng-template" id="regions-template.html">
  <div class="tag-template">
    <div>
      <span>{{$getDisplayText()}} - {{data.Code}}</span>
      <a class="remove-button" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol"></a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="regions-autocomplete-template.html">
  <div class="autocomplete-template">
    <div class="right-panel">
      <span ng-bind-html="$highlight($getDisplayText())"></span>
      <span> - {{data.Code}}</span>
    </div>
  </div>
</script>