<div class="form-group">
  <label for="name" class="control-label">Connection Name</label>
  <input type="text" class="form-control" id="name" placeholder="Enter Connection Name" ng-model="$ctrl.cloudProvider.Name"
    required>
</div>
<div class="form-group">
  <label for="appId" class="control-label">App ID</label>
  <input type="text" class="form-control" id="appId" placeholder="App ID" ng-model="$ctrl.cloudProvider.appId" required>
</div>
<div class="form-group">
  <label for="subscriptionId" class="control-label">Subscription ID</label>
  <input type="text" class="form-control" id="subscriptionId" placeholder="Subscription ID" ng-model="$ctrl.cloudProvider.subscriptionId"
    required>
</div>
<div class="form-group">
  <label for="tenant" class="control-label">Tenant</label>
  <input type="text" class="form-control" id="tenant" placeholder="Tenant" ng-model="$ctrl.cloudProvider.tenant" required>
</div>
<div class="form-group">
  <label for="password" class="control-label">Password</label>
  <input type="text" style=" -webkit-text-security: disc !important;" class="form-control" placeholder="Password" id="password"
    ng-model="$ctrl.cloudProvider.password">
</div>