<div class="form-group">
  <label for="name" class="control-label">Connection Name</label>
  <input type="text" class="form-control" id="name" placeholder="Enter Connection Name" ng-model="$ctrl.cloudProvider.Name"
    required>
</div>
<div class="form-group">
  <label for="encryptedPrivateKey" class="control-label">Private Key</label>
  <input type="text" class="form-control" id="encryptedPrivateKey" placeholder="Private Key" ng-model="$ctrl.cloudProvider.EncryptedPrivateKey"
    required>
</div>
<div class="form-group">
  <label for="clientEmail" class="control-label">Client Email</label>
  <input type="email" class="form-control" id="clientEmail" placeholder="Client Email" ng-model="$ctrl.cloudProvider.ClientEmail"
    required>
</div>
<div class="form-group">
  <label for="project-name" class="control-label">Project Name</label>
  <input type="text" class="form-control" id="project-name" placeholder="Project Name" ng-model="$ctrl.cloudProvider.ProjectName"
    required>
</div>