<div
  mouse-capture
  ng-keydown="flowchartCtrl.keyDown($event)"
  ng-keyup="flowchartCtrl.keyUp($event)">

  <div>
    <div ng-show="flowchartCtrl.showModelControls">
      <button
        ng-click="flowchartCtrl.addNewNode()"
        title="Add a new node to the chart">
        Add Node
      </button>
      <button
        ng-click="flowchartCtrl.addNewInputConnector()"
        ng-disabled="flowchartCtrl.chartViewModel.getSelectedNodes().length == 0"
        title="Add a new input connector to the selected node">
        Add Input Connector
      </button>
      <button
        ng-click="flowchartCtrl.addNewOutputConnector()"
        ng-disabled="flowchartCtrl.chartViewModel.getSelectedNodes().length == 0"
        title="Add a new output connector to the selected node">
        Add Output Connector
      </button>
      <button
        ng-click="flowchartCtrl.deleteSelected()"
        ng-disabled="flowchartCtrl.chartViewModel.getSelectedNodes().length == 0 && flowchartCtrl.chartViewModel.getSelectedConnections().length == 0"
        title="Delete selected nodes and connections">
        Delete Selected
      </button>
    </div>

    <flow-chart ng-mouseup="flowchartCtrl.updateChart()"
      chart="flowchartCtrl.chartViewModel"
      on-icon-click="flowchartCtrl.onIconClick({node: node})"
      edit-field-dialog="flowchartCtrl.editFieldDialog({tableName: tableName, fieldName: fieldName})">
    </flow-chart>
  </div>

</div>
