.collapsible-fieldset {

  padding: 8px;
  margin-top: 5px;

  &.fieldset-open {
    border: 1px #ddd solid;
    margin-bottom: 10px;

    a:after {
      top: -3px;
      border-top: 5px solid;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }

  &.fieldset-closed {
    border-top: 1px #ddd solid;
    padding: 8px 9px;

    legend {
      margin-bottom: 0;
    }

    a:after {
      top: -6px;
      border-left: 5px solid;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
  }

  legend {
    width: auto;
    margin-left: -3px;
    display: block;
    font-weight: bold;
    padding: 5px;
    padding-right: 30px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: inherit;
    color: #333333;
    border: 0;

    a {

      position: relative;

      &:hover {
        text-decoration: none;
      }

      &:after {
        z-index: 0;
        margin: 10px;
        content: "";
        position: absolute;
        color: inherit;
        width: 0;
        height: 0;
      }
    }
  }
}
