.find-in-ace {
  position: absolute;
  top: 10px;
  right: 70px;
  z-index: 10;
  color: #ccc;

  .find-in-ace-form {
    position: absolute;
    right: 7px;
    background: #333333;
    width: 220px;
    padding: 7px;
    border-radius: 5px;

    &.ng-hide {
      opacity: 0;
      width: 0;
      font-size: 1px;
      max-height: 115px;
    }

    &.ng-hide-add, &.ng-hide-remove {
      -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
      -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
      -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
      transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

      .find-in-ace-options {
        display: none;
      }
    }

    .find-in-ace-options {
      margin-top: 7px;

      .find-in-ace-options-left {
        left: 5px;
      }

      .find-in-ace-options-right {
        margin-right: 0;
        position: absolute;
        left: 130px;
      }
    }
  }

  .find-in-ace-icon {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    color: #ccc;
    vertical-align: middle;
    background: #333333;
    padding: 7px;
    border-radius: 18px;
    cursor: pointer;
  }
}

