/*
Generic reset.
*/

* {
  padding: 0;
  margin: 0;
}

.test {
  border: 5px red solid;
  padding: 10;
  margin: 10;
  font-family: "Times New Roman";
  font-style: italic;
}

/*
Styles for nodes and connectors.
*/

.node-rect {
  stroke: #d1d1d1;
  fill:#f0f0f0;
  stroke-width: 1px;
  rx:5px;
  ry:5px;
}

.mouseover-node-rect {
  stroke: #d1d1d1;
    fill:#f0f0f0;
rx:5px;
  ry:5px;
  stroke-width: 2;
}

.selected-node-rect {
  stroke: #428bca;
  stroke-width: 2;
    fill:#f0f0f0;
    rx:5px;
  ry:5px;

}

.connector-circle {
  fill: white;
  stroke: #d1d1d1;
  stroke-width: 1;
}

.mouseover-connector-circle {
  fill: white;
  stroke: black;
  stroke-width: 2;
}

/*
Style for connections.
*/

.connection {
}

.connection-line {
  stroke: black;
  stroke-width: 3;
  fill: transparent;
}

.mouseover-connection-line {
  stroke: gray;
  stroke-width: 4;
  fill: transparent;
}

.selected-connection-line {
  stroke: #428bca;
  stroke-width: 3;
  fill: transparent;
}

.connection-endpoint {
  fill: black;
}

.selected-connection-endpoint {
  fill: #428bca;
}

.mouseover-connection-endpoint {
  fill: black;
}

.connection-name{
  fill: black;
}

.selected-connection-name{
  fill: #428bca;
}

.mouseover-connection-name{
  fill: gray;
}
/*
Style for the connection being dragged out.
*/

.dragging-connection {
  pointer-events: none;
}

.dragging-connection-line {
  stroke: gray;
  stroke-width: 3;
  fill: transparent;
}

.dragging-connection-endpoint {
  fill: gray;
}

/*
The element (in this case the SVG element) that contains the draggable elements.
*/

.draggable-container {
  border: solid 1px blue;
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
  stroke: blue;
  stroke-width: 2;
  fill: transparent;
}

text.node-title {
  font-weight: 700;
}

.erd-model-button {
  background-color: #ededed;
}

svg.draggable-container {
  margin-bottom: 5px;
}

.delete-connection-indicator {
  fill: #ff0000;
  font-size: 30px;
}
