.list-group-item {
    padding: 15px;
    border: 1px solid $state-default-border-light;
}

.list-info {
    li {
        padding: 10px;
        border-bottom: 1px solid #eee;
        &:last-child {
            border-bottom: none;
        }
        .icon {
            margin-right: 10px;
            color: $brand-primary;
        }
        label {
            width: 100px;
        }
    }
}

.list-group {
    &.list-group-with-tabs {
        >.list-group-item {
            .list-group-item-header,
            .list-group-item-body {
                position: relative;
            }
            .list-group-item-header {
                .list-group-item-heading {
                    display: inline-block;
                    margin: 0;
                    font-weight: 600;
                    font-family: "Open Sans", sans-serif;
                }
                .list-group-item-toolbar {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            .list-group-item-body {
                padding-top: 15px;
            }
        }
    }
}