.list-group-item {
    padding: 15px;
    border: 1px solid $state-default-border-light;
}

.list-info {
    li {
        padding: 10px;
        border-bottom: 1px solid #eee;
        &:last-child {
            border-bottom: none;
        }
        .icon {
            margin-right: 10px;
            color: $brand-primary;
        }
        label {
            width: 100px;
        }
    }
}

.list-group {
    >.list-group-item {
        &.active {
            color: #333;
            font-weight: 600;
            &.gray {
                background-color: #f7f7f7;
                border-color: #efefef;
            }
            &.brand {
                background-color: #f9e0d7;
                border-color: #f7ccbc;
            }
        }
    }
    &.list-group-with-tabs {
        >.list-group-item {
            .list-group-item-header,
            .list-group-item-body {
                position: relative;
            }
            .list-group-item-header {
                .list-group-item-heading {
                    display: inline-block;
                    margin: 0;
                }
                .list-group-item-toolbar {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            .list-group-item-body {
                padding-top: 15px;
            }
        }
    }
}