// .popover {}

.popover {
  max-width: 500px;
}

.no-bullets-list li {
  list-style-type: none;
}

.popover ol li {
  margin-left: 5px;
}

.popover-title {
  font-size: 16px;
}

.popover {
  width: 450px;
}

.popover ol li {
  padding-bottom: 7px;
}
