<div class="modal-header">
  <h3>{{ ConfirmModelUpdate.text.title }}</h3>
</div>
<div class="modal-body">
  <span>
      <label><span>{{ ConfirmModelUpdate.text.message }}</span></label>
  </span>
  <br>

  <ul>
    <li ng-repeat="notification in ConfirmModelUpdate.notifications">{{ notification }}</li>
  </ul>

  <a href="" ng-if="ConfirmModelUpdate.validationResponse.alter" ng-click="ConfirmModelUpdate.detailsOpen = !ConfirmModelUpdate.detailsOpen">{{ ConfirmModelUpdate.detailsOpen ? 'less' : 'more'}} details</a>
  <div ng-show="ConfirmModelUpdate.detailsOpen">
    <label>The following operations will be performed:</label>
    <ul>
      <li ng-repeat="alter in ConfirmModelUpdate.validationResponse.alter">{{alter}}</li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-if="ConfirmModelUpdate.text.okButton" ng-click="ConfirmModelUpdate.closeValidationModal(true)">{{ ConfirmModelUpdate.text.okButton }}</button>
  <button class="btn btn-default" ng-click="ConfirmModelUpdate.closeValidationModal(false)">{{ ConfirmModelUpdate.text.cancelButton }}</button>
</div>
