<div class="db-footer">
  <button type="submit" class="btn btn-success btn-lg btn-w-lg"
          ladda="Model.loading" data-style="expand-right"
          ng-click="Model.saveSchema()">Validate & Update</button>
  <button class="btn btn-info btn-lg btn-w-lg pull-right"
          ng-click="Model.showHelp()">Help</button>
</div>

<div ng-cloak>
  <angled-window ng-show="Model.showHelpDialog"
                 title="Help"
                 id="help"
                 grouping="w"
                 close-function="Model.showHelpDialog=false"
                 rolled-up="false"
                 css-class="model-help">
    <div ng-include="'views/docs/orm_help.html'"></div>
  </angled-window>
</div>

<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong test-hook="database-edit.title"> {{Model.appName}} - model configuration</strong>

      <div us-spinner spinner-key="loading" spinner-start-active="true"></div>
    </div>
    <div class="panel-body">
        <div class="row">
          <div class="db-panel-body-explanation">
            <h3>Edit the application model</h3>
            <h4>Backand's model provides an abstraction layer on top of your database, giving you easy access to update
              the database schema - <a href="" ng-click="Model.showHelp()">Need help?</a></h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-lg-9">
            <span style="font-size: large;">Edit model</span>
            <a href="" ng-click="Model.toggleShowDiff()">{{Model.showDiffs ? 'hide' : 'show'}} diff</a>

            <span style="font-size: large;" class="pull-right">Current model (read-only)</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-lg-9 ">
            <div class="model-diff-container">
              <ba-ace-diff ace-diff-options="Model.aceDiffOptions"
                           differ="Model.differ"
                           left-editor="Model.schemaEditor"
                           right-editor="Model.oldSchemaEditor"
                           class="model-edit-ace-diff">
              </ba-ace-diff>
            </div>
            <p><strong>** Id is added to all objects automatically, please do not add it yourself</strong></p>

          </div>

          <div class="col-md-4 col-lg-3 model-types-container">
            <span class="db-types-title">Field Types</span>
            <span><ba-tooltip tooltip-text="Click on a type to insert it in the editor"></ba-tooltip></span>
            <br/>

            <div class="db-types" ng-repeat="fieldType in Model.fieldTypes" ng-click="Model.insertTypeAtChar(fieldType)"
                 ng-mouseover="fieldHover = true">
              <i class="ti-angle-left"></i>
              {{fieldType}}
            </div>
            <br/>

            <div class="db-note">
              <p>
                In <b>one to many relationship</b> between objects user and pets:</br>
                In the many side of the relationship (object pets), we specify that each row relates to one row in the
                other object user.<br/>
                <b>"owner": { "object": "user" }</b></br>
                In the one side of the relationship (object user), we specify that each row relates to several rows in
                pets:<br/>
                <b>"dogs": { "collection": "pet", "via": "owner" }</b>
              </p>
            </div>

          </div>
      </div>
    </div>
  </section>
</section>
