<div class="db-footer">
  <unsaved-changes is-unsaved="isUnsaved"></unsaved-changes>
  <button type="submit" class="btn btn-validate btn-lg btn-w-lg"
          ladda="Model.loading" data-style="expand-right" style="width: auto;"
          ng-click="Model.saveSchema()">Validate & Update</button>
</div>

<div ng-cloak>
  <angled-window ng-show="Model.showHelpDialog"
                       title="Help"
                       id="help"
                       grouping="w"
                       close-function="Model.closeHelp()"
                       rolled-up="false"
                       css-class="model-help">
  <div ng-include="'views/docs/orm_help.html'"></div>
</angled-window>
</div>

<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
     <button type="submit" class="btn btn-validate pull-right btn-md btn-w-md" style="margin-top: -6px; width: auto;"
          ladda="Model.loading" data-style="expand-right"
          ng-click="Model.saveSchema()">Validate & Update</button>

      <unsaved-changes is-unsaved="isUnsaved" class="unsaved-changes-top"></unsaved-changes>

      <strong test-hook="database-edit.title">model configuration</strong>

      <div class="model-spinner" us-spinner spinner-key="loading" spinner-start-active="true"></div>
    </div>

    <div class="panel-body">
      <div>

        <div class="ui-tab-container tab-model-container ui-tab-horizontal">
          <tabs data="Model.tabs" type="tabs" />
          <div class="tab-content" ui-view></div>

        </div>
        <br/>
      </div>
    </div>

  </section>
</section>
