<div class="modal-header">
  <h3 class="modal-title">New Password - User {{ChangeUserPassword.userData.username}}</h3>
</div>

<form novalidate name="ChangeUserPasswordForm">

  <div class="modal-body clearfix">

    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Password</label>
      <input type="password"
             name="password"
             class="form-control"
             ng-model="ChangeUserPassword.userData.password"
             ng-model-options="{debounce:{default:400}}"
             ng-minlength="6"
             ng-maxlength="20"
             required
             autofocus>
      <div class="text-danger" ng-show="ChangeUserPasswordForm.password.$error.minlength">
        Password must be at least 6 characters
      </div>
      <div class="text-danger" ng-show="ChangeUserPasswordForm.password.$error.email">
        This is not a valid password
      </div>
    </div>

    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Confirm Password</label>
      <input type="password"
             name="confirm_password"
             class="form-control"
             ng-model="ChangeUserPassword.confirmPassword"
             ng-model-options="{debounce:{default:400}}"
             ba-match="ChangeUserPassword.userData.password"
             required>
      <div class="text-danger" ng-show="ChangeUserPasswordForm.confirm_password.$error.match">
        Please re-enter the same password as above
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ChangeUserPassword.savePassword()" ng-disabled="ChangeUserPasswordForm.$invalid">Change Password</button>
    <button class="btn btn-default" ng-click="ChangeUserPassword.cancelNewPassword()">Cancel</button>
  </div>
</form>
