<div class="modal-header">
  <h3 class="modal-title" ng-bind="modal.title"></h3>
</div>

<div class="modal-body clearfix">

  <form novalidate name="newUserform">

    <div class="form-group col-lg-12 col-md-12 col-sm-12">
    <label>Email</label>
    <input type="text"
           class="form-control"
           ng-model="user.email"
           ng-model-options="{debounce:{default:400}}"
           required
           placeholder="This will be the user's username">
    </div>

    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>First name</label>
      <input type="text"
             class="form-control"
             ng-model="user.firstName"
             ng-model-options="{debounce:{default:400}}"
             required>
    </div>

    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Last name</label>
      <input type="text"
             class="form-control"
             ng-model="user.lastName"
             ng-model-options="{debounce:{default:400}}"
             required>
    </div>

    <div class="form-group col-lg-12 col-md-12 col-sm-12" >
      <label>User Role</label>
      <select class="form-control"
              ng-model="user.role"
              ng-model-options="{debounce:{default:400}}"
              required>
        <option ng-repeat="role in modal.roles">{{role}}</option>
      </select>
    </div>

    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Password</label>
      <input type="password"
             name="password"
             class="form-control"
             ng-model="user.password"
             ng-model-options="{debounce:{default:400}}"
             ng-minlength="6"
             ng-maxlength="20"
             required>
      <div class="text-danger" ng-show="newUserform.password.$error.minlength">
        Password must be at least 6 characters
      </div>
      <div class="text-danger" ng-show="newUserform.password.$error.email">
        This is not a valid password
      </div>
    </div>

    <div class="form-group col-lg-12 col-md-12 col-sm-12">
      <label>Confirm Password</label>
      <input type="password"
             name="confirm_password"
             class="form-control"
             ng-model="user.confirmPassword"
             ng-model-options="{debounce:{default:400}}"
             ba-match="user.password"
             required>
      <div class="text-danger" ng-show="newUserform.confirm_password.$error.match">
        Please re-enter the same password as above
      </div>
    </div>
  </form>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="closeModal(user)" ng-bind="modal.okButtonText"></button>
  <button class="btn btn-default" ng-click="cancel()" ng-bind="modal.cancelButtonText"></button>
</div>
