<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> {{users.title}} </strong>

      <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>
    <div class="panel-body">
      <br>

      <div class="row" ng-if="users.adminMode">
        <div class="form-group col-sm-7">
          <input type="text" class="form-control col-sm-7" id="inviteAdminEmails" ng-model="users.invitedAdmins"
                 placeholder="Admin Email Address -  Use comma for multiple users"/></div>
        <div class="col-sm-3">
          <button type="button" ng-disabled="!users.invitedAdmins" id="addAdminInvites"
                  class="btn btn-default btn-success "
                  ng-click="users.inviteAdmins()">Invite Admin User(s)
          </button>
        </div>
      </div>
      <div class="row" ng-if="!users.adminMode">
        <div class=" form-group col-sm-7">
          <label for="inviteUsersEmails"></label> Invite users to access the application with role
          '{{users.defaultUserRole}}'. If "Public App"
          is Off then this is the only way to add users to the app.</lable>
        </div>

        <div class=" form-group col-sm-7">
          <input type="text" class="form-control  col-sm-7" id="inviteUsersEmails" ng-model="users.invitedUsers" ng-disabled="users.registrationRedirectUrl == ''"
                 placeholder="Email Address -  Use comma for multiple users"/>
        </div>
        <div class="col-sm-3">
          <button type="button" ng-disabled="!users.invitedUsers || users.registrationRedirectUrl == ''" id="addUserInvites" class="btn btn-success"
                  ng-click="users.inviteUsers()">Invite User(s)</button>
        </div>

        <div class="form-group col-sm-7">
          <div class="field-description" ng-if="users.registrationRedirectUrl == ''">Note: Invite users is enabled only when the registration page is ready. To update the custom registration page URL go to <a href="" ng-click="users.goTo('security.auth')">Security Configuration</a></div>
        </div>
        <br/>
      </div>

      <div class="actions-bar row">
        <div class="col-md-8">
          <h3 class="page-name">{{users.title}}</h3>
          <h4 class="page-description">Mange your {{users.title}} here - To update user's details double click in the cell</h4>
        </div>
        <div class="col-md-4 form-inline form-action-top ">
          <div class="input-group ">
            <select class="form-control"
                    ng-options="action for action in users.actions"
                    ng-model="users.action"
                    ng-model-options="{debounce:{default:400}}">
              <option value="">Select Action...</option>
            </select>
              <span class="input-group-btn">
                 <button class="btn btn-success" type="button" ng-click="users.delete()" ng-disabled="users.action==''">
                   Go
                 </button>
              </span>
          </div>
        </div>


      </div>
      <div us-spinner spinner-key="loading"></div>
      <div id="usersGrid" ui-grid="users.gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-selection
           class="grid"></div>
      <!--pagination-->
      <div ng-show="users.gridOptions.totalItems == 0">
        <h3>No {{users.title}}</h3>
      </div>
      <div ng-show="users.gridOptions.totalItems > 0" class="row">
        <div class="col-md-5">
          <pagination total-items="users.gridOptions.totalItems" ng-model="users.paginationOptions.pageNumber"
                      max-size="5" class="pagination-sm" boundary-links="true" rotate="false"
                      items-per-page="users.paginationOptions.pageSize" previous-text="&lsaquo;"
                      next-text="&rsaquo;"></pagination>
        </div>
        <div class="col-md-2" style="margin-top:20px;">
          Page size:
          <select class="ui-select" ng-model="users.paginationOptions.pageSize">
            <option ng-repeat="size in users.paginationOptions.pageSizes">{{size}}</option>
          </select>
        </div>
        <div class="col-md-5" style="margin-top:20px;">
          <span class="pull-right">Showing {{users.paginationOptions.pageSize * (users.paginationOptions.pageNumber-1) +1}} to {{users.pageMax(users.paginationOptions.pageSize, users.paginationOptions.pageNumber, users.gridOptions.totalItems)}} of {{users.gridOptions.totalItems}} rows</span>
        </div>
      </div>
    </div>
  </section>
</section>
