<div class="page ng-scope">
  <div class="create-app-starter-app-select">
    <div class="platform-nav">
      <div ng-repeat="platform in starterApp.platforms" class="platform-choice-nav"
           ng-class="{'platform-choice-nav': true, 'active-platform': platform.platform === starterApp.selectedPlatform,
           'inactive-platform': platform.platform !== starterApp.selectedPlatform}"
        ng-click="starterApp.changePlatform(platform.platform)">
        <img src="{{platform.icon}}">
        <span>{{platform.platform}}</span>
      </div>
    </div>
    <div class="starter-app-columns-wrapper">
      <div class="starter-app-select-content">
        <h3>{{starterApp.selectedPlatform}}</h3>

        <h2>Select your Starter App</h2>

        <div class="starter-apps-container">
          <div class="flex-row" ng-repeat="starterAppsRow in starterApp.starterApps">
            <div class="backand-starter-app" ng-repeat="starterAppOption in starterAppsRow"
                 ng-click="starterApp.chooseStarterApp(starterAppOption)">
              <img src="{{starterAppOption.image}}">
              <span>{{starterAppOption.name}}</span>
            </div>
          </div>
          <add-app-template ng-if="starterApp.selectedStarterApp"></add-app-template>
        </div>
        <add-app-template class="side-box" ng-if="!starterApp.selectedStarterApp"></add-app-template>
      </div>
      <div class="starter-app-description" ng-if="starterApp.selectedStarterApp">
        <div class="starter-app-description-top">
          <h2>{{starterApp.selectedStarterApp.name}}</h2>
          <span>{{starterApp.selectedStarterApp.price || 'Free'}}</span>
        </div>
        <div class="starter-app-description-content">
          <p>{{starterApp.selectedStarterApp.description}}</p>

          <div class="horizontal-slideshow">
            <img ng-repeat="imgPath in starterApp.selectedStarterApp.images" src="{{imgPath}}">
          </div>
        </div>
        <div class="starter-app-description-footer">
          <button class="btn btn-success">Select App</button>
          <a href="{{starterApp.selectedStarterApp.github}}">View on GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
