<form name="filterForm.form"
      ng-submit="filterForm.submit()"
      novalidate
      class="bknd-filter-form"
      ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">

  <div class="form-group">
    <fieldset>
      <div class="form-group form-inline" ng-repeat="predicate in filterForm.query track by $index">

        <!-- Select field to filter by -->

        <span class="ui-select" ng-hide="predicate.field">
          <select class="form-control"
                  ng-model="predicate.field"
                  ng-options="field.name for field in filterForm.fields"
                  ng-change="filterForm.onFieldSelected(predicate)"></select>
        </span>

        <!-- Field is selected - select operator and value -->

        <span ng-show="predicate.field">
          <label class="form-group" ng-bind="predicate.field.name"></label>

          <!-- Operator -->

          <span class="ui-select">
            <select class="form-control"
                    ng-change="filterForm.submit()"
                    ng-model="predicate.operator"
                    ng-options="operator for operator in filterForm.operators[predicate.field.type]"></select>
          </span>

          <!-- Value -->

          <fieldset ng-switch on="predicate.field.type"
                    ng-disabled="filterForm.disableValue(predicate.operator)">

            <span ng-switch-when="Boolean" class="filter-form-bool">
              <span class="input-group">
                <span class="input-group-addon"
                      ng-class="predicate.value === 'false' ? 'ba-icon-icon-field-type-false' : 'ba-icon-icon-field-type-true'"></span>
                <span class="ui-select">
                  <select class="form-control"
                        name="predicate.key"
                        ng-model="predicate.value"
                        ng-change="filterForm.submit()"
                        ng-options="bool for bool in ['true', 'false']"></select>
                </span>
              </span>
            </span>

            <span ng-switch-when="DateTime" class="filter-form-date">
              <span class="input-group">
                <span class="input-group-addon ti-calendar"></span>
                <input type="date"
                       class="editable-has-buttons editable-input form-control"
                       ng-model="predicate.value"
                       ng-change="filterForm.submit()"/>
              </span>
              <span class="input-group">
                <span class="input-group-addon ti-time"></span>
                <input type="time"
                       class="editable-has-buttons editable-input form-control"
                       ng-model="predicate.value"
                       ng-change="filterForm.submit()"/>
              </span>
            </span>

            <span ng-switch-when="select" class="input-group">
              <span class="input-group-addon ba-icon-icon-field-type-text"></span>
              <input type="text"
                     class="form-control"
                     ng-model="predicate.value"
                     ng-change="filterForm.submit()"/>
            </span>

            <span ng-switch-when="Numeric" class="input-group">
              <span class="input-group-addon ba-icon-icon-field-type-number"></span>
              <input type="text"
                     class="form-control"
                     name="predicate.key"
                     ng-model="predicate.value"
                     ng-change="filterForm.submit()"/>
            </span>

            <span ng-switch-default class="input-group">
              <span class="input-group-addon ba-icon-icon-field-type-text"></span>
              <input type="text"
                     class="form-control"
                     ng-model="predicate.value"
                     ng-change="filterForm.submit()"/>
            </span>
          </fieldset>

        </span>

        <i class="fa fa-close close-button" ng-click="filterForm.removePredicate(predicate)"></i>

        </div>

        <div ng-show="filterForm.showAddButton()">
          <a href="" class="btn btn-success btn-xs btn-wide" ng-click="filterForm.addRow()">
            <i class="ti-plus"></i> ADD CONDITION</a>
        </div>

    </fieldset>


  </div>
</form>
