<div>

  <div class="row security-header">
    <div class="col-lg-12 form-group">
      <label class="strong" for="PermanentFilter">Pre-defined Filter</label>

      <form name="filterCodeForm" class="form-inline" ng-submit="security.getFilterCode()" novalidate>
        Filter <b>{{ security.currentObjectName }}</b> for current user session based on
        <div class="form-group">
          <label class="sr-only" for="userObject">User Object</label>
          <select id="userObject"
                  class="ui-select"
                  ng-model="security.filter.userObjectName"
                  ng-options="object.name as object.name for object in security.appObjects"
                  ng-change="security.getUserObjectFields()"
                  required
                  style="min-width: 130px; vertical-align: text-bottom;"></select>
        </div>
        object by
        <div class="form-group">
          <label class="sr-only" for="emailField">Email</label>
          <select id="emailField"
                  class="ui-select"
                  ng-model="security.filter.emailField"
                  ng-options="field.name as field.name for field in security.filter.userObjectFields"
                  required
                  style="min-width: 130px; vertical-align: text-bottom;"></select>
        </div>
        field.

        <button class="btn btn-success pull-right" ng-disabled="filterCodeForm.$invalid">Get Code</button>
      </form>

      <div class="pull-right">
        <span class="ti-anchor" style="cursor: pointer;font-size:20px;" ng-click="security.toggleOptions()"></span>
      </div>
      <div ng-cloak>
        <angled-window ng-show="security.dictionaryState"
                       id="{{winId}}"
                       title="App Tokens"
                       grouping="w"
                       close-function="security.toggleOptions()"
                       style="left: 550px; top: -50px; height:400px;">
          <div ng-include="'views/tables/security/pre_defined_window.html'"></div>
        </angled-window>
      </div>

      <div ng-show="sqlFilter === 'NoSQL'" class="pull-right"><button class="btn btn-info" ng-click="security.transformNoSQL()">Validate</button></div>

      <label for="radio-no-sql" class="ui-radio"><input id="radio-no-sql" type="radio" ng-model="sqlFilter" value="NoSQL"><span>NoSQL</span></label>
      <label for="radio-sql" class="ui-radio"><input id="radio-sql" type="radio" ng-model="sqlFilter" value="SQL"><span>SQL</span></label>

      <label><a ng-show="sqlFilter === 'NoSQL'" href="" ng-click="showSQL = !showSQL">{{ showSQL ? 'hide' : 'show' }} SQL</a></label>

      <p ng-show="security.filterError" class="text-danger">Error: {{ security.filterError }}</p>

      <textarea ng-show="sqlFilter === 'NoSQL'" id="PermanentJsonFilter" ng-model="security.view.dataEditing.permanentNoSqlFilter"
                name="permanentNoSqlFilter"
                class="form-control no-show-hide-animation"
                placeholder="{{security.placeHolderJson}}"
                insert-at-caret></textarea>

      <textarea ng-show="sqlFilter === 'SQL' || showSQL" id="PermanentFilter" ng-model="security.view.dataEditing.permanentFilter"
                name="PermanentFilter"
                class="form-control no-show-hide-animation"
                ng-blur="security.savePermanentFilter()"
                placeholder="{{security.placeHolderSql}}"
                ng-disabled="sqlFilter === 'NoSQL'"
                insert-at-caret></textarea>

      <div class="field-description">
        The pre-defined filter is used to load data based on rules that can not be overwritten.
        For example, load only the projects associated with the current logged in user
      </div>
    </div>
  </div>

  <div class="row security-header">
    <div class="col-lg-2">
    <label class="strong" >Security Template</label>
      <select class="form-control"
              ng-options="workspace.__metadata.id as workspace.workspaceName for workspace in security.workspaces"
              ng-model="security.currentST"
              ng-disabled="security.view.permissions.overrideinheritable">
      </select>
    </div>
    <div class="col-lg-2">
      <div class="override-template"><label> override</label>
        <label class="ui-switch ui-switch-success ui-switch-sm" for="override-checkbox">
          <input id="override-checkbox" type="checkbox" ng-model="security.view.permissions.overrideinheritable"/><i></i>
        </label>
      </div>
    </div>
  </div>
  <security-matrix security-template="security.sTemplate"
                   override="security.view.permissions.overrideinheritable"
                   on-update="security.templateChanged(template)"
                   on-role-add="security.templateRoleAdd(role)"
                   on-role-rename="security.templateRoleRename(role, newRole)"
                   on-role-remove="security.templateRoleRemove(role)"
    ></security-matrix>

</div>
