<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> Functions </strong>
      <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>
    <div class="panel-body">
      <div>
        The functions<br/>
        <ba-help-link key="securityActions"></ba-help-link>
      </div>
      <div class="field-group">
        <div class="group-inner">
          <ng-include src="'views/functions/functions.html'"></ng-include>
        </div>
      </div>
    </div>
  </section>
</section>
