<div us-spinner="" spinner-key="loading" spinner-start-active="true"></div>
<section class="page-form-ele page page-external-functions">
  <div class="row no-gutters">
    <div class="col-md-8">
      <h2 class="page-title"> External Storage </h2>
    </div>
    <div class="col-md-4 text-right">
      <button class="pull-right btn btn-backand" data-ng-click="$ctrl.addNewStorageProvider()"> Add Provider's Account</button>
    </div>
  </div>
  <section class="panel m-t-md">
    <div class="panel-body">
      <providers-list data-type="'Storage'" on-load="$ctrl.onLoadProviders(providers)"></providers-list>
    </div>
  </section>
</section>