<form name="$ctrl.awsForm" novalidate data-ng-submit="$ctrl.saveConnection()">
  <div us-spinner="" spinner-key="connectionView" spinner-start-active></div>
  <div class="form-group">
    <label>Use your aws credentials to get Lambda functions.<ba-tooltip tooltip-text="Lorem ipsum is a placeholder text (filler text) in publishing and graphic design. It is used to demonstrate the graphics elements of a document, such as font, typography, and layout." tooltip-placement="right" ><i class="ti-info-alt"></i></ba-tooltip></label>
  </div>
  <div class="form-group">
    <label for="aws-access-key" class="control-label">Access Key</label>
    <input type="text" class="form-control" id="aws-access-key" placeholder="Access Key" ng-model="$ctrl.aws.AccessKeyId" required>
  </div>
  <div class="form-group">
    <label for="aws-secret-key" class="control-label">Secret Key</label>
    <input type="text" style=" -webkit-text-security: disc !important;" class="form-control" placeholder="Secret Key" id="aws-secret-key" ng-model="$ctrl.aws.EncryptedSecretAccessKey"
      data-ng-required="!$ctrl.aws.Id">
  </div>
  <div class="form-group">
    <label for="aws-region" class="control-label">Region</label>
    <tags-input class="theme-green" placeholder="Region Name" add-from-autocomplete-only="true" ng-model="$ctrl.aws.AwsRegion"
      display-property="Name" min-length="0">
      <auto-complete source="$ctrl.loadAwsRegion($query)" load-on-focus="true" load-on-empty="true" min-length="0" load-on-down-arrow="true"></auto-complete>
    </tags-input>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-success" data-ng-disabled="$ctrl.awsForm.$invalid">Link</button>
    <button type="button" class="btn btn-link" data-ng-click="$ctrl.modalInstance.dismiss('cancel')" data-ng-if="$ctrl.view === 'modal'">Will do later</button>

    <button type="button" class="btn btn-default" data-ng-if="$ctrl.view !== 'modal' && $ctrl.aws.Id" data-ng-click="$ctrl.deleteConnection($ctrl.aws.Id)"><i class="glyphicon glyphicon-trash"></i> Remove</button>
  </div>
</form>