<br/>
<button class="btn btn-success"
        ng-click="addRole()">+</button>

<table class="table table-striped" style="table-layout: fixed">

  <thead>
  <tr>
    <th class="text-center">ROLE</th>
    <th class="text-center">READ</th>
    <th class="text-center">WRITE</th>
    <th class="text-center">EDIT</th>
    <th class="text-center">DELETE</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="role in template">

        <td ng-if="!role.editMode"
            class="text-center" editable-text="role.title">{{ role.title }}</td>

      <td class="text-center">
        <input ng-checked="role.permissions.read"
               ng-disabled="!override"
               type="checkbox"/>
      </td>
      <td class="text-center">
        <input ng-checked="role.permissions.write"
               ng-disabled="!override"
               type="checkbox"/>
      </td>
      <td class="text-center">
        <input ng-checked="role.permissions.edit"
               ng-disabled="!override"
               type="checkbox"/>
      </td>
      <td class="text-center">
        <input ng-checked="role.permissions.delete"
               ng-disabled="!override"
               type="checkbox"/>
      </td>
  </tr>
  </tbody>

</table>

