<table class="table table-striped" style="table-layout: fixed">

  <thead>
  <tr>
    <th>ROLE</th>
    <th class="text-center" ng-repeat="action in actions" ng-bind="action.toUpperCase()"></th>
  </tr>
  </thead>

  <tbody>

  <tr ng-repeat="role in securityTemplate">

        <!--<td ng-if="override"-->
            <!--editable-text="role.title">{{ role.title }}</td>-->
      <td ng-if="override && !role.readonly"><a  href="" ng-click="OpenRole(role.title, 'update')" ng-bind="role.title"></a></td>
      <td ng-if="!override || role.readonly" ng-bind="role.title"></td>

      <td class="text-center" ng-repeat="action in actions">
        <input ng-checked="role.permissions[action]"
               ng-disabled="!override"
               ng-model="role.permissions[action]"
               type="checkbox"/>
      </td>

  </tr>
  </tbody>

</table>
<button class="btn btn-primary"
        ng-if="override && showAddRole"
        ng-click="OpenRole(role.name, 'new')">+ Add Role</button>

