<div class="form-group">
  <label for="name" class="control-label">Connection Name</label>
  <input type="text" class="form-control" id="name" placeholder="Enter Connection Name" ng-model="$ctrl.cloudProvider.Name"
    required>
</div>
<div class="form-group">
  <label for="access-key" class="control-label">Access Key</label>
  <input type="text" class="form-control" id="access-key" placeholder="Access Key" ng-model="$ctrl.cloudProvider.accessKey"
    required>
</div>
<div class="form-group">
  <label for="gate-way" class="control-label">Gate Way</label>
  <input type="text" class="form-control" id="gate-way" placeholder="Gate Way" ng-model="$ctrl.cloudProvider.gateway"
    required>
</div>
<div class="form-group">
  <label for="aws-region" class="control-label">AWS Regions</label>
  <tags-input class="theme-brand" placeholder="AWS Region" add-from-autocomplete-only="true" ng-model="$ctrl.cloudProvider.AwsRegion"
    display-property="Name" min-length="0" template="regions-template.html">
    <auto-complete source="$ctrl.loadRegion($query)" load-on-focus="true" load-on-empty="true" min-length="0" load-on-down-arrow="true"
      template="regions-autocomplete-template.html"></auto-complete>
  </tags-input>
</div>

<script type="text/ng-template" id="regions-template.html">
  <div class="tag-template">
    <div>
      <span>{{$getDisplayText()}} - {{data.Code}}</span>
      <a class="remove-button" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol"></a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="regions-autocomplete-template.html">
  <div class="autocomplete-template">
    <div class="right-panel">
      <span ng-bind-html="$highlight($getDisplayText())"></span>
      <span> - {{data.Code}}</span>
    </div>
  </div>
</script>