<div
     style="height:500px; overflow:auto">

      <form role="form"  >

        <div class="form-group" >
          <label for="jsonName">Name</label>
          <input  type="text" class="form-control" id="jsonName"
                 ng-model="singleTable.view.name">
        </div>
        <div class="form-group" >
          <label for="dbName">Database Name</label>
          <input disabled type="text" class="form-control" id="dbName"
                  ng-model="singleTable.view.databaseName">
        </div>
        <div class="form-group" >
          <label for="dbName">Descriptive Column</label><!--singleTable.view.columnDisplayinTitle-->
          <select  class="form-control"  ng-model="singleTable.view.columnDisplayinTitle">
            <option ng-repeat="field in singleTable.fields" value="{{field.name}}">{{field.name}}</option>
          </select>

        </div>
        <div class="form-group">
          <label  for="History">History</label>
          <label class="pull-right ui-switch ui-switch-success ui-switch-sm"><input  id="History" type="checkbox" ng-model="singleTable.view.toolbarSettings.saveHistory" checked=""><i></i></label>
        </div>
        <div class="form-group">
          <label  for="PermanentFilter">Permanent Filter</label>
          <textarea  id="PermanentFilter" ng-model="singleTable.view.dataEditing.permanentFilter" class="form-control" ></textarea>
        </div>
        <div class="form-group">
          <label  for="DefaultSort">Default Sort</label>
         <input  id="DefaultSort" ng-model="singleTable.view.dataEditing.defaultSort" class="form-control"/>
        </div>


      </form>

    </tab>
  </tabset>
</div>
