<div class="nav-wrapper">
  <ul id="nav2" class="nav" collapse-nav>
    <li class="apps-header" ng-click="showAppList = !showAppList" ng-class="{'app-list-open': showAppList}">
      <a>
        <span>{{nav.currentAppName}}</span>
        <div class="down-triangle"></div>
      </a>
      <ul class="apps-list pre-scrollable">
        <li ng-repeat="app in nav.apps.list" ng-click="nav.goToApp(app.Name)">
          <span>{{app.Name}}</span>
          <div us-spinner="{color: 'black'}" spinner-key="loading-{{ ::app.Name}}" spinner-start-active style="position:relative; left:50px;"></div>
        </li>
      </ul>
    </li>
    <li ng-class="{active: nav.state == 'app.edit', disabled: nav.DatabaseStatus != 1}">
      <a ng-click="nav.goTo($event, 'app.edit')">
        <i class="ba-icon-general front-icons"></i>
        <span>General</span>
      </a>
    </li>
    <li ng-class="{active: nav.state == 'app.configuration'}">
      <a ng-click="nav.goTo($event, 'app.configuration')">
        <i class="fontello-icon-configuration_2 front-icons"></i>
        <span style="padding-left: 11px;">App Configuration</span>
      </a>
    </li>
    <li ng-class="{active: nav.state == 'security.team', disabled: nav.DatabaseStatus != 1}">
      <a ng-click="nav.goTo($event, 'security.team')">
        <i class="ba-icon-admins front-icons"></i>
        <span style="padding-left: 18px;">Team</span>
      </a>
    </li>
    <li ng-class="{active: nav.$state.includes('hosting') }">
      <a href="">
        <i class="fontello-icon-hosting front-icons"></i>
        <span>Hosting</span>
        <i class="glyphicon glyphicon-hosting"
           ng-class="showHosting == true ? 'glyphicon-chevron-right' : 'glyphicon-chevron-right'"></i>
      </a>
      <ul>
        <li ng-class="{active: nav.state == 'docs.hosting', disabled: nav.DatabaseStatus != 1}">
          <a ng-click="nav.goTo($event, 'docs.hosting')">
            <i class="ba-icon-configuration"></i>
            <span>Configuration</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'hosting.hosting_tree', disabled: nav.DatabaseStatus != 1}">
          <a ng-class="{disabled: nav.DatabaseStatus != 1}" ng-click="nav.goTo($event, 'hosting.hosting_tree')" href="">
            <i class="ba-icon-icon-hosting"></i>
            <span>Hosting Files</span>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{open: nav.$state.includes('hosting.storage')}">
      <a data-ng-href="">
          <i class="fontello-icon-storage front-icons"></i>
          <span>Storage</span>
          <i class="glyphicon glyphicon-hosting"
           ng-class="showHosting == true ? 'glyphicon-chevron-right' : 'glyphicon-chevron-right'"></i>
      </a>
      <ul>
        <li ng-class="{active: nav.$state.includes('hosting.storage.backand_storage')}">
          <a ng-click="nav.goTo($event, 'hosting.storage.backand_storage')">
              <i class="fa fa-database" aria-hidden="true"></i>
                <span>Back& Storage</span>
              </a>
        </li>
        <li ng-class="{active: nav.$state.includes('hosting.storage.external_storage')}">
          <a ng-click="nav.goTo($event, 'hosting.storage.external_storage')">
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <span>External Storage</span>
              </a>
        </li>
      </ul>
    </li>
    <!--	TODO <li>
               ng-click="nav.goTo($event, )"
        <img src="assets/images/menu/icon-constants/icon-constants.png"
             srcset="assets/images/menu/icon-constants/icon-constants@2x.png 2x,
               assets/images/menu/icon-constants/icon-constants@3x.png 3x"
             class="icon-constants">
                <span>Enviroment Variables</span>
        </li>-->
    <li class="open-structure">
      <a href="">
        <i class="ti-money front-icons"></i>
        <span>Billing</span>
        <i class="glyphicon glyphicon-billing"
           ng-class="showBilling == true ? 'glyphicon-chevron-right' : 'glyphicon-chevron-right'"></i>
      </a>
      <ul>
        <li ng-class="{active: nav.state == 'app.billing'}">
          <a ng-click="nav.goTo($event, 'app.billing')">
            <i class="ti-money front-icons"></i>
            <span>Billing Portal</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'app.billingupgrade'}">
          <a ng-click="nav.goTo($event, 'app.billingupgrade')">
            <i class="ti-money front-icons"></i>
            <span>Upgrade Plan</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'app.billingpayment'}">
          <a ng-click="nav.goTo($event, 'app.billingpayment')">
            <i class="ti-money front-icons"></i>
            <span>Payment Method</span>
          </a>
        </li>
      </ul>
    </li>

    <li ng-class="{active: nav.state === 'analytics.report'}">
      <a ng-click="nav.goTo($event, 'analytics.report')">
        <i class="fontello-icon-api-log_2 front-icons"></i>
        <span>Reports</span>
      </a>
    </li>
    <li class="open-structure">
      <a href="">
        <i class="fontello-icon-data-history-log front-icons"></i>
        <span>All Logs</span>
        <i class="glyphicon glyphicon-logs"
           ng-class="showLogs == true ? 'glyphicon-chevron-right' : 'glyphicon-chevron-right'"></i>
      </a>
      <ul>
        <li ng-class="{active: nav.state == 'log.requests'}">
          <a ng-click="nav.goTo($event, 'log.requests')">
            <i class="fontello-icon-api-log_2 front-icons"></i>
            <span>API Log</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'log.console'}">
          <a ng-click="nav.goTo($event, 'log.console')">
            <i class="fontello-icon-console-log front-icons"></i>
            <span>Console Log</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'log.history'}">
          <a ng-click="nav.goTo($event, 'log.history')">
            <i class="fontello-icon-data-history-log front-icons"></i>
            <span>Data History Log</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'log.exception', disabled: nav.DatabaseStatus != 1}">
          <a ng-click="nav.goTo($event, 'log.exception')">
            <i class="ba-icon-server-side-exceptions front-icons"></i>
            <span>Server Exceptions</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'log.config', disabled: nav.DatabaseStatus != 1}">
          <a ng-click="nav.goTo($event, 'log.config')">
            <i class="ba-icon-configuration"></i>
            <span>Configuration</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>