<div class="nav-wrapper scroller" perfect-scrollbar>
  <ul class="nav" slim-scroll collapse-nav>
    <li class="apps-header">
        <div class="ui-select app-headers" style="font-weight: bold;">
          <select ng-model="nav.currentAppName"
                      ng-change="nav.goToApp()"
                      ng-options="app.Name as app.Name for app in nav.apps.list | orderBy:'Name'"
                      class="app-select">
          </select>
        </div>
      <!--<div us-spinner spinner-key="loading-app" us-spinner="{length:10, radius: 10}"
                 style="position: relative;left: 150px;top: -18px;"></div>-->
    </li>
  	<li ng-click="nav.goTo($event, 'hosting.hosting_tree')">
  			<span>Hosting</span>
  	</li>
  	<li ng-click="nav.goTo($event, 'hosting.files_tree')">
  			<span>Storage</span>
  	</li>
  	<li ng-click="nav.goTo($event, 'app.configuration')">
  			<span>Configuration</span>
  		</a>
  	</li>
  	<li>
  		   <!--ng-click="nav.goTo($event, )"-->
  			<span>Enviroment Variables</span>
  	</li>
    <li>
         <!--ng-click="nav.goTo($event, )"-->
        <span>General Settings</span>
    </li>
    <li ng-click="nav.goTo($event, 'analytics.report')">
        <span>Reports</span>
    </li>
    <li>
         <!--ng-click="nav.goTo($event, )"-->
        <span>All Logs</span>
    </li>
  </ul>
 </div>
