<div class="nav-wrapper scroller" perfect-scrollbar>
  <ul class="nav" slim-scroll collapse-nav>
    <li class="apps-header">
        <div class="ui-select app-headers" style="font-weight: bold;">
          <select ng-model="nav.currentAppName"
                      ng-change="nav.goToApp()"
                      ng-options="app.Name as app.Name for app in nav.apps.list | orderBy:'Name'"
                      class="app-select">
          </select>
        </div>
      <div spinner-key="loading-app" us-spinner="{length:10, radius: 10, color: white}"
                 style="position: relative; "></div>
    </li>
  	<li ng-click="showHosting = !showHosting"
        ng-class="{active: nav.backandstorage.currentState == 'hosting.hosting_tree'}"
    class="open">
      <i class="fontello-icon-hosting front-icons"></i>
  			<span>Hosting</span>
      <i class="glyphicon glyphicon-hosting"
         ng-class="showHosting == true ? 'glyphicon-chevron-left' : 'glyphicon-chevron-down'"></i>
      <ul ng-show="showHosting">
        <li ng-class="{active: nav.state == 'docs.hosting', disabled: nav.DatabaseStatus != 1}"
            ng-click="nav.goTo($event, 'docs.hosting')">
            <i class="ba-icon-configuration"></i>
            <span>Configuration</span>
        </li>
      </ul>
  	</li>
  	<li ng-click="nav.goTo($event, 'hosting.files_tree')"
        ng-class="{active: nav.backandstorage.currentState == 'hosting.files_tree'}">
      <i class="fontello-icon-storage front-icons"></i>
  			<span>Storage</span>
  	</li>
    <li ng-class="{active: nav.state == 'app.edit', disabled: nav.DatabaseStatus != 1}"
        ng-click="nav.goTo($event, 'app.edit')">
        <i class="ba-icon-general front-icons"></i>
        <span>General</span>
    </li>
  	<li ng-click="nav.goTo($event, 'app.configuration')"
        ng-class="{active: nav.backandstorage.currentState == 'app.configuration'}">
      <i class="fontello-icon-configuration_2 front-icons"></i>
  			<span>App Configuration</span>
  		</a>
  	</li>
  <!--	TODO <li>
  		   ng-click="nav.goTo($event, )"
      <img src="assets/images/menu/icon-constants/icon-constants.png"
           srcset="assets/images/menu/icon-constants/icon-constants@2x.png 2x,
             assets/images/menu/icon-constants/icon-constants@3x.png 3x"
           class="icon-constants">
  			<span>Enviroment Variables</span>
  	</li>-->
    <li ng-if="nav.DatabaseStatus == 1" ng-class="{active: nav.state == 'database.show' || nav.state == 'database.edit'}"
        ng-click="nav.goTo($event, 'database.show')">
        <i class="ba-icon-database front-icons"></i>
        <span>Database</span>
    </li>
    <li class="open"
    ng-click="showBilling = !showBilling">
      <i class="ti-money front-icons"></i>
      <span>Billing</span>
      <i class="glyphicon glyphicon-billing"
         ng-class="showBilling == true ? 'glyphicon-chevron-left' : 'glyphicon-chevron-down'"></i>
      <ul ng-show="showBilling">
        <li ng-class="{active: nav.state == 'app.billing'}"
            ng-click="nav.goTo($event, 'app.billing')">
          <i class="ti-money front-icons"></i>
          <span>Billing Portal</span>
        </li>
        <li ng-class="{active: nav.state == 'app.billingupgrade'}"
            ng-click="nav.goTo($event, 'app.billingupgrade')">
          <i class="ti-money front-icons"></i>
          <span>Upgrade Plan</span>
        </li>
        <li ng-class="{active: nav.state == 'app.billingpayment'}" ng-click="nav.goTo($event, 'app.billingpayment')">
          <i class="ti-money front-icons"></i>
          <span>Payment Method</span>
        </li>
      </ul>
    </li>

    <li ng-click="nav.goTo($event, 'analytics.report')"
        ng-class="{active: nav.backandstorage.currentState === 'analytics.report'}">
      <i class="fontello-icon-api-log_2 front-icons"></i>
        <span>Reports</span>
    </li>
    <li ng-click="showLogs = !showLogs"
    ng-class="{active: nav.backandstorage.currentState.includes('log')}"
    class="open">
      <i class="fontello-icon-data-history-log front-icons"></i>
        <span>All Logs</span>
      <i class="glyphicon glyphicon-logs"
         ng-class="showLogs == true ? 'glyphicon-chevron-left' : 'glyphicon-chevron-down'"></i>
      <ul ng-show="showLogs">
        <li ng-click="nav.goTo($event, 'log.requests')"
            ng-class="{active: nav.backandstorage.currentState == 'log.requests'}">
          <i class="fontello-icon-api-log_2 front-icons"></i>
          <span>API Log</span>
        </li>
        <li ng-class="{active: nav.backandstorage.currentState == 'log.console'}"
            ng-click="nav.goTo($event, 'log.console')">
          <img src="assets/images/menu/icon-console-log/icon-console-log.png"
               srcset="assets/images/menu/icon-console-log/icon-console-log@2x.png 2x,
             assets/images/menu/icon-console-log/icon-console-log@3x.png 3x"
               class="icon-console-log">
          <i class="fontello-icon-console-log front-icons"></i>
          <span>Console Log</span>
        </li>
        <li ng-class="{active: nav.backandstorage.currentState == 'log.history'}"
            ng-click="nav.goTo($event, 'log.history')">
          <img src="assets/images/menu/icon-data-history-log/icon-data-history-log.png"
               srcset="assets/images/menu/icon-data-history-log/icon-data-history-log@2x.png 2x,
             assets/images/menu/icon-data-history-log/icon-data-history-log@3x.png 3x"
               class="icon-data-history-log">
          <i class="fontello-icon-data-history-log front-icons"></i>
          <span>Data History Log</span>
        </li>
        <li ng-class="{active: nav.state == 'log.exception', disabled: nav.DatabaseStatus != 1}"
            ng-click="nav.goTo($event, 'log.exception')">
            <i class="ba-icon-server-side-exceptions front-icons"></i>
            <span>Server Exceptions</span>
        </li>
        <li ng-class="{active: nav.state == 'log.config', disabled: nav.DatabaseStatus != 1}" ng-click="nav.goTo($event, 'log.config')" >
            <i class="ba-icon-configuration"></i>
            <span>Configuration</span>
        </li>
      </ul>
    </li>
  </ul>
 </div>
