<div class="nav-wrapper">
  <ul id="nav2" class="nav" collapse-nav>
    <li class="apps-header" ng-click="showAppList = !showAppList" ng-class="{'app-list-open': showAppList}">
      <a >
        <span>{{nav.currentAppName}}</span>
        <div class="down-triangle"></div>
      </a>
      <ul class="apps-list pre-scrollable">
        <li ng-repeat="app in nav.apps.list"
            ng-click="nav.goToApp(app.Name)">
          <span>{{app.Name}}</span>
          <div us-spinner="{color: 'black'}" spinner-key="loading-{{ ::app.Name}}" spinner-start-active
               style="position:relative; left:50px;"></div>
        </li>
      </ul>
    </li>
    <li ng-class="{active: nav.state == 'app.show'}">
      <a ng-click="nav.goTo($event, 'app.show')">
        <i class="fontello-icon-schema front-icons"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li ng-class="{active: nav.state == 'playground.orm'}" class="open-structure">
      <a href="">
        <i class="ba-icon-docs-and-api front-icons"></i>
        <span style="padding-left: 15px">Docs & API</span>
        <i class="glyphicon glyphicon-docs"
           ng-class="showDocs == true ? 'glyphicon-chevron-right' : 'glyphicon-chevron-right'"></i>
      </a>
      <ul>
        <li ng-class="{active: nav.state == 'docs.api-desc', disabled: nav.DatabaseStatus != 1}">
          <a ng-click="nav.goToLocation('https://www.backand.com/app-examples')">
            <i class="ba-icon-documentation"></i>
            <span>Examples</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'docs.platform_select_kickstart'}">
          <a ng-click="nav.goTo($event, 'docs.platform_select_kickstart')">
            <i class="ba-icon-kickstart-tutorial"></i>
            <span>Kickstart Tutorials</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'docs.platform_select_existing'}">
          <a ng-click="nav.goTo($event, 'docs.platform_select_existing')">
            <i class="ba-icon-kickstart-tutorial"></i>
            <span>Existing App</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'docs.realtime'}">
          <a ng-click="nav.goTo($event, 'docs.realtime')">
            <i class="ba-icon-documentation"></i>
            <span >Realtime Database</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'docs.api-desc', disabled: nav.DatabaseStatus != 1}">
          <a ng-click="nav.goToLocation('http://docs.backand.com')">
            <i class="ba-icon-documentation"></i>
            <span>Documentation</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'playground.show', disabled: nav.DatabaseStatus != 1}"
            class="sub-objects-icons">
          <a ng-click="nav.goTo($event, 'playground.show')">
            <i class="ba-icon-rest-api-playground"></i>
            <span style="padding-left: 19px">REST API Playground</span>
          </a>
        </li>
      </ul>
    </li>
    <li ng-if="nav.app.connectionSource === 'local'"
        ng-class="{active: nav.state == 'erd_model'}" href="">
      <a href="" ng-click="nav.goToModel($event)">
        <i class="fontello-icon-model front-icons"></i>
        <span>Model</span>
      </a>
    </li>
    <li ng-if="nav.app.connectionSource !== 'local'"
        ng-class="{active: nav.state == 'tables.notables'}"  href="">
      <a ui-sref="tables.notables">
        <i class="ba-icon-model front-icons"></i>
        <span>Sync with Database</span>
      </a>
    </li>
    <li class="open-structure"
        ng-class="{disabled: nav.DatabaseStatus != 1 }">
      <a href="">
        <i class="fontello-icon-object front-icons"></i>
        <span>Objects</span>
        <i class="glyphicon glyphicon-objects"
           ng-class="showObjects == true ? 'glyphicon-chevron-right' : 'glyphicon-chevron-right'"></i>
      </a>
      <ul class="ex4" id="ex4" href="">
        <li ng-if="nav.app.connectionSource === 'local'" class="sub-objects-icons new-function-selection" href="">
          <a ng-click="nav.newObject($event)" href="">
            <i class="ti-plus"></i>
            <span>New Object</span>
          </a>
          <div class="menu-border"></div>
        </li>
        <li  ng-repeat="table in nav.tables track by table.name" ng-class="{active: nav.stateparam.tableId == table.__metadata.id}"
            class="crop ">
          <a ng-click="nav.showTable($event, table)" tooltip="{{table.name}}"  tooltip-popup-delay="500" tooltip-placement="right" tooltip-append-to-body="true">
            <span>{{table.name}}</span>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{disabled: nav.DatabaseStatus != 1}"
        class="open-structure">
      <a href="">
        <i class="ba-icon-quries front-icons"></i>
        <span>Queries</span>
        <i class="glyphicon glyphicon-query"
           ng-class="showQueries == true ? 'glyphicon-chevron-right' : 'glyphicon-chevron-right'"></i>
      </a>
      <ul>
        <li ng-class="{active: nav.state == 'dbQueries.newQuery' }"
            ng-if="nav.DatabaseStatus == 1"
            class="sub-objects-icons new-function-selection">
          <a ng-click="nav.newDbQuery($event)">
            <i class="ti-plus"></i>
            <span>New Query</span>
          </a>
          <div class="menu-border"></div>
        </li>

        <ul>
          <li ng-class="{active: query.iD == nav.stateparam.queryId}" ng-repeat="query in nav.queries"
              class="sub-objects-icons crop">
            <a ng-click="nav.showDbQuery($event, query)" tooltip="{{query.name}}" tooltip-popup-delay="500" tooltip-placement="right" tooltip-append-to-body="true">
              <span>{{query.name}}</span>
            </a>
          </li>
        </ul>
      </ul>
    </li>
    <!--<li ng-class="{active: nav.backandstorage.currentState == 'db_model'}"
        ng-click="nav.goTo($event, 'db_model')">
      <img src="assets/images/menu/icon-schema/icon-schema.png"
           srcset="assets/images/menu/icon-schema/icon-schema@2x.png 2x,
             assets/images/menu/icon-schema/icon-schema@3x.png 3x"
           class="icon-schema">
      <span>Schema</span>
    </li> -->
    <li class="open-structure">
      <a href="">
        <i class="fontello-icon-data-history-log front-icons"></i>
        <span>All Logs</span>
        <i class="glyphicon glyphicon-logs"
           ng-class="showLogs == true ? 'glyphicon-chevron-right' : 'glyphicon-chevron-right'"></i>
      </a>
      <ul>
        <li ng-class="{active: nav.state == 'log.requests'}">
          <a ng-click="nav.goTo($event, 'log.requests')">
            <i class="fontello-icon-api-log_2 front-icons"></i>
            <span>API Log</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'log.console'}">
          <a ng-click="nav.goTo($event, 'log.console')">
            <i class="fontello-icon-console-log front-icons"></i>
            <span>Console Log</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'log.history'}">
          <a ng-click="nav.goTo($event, 'log.history')">
            <i class="fontello-icon-data-history-log front-icons"></i>
            <span>Data History Log</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'log.exception', disabled: nav.DatabaseStatus != 1}">
          <a ng-click="nav.goTo($event, 'log.exception')">
            <i class="ba-icon-server-side-exceptions front-icons"></i>
            <span>Server Exceptions</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'log.config', disabled: nav.DatabaseStatus != 1}">
          <a ng-click="nav.goTo($event, 'log.config')">
            <i class="ba-icon-configuration"></i>
            <span>Configuration</span>
          </a>
        </li>
      </ul>
    </li>
    <li ng-if="nav.DatabaseStatus == 1"
        ng-class="{active: nav.state == 'database.show' || nav.state == 'database.edit'}">
      <a ng-click="nav.goTo($event, 'database.show')">
        <i class="ba-icon-database front-icons"></i>
        <span>Database Settings</span>
      </a>
    </li>
  </ul>
</div>
