<div class="nav-wrapper scroller" perfect-scrollbar>
  <ul slim-scroll collapse-nav>
    <li class="apps-header">
        <div class="ui-select app-headers" style="font-weight: bold;">
          <select ng-model="nav.currentAppName"
                  ng-change="nav.goToApp()"
                  ng-options="app.Name as app.Name for app in nav.apps.list | orderBy:'Name'"
                  class="app-select">
          </select>
        </div>
        <div us-spinner spinner-key="loading-app" us-spinner="{length:10, radius: 10}"
             style="position: relative;left: 150px;top: -18px;"></div>
    </li>
    <li ng-class="{active: nav.currentState.includes('function'), disabled: nav.DatabaseStatus != 1}"
        ng-click="showFunctions = !showFunctions"
        class="open">
        <img src="assets/images/menu/icon-lambda-functions/icon-functions.png"
             srcset="assets/images/menu/icon-lambda-functions/icon-functions@2x.png 2x,
             assets/images/menu/icon-lambda-functions/icon-functions@3x.png 3x"
             class="icon-functions">
        <span>Functions</span>
      <ul ng-show="showFunctions || nav.currentState.includes('function')">
        <li ng-class="{active: false }" ng-if="nav.DatabaseStatus == 1" ng-click="nav.newLambdaFunction($event)"
        class="sub-functions-icons">
            <i class="ba-icon-new-query"></i>
            <span>Add Lambda Function</span>
        </li>
        <li ng-class="{active: false }" ng-if="nav.DatabaseStatus == 1" ng-click="nav.newJsFunction($event)"
            class="sub-functions-icons">
            <i class="ba-icon-new-query"></i>
            <span>Add Javascript Function</span>
        </li>
        <ul>
          <li ng-repeat="func in nav.functions" ng-click="nav.showFunction($event, func)"
              class="sub-functions-icons">
              <i class="ti-write"></i>
              <span>{{func.name}}</span>
          </li>
        </ul>
      </ul>
    </li>
    <li ng-class="{active: nav.currentState == 'integrations'}">
        <!--ng-click="nav.goTo($event, )"-->
        <img src="assets/images/menu/icon-integrations/icon-integrations.png"
             srcset="assets/images/menu/icon-integrations/icon-integrations@2x.png 2x,
             assets/images/menu/icon-integrations/icon-integrations@3x.png 3x"
             class="icon-integrations">
        <span>Integrations</span>
    </li>
    <li ng-class="{active: nav.currentState.includes('Jobs'), disabled: nav.DatabaseStatus != 1}"
        ng-click="showCronJobs = !showCronJobs"
        class="open">
        <img src="assets/images/menu/icon-cron/icon-cron.png"
             srcset="assets/images/menu/icon-cron/icon-cron@2x.png 2x,
             assets/images/menu/icon-cron/icon-cron@3x.png 3x"
             class="icon-cron">
        <span>Cron Jobs</span>
      <ul ng-show="nav.currentState.includes('Jobs') || showCronJobs">
        <li ng-class="{active: false }"
            class="sub-functions-icons"
            ng-click="nav.goTo($event, 'cronJobs.new')">
            <i class="ba-icon-new-query"></i>
            <span>New Job</span>
        </li>
        <li ng-class="{active: nav.state == 'cronJobs'}" ng-repeat="cronJob in nav.cronJobs"
            ng-click="nav.showCronJob($event, cronJob)"
            class="sub-functions-icons">
            <span  class="status status-{{nav.getCronStatus(cronJob.active)}} pull-left"></span>
            <span>{{cronJob.name}}</span>
        </li>
      </ul>
    </li>
    <li ng-class="{active: nav.currentState == 'log.requests'}"
        ng-click="nav.goTo($event, 'log.requests')">
      <img src="assets/images/menu/icon-api-log/icon-api-log.png"
           srcset="assets/images/menu/icon-api-log/icon-api-log@2x.png 2x,
             assets/images/menu/icon-api-log/icon-api-log@3x.png 3x"
           class="icon-api-log">
        <span>API Log</span>
    </li>
    <li ng-class="{active: nav.currentState == 'log.console'}"
        ng-click="nav.goTo($event, 'log.console')">
      <img src="assets/images/menu/icon-console-log/icon-console-log.png"
           srcset="assets/images/menu/icon-console-log/icon-console-log@2x.png 2x,
             assets/images/menu/icon-console-log/icon-console-log@3x.png 3x"
           class="icon-console-log">
        <span>Console Log</span>
    </li>
  </ul>
</div>
