<header class="top-header clearfix"
        data-ng-controller="HeaderController as header">

  <!-- Logo -->
<div class="logo bg-dark">
  <a href="#/">
    <span>Back&</span>
  </a>
</div>

<!-- needs to be put after logo to make it work -->
<div class="menu-button" toggle-off-canvas>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</div>

<div class="top-nav">
  <ul class="nav-right pull-right list-unstyled">

    <li class="dropdown text-normal nav-profile">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">
        <img src="/assets/images/g1.jpg" alt="" class="img-circle img30_30">
        <span class="hidden-xs">
          <span>{{main.getCurrentUser().username}}</span>
          <button class="btn btn-primary" ng-click="main.logout()">log out</button>
        </span>
      </a>
      <ul class="dropdown-menu with-arrow pull-right">
        <li>
          <a href="#/pages/profile">
            <i class="ti-user"></i>
            <span>My Profile</span>
          </a>
        </li>
        <li>
          <a href="#/tasks/tasks">
            <i class="ti-check-box"></i>
            <span>My Tasks</span>
          </a>
        </li>
        <li>
          <a href="#/pages/lock-screen">
            <i class="ti-lock"></i>
            <span>Lock</span>
          </a>
        </li>
        <li>
          <a href="#/pages/signin">
            <i class="ti-export"></i>
            <span>Log Out</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
</header>
