<header class="top-header clearfix"
        ng-controller="HeaderController as header">

  <!-- Logo -->
  <div class="logo bg-dark">
    <a ng-click="header.goTo('apps.index');" href="">
      <span>Backand</span>
    </a>
  </div>

  <!-- needs to be put after logo to make it work -->
  <div class="menu-button" toggle-off-canvas>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>

  <div class="top-nav">
    <ul class="nav-left list-unstyled">
      <li>
        <a ng-click="header.goTo('apps.index');" href=""><i class="ti-layers-alt" style="font-size: 25px;"></i></a>
      </li>
      <li class="search-box">
        <div class="input-group">
          <span class="input-group-addon">App: &nbsp;</span>
          <div class="ui-select" style="font-weight: bold;">
            <select ng-options="app.Name as app.Name for app in header.apps" ng-model="header.currAppName" ng-change="header.redirectTo(header.currAppName)"></select>
          </div>
          <div us-spinner spinner-key="loading-app" us-spinner="{length:10, radius: 10}" style="position: relative;left: 150px;top: -18px;"></div>
        </div>
      </li>
    </ul>

    <ul class="nav-right pull-right list-unstyled">
        <li class="dropdown text-normal nav-profile">
            <a ng-click="main.logout()" href="" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 15px;padding-right: 30px;">
                <span class="hidden-md">
                    <i class="ti-user"></i>
                    <span>{{main.getCurrentUser().username}}</span>
                </span>
            </a>
            <ul class="dropdown-menu with-arrow pull-right">
                <li>
                    <a href="#" ng-click="main.logout()">
                        <i class="ti-export"></i>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
  </div>
</header>
