<div class="nav-wrapper">
  <ul id="nav2" collapse-nav>
  	<li class="nav-header" ng-click="nav.goTo($event, 'apps.index')">
  		    <!-- Logo -->

      		<a class="logo backand-logo">
            <img src="assets/images/apps_page/backand-logo/backand-logo.png"
                 class="bcknd-logo">
    	   	</a>

    	<!-- needs to be put after logo to make it work -->
    	<div class="menu-button" toggle-off-canvas>
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
    	</div>
  	</li>
    <li ng-class="{active:
  	nav.backandstorage.secondAppNavChoice == 'functions'}" class="functions tabs"
        ng-click="nav.showSecondarySideBar('functions')">
      <i class="sprite-menu sprite-icon-functions main-icons"></i>
      <span>Functions & Integrations</span>
    </li>
  	<li ng-class="{active:
  	nav.backandstorage.secondAppNavChoice == 'database'}"  class="database tabs" ng-click="nav.showSecondarySideBar('database')" >
      <i class="sprite-menu sprite-icon-db main-icons"></i>
  			<span>Database</span>
  	</li>
  	<li ng-class="{active:
  	nav.backandstorage.secondAppNavChoice == 'security'}" class="security tabs"
        ng-click="nav.showSecondarySideBar('security')" test-hook="linkSecurity">
      <i class="sprite-menu sprite-icon-security main-icons"></i>
  			<span>Security</span>
  	</li>

  	<li ng-class="{active:
  	nav.backandstorage.secondAppNavChoice == 'admin'}" class="admin tabs"
        ng-click="nav.showSecondarySideBar('admin')">
      <i class="sprite-menu sprite-icon-admin main-icons"></i>
  			<span>Admin</span>
  	</li>
  </ul>
 </div>
