<div class="app" id="app" ng-class="{'nav-collapsed-min' : main.hideNav()}">


  <div class="main-container row {{nav.columnsLayout}}">
    <div ng-class="{'side-bar': nav.backandstorage.showSecondaryAppNav == true, 'side-bar-modified': nav.backandstorage.showSecondaryAppNav == false,
     'col-lg-2': $window.innerWidth >= 1900}"
         class="{{nav.columnsLayout}}"
         ng-hide="main.hideNav()"
         ng-controller="NavCtrl as nav">

      <div ng-include="nav.showAppNav()"
           id="nav-container"
           class="nav-container primary-navbar nav-fixed nav-vertical"
           >
      </div>
      <div ng-if="nav.backandstorage.showSecondaryAppNav !== false"
           ng-include="nav.chooseSecondNav()"
           class="second-app-nav"
           ></div>
    </div>
    <div id="content" class="content-container" autoscroll="true">
    <div class="app-inner" ng-include=" 'views/shared/new_header.html' "
       ng-controller="HeaderController as header" ng-class="header.usingDefaultModel ? 'header-alert' : ''"></div>
      <section ui-view class="view-container"></section>

    </div>
  </div>
</div>
