<div class="nav-wrapper">
  <ul id="nav2" collapse-nav>
  	<li class="nav-header">
  		    <!-- Logo -->

      		<a class="logo backand-logo" ui-sref="apps.index">
            <img src="assets/images/apps_page/backand-logo/backand-logo.png"
                 srcset="assets/images/apps_page/backand-logo/backand-logo@2x.png 2x,
             assets/images/apps_page/backand-logo/backand-logo@3x.png 3x"
                 class="bcknd-logo">
    	   	</a>

    	<!-- needs to be put after logo to make it work -->
    	<div class="menu-button" toggle-off-canvas>
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
    	</div>
  	</li>
  	<li ng-class="{active:
  	nav.backandstorage.secondAppNavChoice == 'database'}"  class="database tabs" ng-click="nav.showSecondarySideBar('database')" >
        <img src="assets/images/menu/icon-db/icon-db.png"
             srcset="assets/images/menu/icon-db/icon-db@2x.png 2x,
             assets/images/menu/icon-db/icon-db@3x.png 3x"
             class="main-icons">
  			<span>Database</span>
  	</li>
  	<li ng-class="{active:
  	nav.backandstorage.secondAppNavChoice == 'functions'}" class="functions tabs"
        ng-click="nav.showSecondarySideBar('functions')">
        <img src="assets/images/menu/icon-functions/icon-functions.png"
             srcset="assets/images/menu/icon-functions/icon-functions@2x.png 2x,
             assets/images/menu/icon-functions/icon-functions@3x.png 3x"
             class="main-icons">
  			<span>Functions and Integrations</span>
  	</li>
  	<li ng-class="{active:
  	nav.backandstorage.secondAppNavChoice == 'security'}" class="security tabs"
        ng-click="nav.showSecondarySideBar('security')">
        <img src="assets/images/menu/icon-security/icon-security.png"
             srcset="assets/images/menu/icon-security/icon-security@2x.png 2x,
             assets/images/menu/icon-security/icon-security@3x.png 3x"
             class="main-icons">
  			<span>Security</span>
  	</li>

  	<li ng-class="{active:
  	nav.backandstorage.secondAppNavChoice == 'admin'}" class="admin tabs"
        ng-click="nav.showSecondarySideBar('admin')">
        <img src="assets/images/menu/icon-admin/icon-admin.png"
             srcset="assets/images/menu/icon-admin/icon-admin@2x.png 2x,
             assets/images/menu/icon-admin/icon-admin@3x.png 3x"
             class="main-icons">
  			<span>Administration</span>
  	</li>
  </ul>
 </div>
