<div class="nav-wrapper" ng-controller="NavCtrl as nav">
  <ul id="nav1" class="nav"
      data-slim-scroll data-collapse-nav data-highlight-active
      ng-show="nav.state === 'apps.index'">
    <li>
      <a ui-sref="apps.index"> <i class="ti-dashboard"></i><span>Dashboard</span> </a>
    </li>

    <li>
      <a href="#/ui"><i class="ti-layout-media-overlay"></i><span>Documentation</span></a>
    </li>

    <li>
      <a href="#/ui"><i class="ti-support"></i><span>Support</span></a>
    </li>

  </ul>

  <ul id="nav2" class="nav"
      data-slim-scroll data-collapse-nav data-highlight-active
      ng-show="nav.state != 'apps.index'">
    <li>
      <a ui-sref="apps.index"> <i class="ti-dashboard"></i><span>Dashboard</span> </a>
    </li>

    <li>
      <a ng-show="nav.app.DatabaseStatus === 1" ui-sref="database.show({name: nav.appName})">
        <i class="ti-layout-media-overlay"></i>
        <span>Database</span>
        <span class="status status-{{nav.getDBStatus()}}"></span>
      </a>
      <a  ng-show="nav.app.DatabaseStatus !== 1"><i class="ti-layout-media-overlay"></i>
        <span>Database</span>
        <span class="status status-{{nav.getDBStatus()}}"></span>
      </a>
    </li>

    <li>
      <a ng-cloak ng-show="nav.app.DatabaseStatus === 1"  ui-sref="dashboard.edit({name: nav.appName})"><i class="ti-support"></i><span>Admin</span></a>
      <a  ng-cloak ng-hide="nav.app.DatabaseStatus === 1"  ><i class="ti-support"></i><span>Admin</span></a>
    </li>

    <li>
      <a  ng-show="nav.app.DatabaseStatus === 1" ui-sref="playground.show({name: nav.appName})"><i class="ti-support"></i><span>API Playground</span></a>
      <a  ng-show="nav.app.DatabaseStatus !== 1" ><i class="ti-support"></i><span>API Playground</span></a>
    </li>

  </ul>
</div>
