<div class="nav-wrapper" ng-controller="NavCtrl as nav">
  <ul id="nav1" class="nav"
      data-slim-scroll
      data-collapse-nav
      ng-show="nav.isGeneralState()">
    <li ui-sref-active="active">
      <a ui-sref="apps.index"> <i class="ti-layers-alt"></i><span>My Apps</span> </a>
    </li>

    <li ui-sref-active="active">
      <a ui-sref="getting-started-open"> <i class="ti-star"></i><span>Getting Started</span></a>
    </li>

    <li ui-sref-active="active">
      <a ui-sref="kickstart-open"> <i class="ti-star"></i><span>Kickstart Tutorial</span></a>
    </li>

    <!--<li>-->
      <!--<a href="http://blog.backand.com/documentation/" target="_blank"><i class="ti-layout-media-overlay"></i><span>Documentation</span></a>-->
    <!--</li>-->

    <!--<li>-->
      <!--<a href="http://blog.backand.com/questions/" target="_blank"><i class="ti-support"></i><span>Support</span></a>-->
    <!--</li>-->
  </ul>

  <ul id="nav2" class="nav"
      data-slim-scroll
      data-collapse-nav
      ng-show="!nav.isGeneralState()">

    <li ng-class="{active: nav.state == 'apps.show', disabled: nav.DatabaseStatus != 1}" >
      <a ng-click="nav.goTo('apps.show')" href="" ng-class="{disabled: nav.DatabaseStatus != 1}">
        <i class="icon-dashboard-icon"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li ng-class="{active: nav.state == 'database.show' || nav.state == 'database.edit'}">
      <a href="">
        <i class="icon-databsase-icon"></i>
        <span>Database</span>
        <span class="status status-{{nav.getDBStatus()}} pull-left"></span>
        <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
      </a>
      <ul>
        <li ng-if="nav.DatabaseStatus === 1" ng-class="{active: nav.state == 'database.show' || nav.state == 'database.edit'}">
          <a ng-class="{disabled: nav.DatabaseStatus == 1}" ng-click="nav.goTo('database.show')" href="">
            <i class="ti-wand"></i>
            <span>Configuration</span>
          </a>
        </li>
        <li ng-if="nav.DatabaseStatus !== 1" ng-class="{active: nav.state == 'database.show' || nav.state == 'database.edit'}">
          <a ng-class="{disabled: nav.DatabaseStatus == 1}" ng-click="nav.goToAlways('database.edit')" href="">
            <i class="ti-wand"></i>
            <span>Connect</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'database.add-tables', disabled: nav.DatabaseStatus != 1}">
          <a ng-class="{disabled: nav.DatabaseStatus !== 1}" ng-click="nav.goTo('database.add-tables')" href="">
            <i class="ti-file"></i>
            <span>Templates</span>
          </a>
        </li>
      </ul>
    </li>

    <li ng-class="{active: nav.state == 'playground.orm'}">
      <a href="">
          <i class="icon-rest-api-icon"></i>
          <span>Docs & API</span>
          <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
      </a>
        <ul>
            <li ng-class="{active: nav.state == 'playground.get-started'}">
              <a ng-click="nav.goToAlways('playground.get-started')" href="">
                <i class="ti-star"></i>
                <span>AngularJS Quickstart</span>
              </a>
            </li>
            <li ng-class="{active: nav.state == 'playground.kickstart'}">
              <a ng-click="nav.goToAlways('playground.kickstart')" href="">
                <i class="ti-star"></i>
                <span>Kickstart Tutorial</span>
              </a>
            </li>

            <li ng-class="{active: nav.state == 'playground.show', disabled: nav.DatabaseStatus != 1}">
              <a ng-class="{disabled: nav.DatabaseStatus !== 1}" ng-click="nav.goTo('playground.show')" href="">
                <i class="icon-rest-api-icon"></i>
                <span>REST API Playground</span>
              </a>
            </li>
            <li ng-class="{active: nav.state == 'playground.orm', disabled: nav.DatabaseStatus != 1}">
              <a ng-class="{disabled: nav.DatabaseStatus !== 1}" ng-click="nav.goTo('playground.orm')" href="">
                <i class="icon-orm-icon"></i>
                <span>ORM Playground</span>
              </a>
            </li>
            <li ng-class="{active: nav.state == 'playground.orm-usage'}">
                <a ng-class="{disabled: nav.DatabaseStatus !== 1}" ng-click="nav.goToAlways('playground.orm-usage')" href="">
                    <i class="ti-shortcode"></i>
                    <span>ORM Usage</span>
                </a>
            </li>
            <li ng-class="{active: nav.state == 'playground.orm-config'}">
                <a ng-class="{disabled: nav.DatabaseStatus !== 1}" ng-click="nav.goToAlways('playground.orm-config')" href="">
                    <i class="ti-github"></i>
                    <span>ORM Configuration</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{active: nav.state == 'tables.show', disabled: nav.DatabaseStatus != 1}" ng-show="!nav.dbEmpty">
      <a ng-class="{disabled: nav.DatabaseStatus !== 1}"
         ng-click="nav.tables.length == 0 ? nav.loadTables() : nav.goTo('tables.notables')"
         href="">
        <i class="ti-view-grid"></i>
        <span>Database Tables</span>
        <i class="ti-angle-double-right pull-right"
           ng-show="nav.tables.length > 0"
           style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
      </a>
      <ul class="scrollbar ex4" id="ex4">
        <li ng-class="{active: false }" ng-repeat="table in nav.tables">
            <a ng-class="{disabled: false}"  ng-click="nav.showTable(table)" href="">
                <i class="ti-cloud"></i>
                <span>{{table.name}}</span>
            </a>
        </li>
      </ul>
    </li>

    <li ng-class="{active: nav.state == 'dbQueries.index' || nav.state == 'dbQueries.index', disabled: nav.DatabaseStatus != 1}" >
      <a ng-class="{disabled: nav.DatabaseStatus == 1}" ng-click="nav.loadDbQueries()" href="">
        <i class="ti-write"></i>
        <span>Database Queries</span>
        <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;" ng-if="nav.DatabaseStatus == 1"></i>
      </a>
      <ul>
        <li ng-class="{active: false }" ng-if="nav.DatabaseStatus == 1">
          <a ng-class="{disabled: nav.DatabaseStatus !== 1}" ng-click="nav.newDbQuery()" href="">
            <i class="ti-plus"></i>
            <span>New Query</span>
          </a>
        </li>
      </ul>
      <ul class="scrollbar ex4">
        <li ng-class="{active: nav.state == 'dbQueries.index' || nav.state == 'dbQueries.index'}" ng-repeat="query in nav.queries">
          <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.showDbQuery(query)" href="">
            <i class="ti-write"></i>
            <span>{{query.name}}</span>
          </a>
        </li>
      </ul>
    </li>

    <li ng-class="{active: nav.state == 'security.users', disabled: nav.DatabaseStatus !== 1}">
      <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  href="">
        <i class="icon-security"></i>
        <span>Security & Auth</span>
        <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
      </a>
      <ul>
        <li ng-class="{active: nav.state == 'security.auth', disabled: nav.DatabaseStatus !== 1}">
          <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo('security.auth')" href="">
            <i class="ti-settings"></i>
            <span>Configuration</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'security.templates', disabled: nav.DatabaseStatus !== 1}">
          <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo('security.templates')" href="">
            <i class="ti-lock"></i>
            <span>Security Templates</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'security.users', disabled: nav.DatabaseStatus !== 1}">
          <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo('security.users')" href="">
            <i class="ti-user"></i>
            <span>Users</span>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{active: nav.state == 'log.activity', disabled: nav.DatabaseStatus !== 1}">
      <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  href="">
        <i class="icon-clipboard"></i>
        <span>Log</span>
        <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
      </a>
      <ul>
        <li ng-class="{active: nav.state == 'log.config', disabled: nav.DatabaseStatus !== 1}">
          <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo('log.config')" href="">
            <i class="ti-settings"></i>
            <span>Configuration</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'log.history', disabled: nav.DatabaseStatus !== 1}">
          <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo('log.history')" href="">
            <i class="ti-new-window"></i>
            <span>Data History</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'log.exception', disabled: nav.DatabaseStatus !== 1}">
          <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo('log.exception')" href="">
            <i class="icon-warning"></i>
            <span>Server Side Exceptions</span>
          </a>
        </li>
      </ul>
    </li>
    <li ng-class="{active: nav.state == 'apps.edit', disabled: nav.DatabaseStatus !== 1}">
      <a ng-click="nav.goTo('apps.edit')" href="">
        <i class="ti-settings"></i>
        <span>App Settings</span>
      </a>
    </li>
    <li ng-class="{active: nav.state == 'backoffice.edit'}">
      <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  href="">
        <i class="icon-backoffice-icon"></i>
        <span>Back Office</span>
        <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
      </a>
      <ul>
        <li ng-class="{active: nav.state == 'backoffice.edit', disabled: nav.DatabaseStatus !== 1}">
          <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo('backoffice.edit')" href="">
            <i class="icon-style"></i>
            <span>Templates</span>
          </a>
        </li>

        <li ng-class="{active: nav.state == 'backoffice.edit', disabled: nav.DatabaseStatus !== 1}">
          <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goToLocation('http://' + nav.appName + '.backand.net')" href="">
            <i class="icon-cloud"></i>
            <span>Hosted Back Office</span>
          </a>
        </li>

        <li ng-class="{active: nav.state == 'backoffice.cust'}">
          <a ng-click="nav.goToAlways('backoffice.cust')" href="">
            <i class="icon-magic"></i>
            <span>Customization</span>
          </a>
        </li>

        <li ng-class="{active: nav.state == 'backoffice.code'}">
          <a ng-click="nav.goToAlways('backoffice.code')" href="">
            <i class="icon-file-code-o"></i>
            <span>Code Example</span>
          </a>
        </li>

      </ul>
    </li>
  </ul>
</div>
