<div class="nav-wrapper" ng-controller="NavCtrl as nav">
  <ul id="nav1" class="nav"
      data-slim-scroll
      data-collapse-nav
      data-highlight-active
      ng-show="nav.state === 'apps.index'">
    <li>
      <a ui-sref="apps.index"> <i class="ti-layers-alt"></i><span>My Apps</span> </a>
    </li>

    <li>
      <a href="http://blog.backand.com/documentation/" target="_blank"><i class="ti-layout-media-overlay"></i><span>Documentation</span></a>
    </li>

    <li>
      <a href="http://blog.backand.com/questions/" target="_blank"><i class="ti-support"></i><span>Support</span></a>
    </li>
  </ul>

  <ul id="nav2" class="nav"
      data-slim-scroll
      data-collapse-nav
      ng-show="nav.state != 'apps.index'">
    <li ng-class="{active: nav.state == 'apps.show'}" >
      <a ui-sref="apps.show({ name: nav.appName })">
        <i class="icon-dashboard-icon"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li ng-class="{active: nav.state == 'database.show' || nav.state == 'database.edit'}">
      <a ng-class="{disabled: nav.DatabaseStatus == 1}" ng-click="nav.goTo('database.show')" href="">
        <i class="icon-databsase-icon"></i>
        <span>Database</span>
        <span class="status status-{{nav.getDBStatus()}}"></span>
      </a>
    </li>

    <li ng-class="{active: nav.state == 'playground.show'}">
      <a ng-class="{disabled: nav.DatabaseStatus !== 1}" ng-click="nav.goTo('playground.show')" href="">
        <i class="icon-rest-api-icon"></i>
        <span>REST API Playground</span>
      </a>
    </li>
    <li ng-class="{active: nav.state == 'playground.orm'}">
      <a ng-class="{disabled: nav.DatabaseStatus !== 1}" ng-click="nav.goTo('playground.orm')" href="">
          <i class="icon-orm-icon"></i>
          <span>ORM Playground</span>
      </a>
    </li>

    <li ng-class="{active: nav.state == 'backoffice.edit'}">
      <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo('backoffice.edit')" href="">
        <i class="icon-backoffice-icon"></i>
        <span>Back Office</span>
      </a>
        <ul>
            <li ng-class="{active: nav.state == 'backoffice.edit'}">
                <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goToLocation('http://' + nav.appName + '.backand.net')" href="">
                    <i class="ti-cloud"></i>
                    <span>Hosted Back Office</span>
                </a>
            </li>

            <li ng-class="{active: nav.state == 'backoffice.cust'}">
                <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo('backoffice.cust')" href="">
                    <i class="ti-github"></i>
                    <span>Customization</span>
                </a>
            </li>

            <li ng-class="{active: nav.state == 'backoffice.code'}">
                <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo('backoffice.code')" href="">
                    <i class="ti-cloud"></i>
                    <span>Code Example</span>
                </a>
            </li>
        </ul>
    </li>

    <li ng-class="{active: nav.state == 'tables.show'}">
      <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo('tables.show')" href="">
        <i class="ti-view-grid"></i>
        <span>Database Tables</span>
      </a>
    </li>


  </ul>
</div>
