<div class="nav-wrapper scroller" perfect-scrollbar>
  <ul id="nav2" class="nav" slim-scroll collapse-nav>

  <li ng-class="{active: nav.state == 'app.show', disabled: nav.DatabaseStatus != 1}" >
    <a ng-click="nav.goTo($event, 'app.show')" href="" ng-class="{disabled: nav.DatabaseStatus != 1}">
      <i class="ba-icon-dashboard"></i>
      <span>Dashboard</span>
    </a>
  </li>


  <li ng-class="{active: nav.state == 'playground.orm'}">
    <a href="">
      <i class="ba-icon-docs-and-api"></i>
      <span>Docs & API</span>
      <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
    </a>
    <ul>
      <li ng-class="{active: nav.state == 'docs.api-desc', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"
           ng-click="nav.goToLocation('https://www.backand.com/app-examples')"
           href="">
          <i class="ba-icon-documentation"></i>
          <span>Examples</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'docs.get-started'}">
        <a ng-click="nav.goToAlways($event, 'docs.get-started')" href="">
          <i class="ba-icon-angularjs-quickstart"></i>
          <span>AngularJS Quickstart</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'docs.mobile'}">
        <a ng-click="nav.goToAlways($event, 'docs.mobile')" href="">
          <i class="ba-icon-angularjs-quickstart"></i>
          <span>Ionic Mobile Starter</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'docs.kickstart'}">
        <a ng-click="nav.goToAlways($event, 'docs.kickstart')" href="">
          <i class="ba-icon-kickstart-tutorial"></i>
          <span>Kickstart Tutorial</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'docs.realtime'}">
        <a ng-click="nav.goToAlways($event, 'docs.realtime')" href="">
          <i class="ba-icon-documentation"></i>
          <span>Realtime Database</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'docs.api-desc', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}" ng-click="nav.goToLocation('http://docs.backand.com')" href="">
          <i class="ba-icon-documentation"></i>
          <span>Documentation</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'playground.show', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}" ng-click="nav.goTo($event, 'playground.show')" href="">
          <i class="ba-icon-rest-api-playground"></i>
          <span>REST API Playground</span>
        </a>
      </li>

      <!--<li ng-class="{active: nav.state == 'playground.orm', disabled: nav.DatabaseStatus != 1}">-->
      <!--<a ng-class="{disabled: nav.DatabaseStatus != 1}" ng-click="nav.goTo($event, 'playground.orm')" href="">-->
      <!--<i class="icon-orm-icon"></i>-->
      <!--<span>ORM Playground</span>-->
      <!--</a>-->
      <!--</li>-->
      <!--<li ng-class="{active: nav.state == 'playground.orm-usage'}">-->
      <!--<a ng-class="{disabled: nav.DatabaseStatus != 1}" ng-click="nav.goToAlways($event, 'playground.orm-usage')" href="">-->
      <!--<i class="ti-shortcode"></i>-->
      <!--<span>ORM Usage</span>-->
      <!--</a>-->
      <!--</li>-->
      <!--<li ng-class="{active: nav.state == 'playground.orm-config'}">-->
      <!--<a ng-class="{disabled: nav.DatabaseStatus != 1}" ng-click="nav.goToAlways($event, 'playground.orm-config')" href="">-->
      <!--<i class="ti-github"></i>-->
      <!--<span>ORM Configuration</span>-->
      <!--</a>-->
      <!--</li>-->
      <li ng-class="{active: nav.state == 'playground.todo'}" ng-show="nav.isExampleApp()">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}" ng-click="nav.goToAlways($event, 'playground.todo')" href="">
          <i class="ba-icon-todo-example"></i>
          <span>Todo Example</span>
        </a>
      </li>
    </ul>
  </li>
  <li ng-class="{active: nav.isTablesActive(), disabled: nav.DatabaseStatus != 1}">
    <a ng-class="{disabled: nav.DatabaseStatus != 1}"
       ng-click="nav.tables.length == 0 && nav.app.connectionSource !== 'local' ? nav.goTo($event, 'tables.notables') : {}"
       href="">
      <i class="ba-icon-objects"></i>
      <span>Objects</span>
        <ba-tooltip tooltip-text="List of your objects which are the source of information about your data.
        Generally, each object maps to a single database table.
        Each object's page contains fields settings, server side actions, security, data-entry and REST API. "
                    tooltip-placement="right"></ba-tooltip>
      <i class="ti-angle-double-right pull-right"
         style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
    </a>
    <ul class="ex4" id="ex4" ng-style="{'display': nav.getObjectMenuStyle()}">
      <li ng-if="nav.app.connectionSource === 'local'">
        <a ui-sref="erd_model">
          <i class="ba-icon-model"></i>
          <span>Model</span>
        </a>
      </li>
      <li>
        <a  ng-if="nav.app.connectionSource === 'local'"
            ng-click="nav.newObject()" href="">
          <i class="ba-icon-new-query"></i>
          <span>New Object</span>
        </a>
      </li>
      <li ng-if="nav.app.connectionSource !== 'local'">
        <a ui-sref="tables.notables">
          <i class="ba-icon-model"></i>
          <span>Sync with Database</span>
        </a>
      </li>

      <li ng-class="{active: false }" ng-repeat="table in nav.tables">
        <a ng-class="{disabled: false}"  ng-click="nav.showTable($event, table)" href="">
          <i class="ba-icon-todo"></i>
          <span>{{table.name}}</span>
        </a>
      </li>
    </ul>
  </li>

  <li ng-class="{active: nav.state == 'dbQueries', disabled: nav.DatabaseStatus != 1}" >
    <a ng-class="{disabled: nav.DatabaseStatus == 1}" ng-click="nav.loadDbQueries()" href="">
      <i class="ba-icon-quries"></i>
      <span>Queries</span>
      <ba-tooltip tooltip-text="Create your own custom queries objects" tooltip-placement="right" class=""></ba-tooltip>

      <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;" ng-if="nav.DatabaseStatus == 1"></i>
    </a>
    <ul>
      <li ng-class="{active: false }" ng-if="nav.DatabaseStatus == 1">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}" ng-click="nav.newDbQuery($event)" href="">
          <i class="ba-icon-new-query"></i>
          <span>New Query</span>
        </a>
      </li>
    </ul>
    <ul class="scrollbar ex4">
      <li ng-class="{active: nav.state == 'dbQueries.query'}" ng-repeat="query in nav.queries">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.showDbQuery($event, query)" href="">
          <i class="ti-write"></i>
          <span>{{query.name}}</span>
        </a>
      </li>
    </ul>
  </li>

    <li ng-class="{active: nav.state == 'cronJobs'}" >
      <a href="">
        <i class="ba-icon-quries"></i>
        <span>Cron Jobs</span>
        <ba-tooltip tooltip-text="Create server-side cron jobs" tooltip-placement="right" class=""></ba-tooltip>

        <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
      </a>
      <ul>
        <li ng-class="{active: false }">
          <a ng-click="nav.goTo($event, 'cronJobs.new')" href="">
            <i class="ba-icon-new-query"></i>
            <span>New Job</span>
          </a>
        </li>
      </ul>
      <ul class="scrollbar ex4">
        <li ng-class="{active: nav.state == 'cronJobs.job'}" ng-repeat="cronJobs in nav.cronJobs">
          <a ng-click="nav.showCronJob($event, query)" href="">
            <i class="ti-write"></i>
            <span>{{cronJobs.name}}</span>
          </a>
        </li>
      </ul>
    </li>

  <li ng-class="{active: nav.state == 'reports', disabled: nav.DatabaseStatus != 1}" >
    <a ng-class="{disabled: nav.DatabaseStatus == 1}" href="">
      <i class="ba-icon-icon-analtyics"  style="font-size: 14px;"></i>
      <span>Analytics</span>
      <ba-tooltip tooltip-text="Analytics reports" tooltip-placement="right" class=""></ba-tooltip>
      <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;" ng-if="nav.DatabaseStatus == 1"></i>
    </a>
    <ul>
      <li ng-class="{active: nav.state == 'analytics.report'}">
        <a ng-class="{disabled: nav.DatabaseStatus != 0}" ng-click="nav.goTo($event, 'analytics.report')" href="">
          <i class="ba-icon-icon-reports"></i>
          <span>Reports</span>
        </a>
      </li>
    </ul>
  </li>

  <li ng-class="{active: nav.state == 'security.users', disabled: nav.DatabaseStatus != 1}">
    <a ng-class="{disabled: nav.DatabaseStatus != 1}"  href="">
      <i class="ba-icon-security-and-auth"></i>
      <span>Security & Auth</span>
      <ba-tooltip tooltip-text="General security configuration, users and roles" tooltip-placement="right" class=""></ba-tooltip>
      <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
    </a>
    <ul>
      <li ng-class="{active: nav.state == 'security.auth', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'security.auth')" href="">
          <i class="ba-icon-configuration"></i>
          <span>Configuration</span>
          <ba-tooltip tooltip-text="Setting your application to be public or private" tooltip-placement="right" class=""></ba-tooltip>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'security.keys', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'security.keys')" href="">
          <i class="ba-icon-keys"></i>
          <span>Social & Keys</span>
          <ba-tooltip tooltip-text="configure social sign-up and get API keys" tooltip-placement="right" class=""></ba-tooltip>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'security.users', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'security.users')" href="">
          <i class="ba-icon-registered-users"></i>
          <span>Registered Users</span>
          <ba-tooltip tooltip-text="Manage your app's users" tooltip-placement="right" class=""></ba-tooltip>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'security.team', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'security.team')" href="">
          <i class="ba-icon-admins"></i>
          <span>Team</span>
          <ba-tooltip tooltip-text="Manage your administration team" tooltip-placement="right" class=""></ba-tooltip>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'security.actions', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'security.actions')" href="">
          <i class="ba-icon-security-actions"></i>
          <span>Security Actions</span>
          <ba-tooltip tooltip-text="Manage users actions, configure sign-up and social emails"
                      tooltip-placement="right" class=""></ba-tooltip>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'security.templates', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'security.templates')" href="">
          <i class="ba-icon-secruirty-templates"></i>
          <span>Security Templates</span>
          <ba-tooltip tooltip-text="Reusable permissions that allows you to have more granular control over the CRUD actions of each object" tooltip-placement="right" class=""></ba-tooltip>
        </a>
      </li>
    </ul>
  </li>

  <li ng-class="{active: nav.state == 'docs.hosting', disabled: nav.DatabaseStatus != 1}">
    <a ng-class="{disabled: nav.DatabaseStatus != 1}"  href="">
      <i class="ba-icon-icon-hosting-files"></i>
      <span>Hosting</span>
      <ba-tooltip tooltip-text="High-performance, reliable and secure hosting for AngularJS applications"
                  tooltip-placement="right" class=""></ba-tooltip>
      <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
    </a>
    <ul>
      <li ng-class="{active: nav.state == 'docs.hosting', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'docs.hosting')" href="">
          <i class="ba-icon-configuration"></i>
          <span>Configuration</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'hosting.hosting_tree', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'hosting.hosting_tree')" href="">
          <i class="ba-icon-icon-hosting"></i>
          <span>Hosting Files</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'hosting.files_tree', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'hosting.files_tree')" href="">
          <i class="ba-icon-icon-storage"></i>
          <span>Storage Files</span>
        </a>
      </li>
    </ul>
  </li>

  <li ng-class="{active: nav.state == 'log.activity', disabled: nav.DatabaseStatus != 1}">
    <a ng-class="{disabled: nav.DatabaseStatus != 1}"  href="">
      <i class="ba-icon-log"></i>
      <span>Log</span>
      <ba-tooltip tooltip-text="Tracks all app configuration changes, object data changed and exceptions"
                  tooltip-placement="right" class=""></ba-tooltip>
      <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
    </a>
    <ul>
      <li ng-class="{active: nav.state == 'log.config', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'log.config')" href="">
          <i class="ba-icon-configuration"></i>
          <span>Configuration</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'log.history', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'log.history')" href="">
          <i class="ba-icon-data-history"></i>
          <span>Data History</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'log.console', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'log.console')" href="">
          <i class="ba-icon-icon-console"></i>
          <span>Console</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'log.exception', disabled: nav.DatabaseStatus != 1}">
        <a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'log.exception')" href="">
          <i class="ba-icon-server-side-exceptions"></i>
          <span>Server Side Exceptions</span>
        </a>
      </li>
      <!--<li ng-class="{active: nav.state == 'log.requests', disabled: nav.DatabaseStatus != 1}">-->
        <!--<a ng-class="{disabled: nav.DatabaseStatus != 1}"  ng-click="nav.goTo($event, 'log.requests')" href="">-->
          <!--<i class="ba-icon-server-side-exceptions"></i>-->
          <!--<span>API Requests</span>-->
        <!--</a>-->
      <!--</li>-->
    </ul>
  </li>


    <li ng-class="{active: nav.state == 'database.show' || nav.state == 'database.edit'}">
      <a href="">
        <i class="ba-icon-settings"></i>
        <span>Settings</span>
        <span class="status status-{{nav.getDBStatus()}} pull-left"></span>
        <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
      </a>
      <ul>
        <li ng-class="{active: nav.state == 'app.edit', disabled: nav.DatabaseStatus != 1}">
          <a ng-click="nav.goTo($event, 'app.edit')" href="">
            <i class="ba-icon-general"></i>
            <span>General</span>
          </a>
        </li>
        <li ng-if="nav.DatabaseStatus == 1" ng-class="{active: nav.state == 'database.show' || nav.state == 'database.edit'}">
          <a ng-class="{disabled: nav.DatabaseStatus != 1}" ng-click="nav.goTo($event, 'database.show')" href="">
            <i class="ba-icon-database"></i>
            <span>Database</span>
          </a>
        </li>
        <li ng-if="nav.DatabaseStatus == 0" ng-class="{active: nav.state == 'database.show' || nav.state == 'database.edit'}">
          <a ng-class="{disabled: nav.DatabaseStatus != 0}" ng-click="nav.goToAlways($event, 'database.edit')" href="">
            <i class="ti-wand"></i>
            <span>Connect</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'app.configuration'}">
          <a ng-class="{disabled: nav.DatabaseStatus != 0}" ng-click="nav.goTo($event, 'app.configuration')" href="">
            <i class="ti-wand"></i>
            <span>Configuration</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'app.billing'}">
          <a ng-class="{disabled: nav.DatabaseStatus != 0}" ng-click="nav.goTo($event, 'app.billing')" href="">
            <i class="ti-money"></i>
            <span>Billing Portal</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'app.billingupgrade'}">
          <a ng-class="{disabled: nav.DatabaseStatus != 0}" ng-click="nav.goTo($event, 'app.billingupgrade')" href="">
            <i class="ti-money"></i>
            <span>Upgrade Plan</span>
          </a>
        </li>
        <li ng-class="{active: nav.state == 'app.billingpayment'}">
          <a ng-class="{disabled: nav.DatabaseStatus != 0}" ng-click="nav.goTo($event, 'app.billingpayment')" href="">
            <i class="ti-money"></i>
            <span>Payment Method</span>
          </a>
        </li>

        <!--<li ng-class="{active: nav.state == 'database.add-tables', disabled: nav.DatabaseStatus != 1}">
          <a ng-class="{disabled: nav.DatabaseStatus != 1}" ng-click="nav.goTo($event, 'database.add-tables')" href="">
            <i class="ti-file"></i>
            <span>Templates</span>
          </a>
        </li>-->
      </ul>
    </li>

  <!--<li ng-class="{active: nav.state == 'backoffice.edit', disabled: nav.DatabaseStatus != 1}">
    <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  href="">
      <i class="icon-backoffice-icon"></i>
      <span>Back Office</span>
      <i class="ti-angle-double-right pull-right" style="font-size: 10px; margin-top: 7px; padding-left: 20px;"></i>
    </a>
    <ul>
      <li ng-class="{active: nav.state == 'backoffice.edit', disabled: nav.DatabaseStatus !== 1}">
        <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goTo($event, 'backoffice.edit')" href="">
          <i class="icon-style"></i>
          <span>Templates</span>
        </a>
      </li>
      <li ng-class="{active: nav.state == 'backoffice.edit', disabled: nav.DatabaseStatus !== 1}">
        <a ng-class="{disabled: nav.DatabaseStatus !== 1}"  ng-click="nav.goToLocation('http://' + nav.appName + '.backand.net')" href="">
          <i class="icon-cloud"></i>
          <span>Hosted Back Office</span>
        </a>
      </li>

      <li ng-class="{active: nav.state == 'backoffice.cust'}">
        <a ng-click="nav.goToAlways($event, 'backoffice.cust')" href="">
          <i class="icon-magic"></i>
          <span>Customization</span>
        </a>
      </li>

      <li ng-class="{active: nav.state == 'backoffice.code'}">
        <a ng-click="nav.goToAlways($event, 'backoffice.code')" href="">
          <i class="icon-file-code-o"></i>
          <span>Code Example</span>
        </a>
      </li>
    </ul>
  </li>-->
</ul>
</div>
