<section class="header-container ng-scope header-fixed bg-white"
         id="header">
  <div class="alert alert-info db-alert" style="background: red; height:45px; font-weight: bold; font-size: 1.8em;">Back& is closing its service on February 28 2018</div>
  <header class="top-header clearfix"
          ng-click="header.hideDropdowns()">
    <div ng-if="header.usingDefaultModel"
         class="alert db-alert alert-info">
      You’re Currently using the <strong> Default Data Model </strong>
      <span class="button-wrapper"><a ui-sref="erd_model" class="btn btn-ghost">Setup Data Model</a>
      <span class="or">or</span>
      <a ui-sref="database.show" class="btn btn-ghost">Connect Your Database</a></span>
    </div>
    <div class="top-nav">
      <ul class="nav-left list-unstyled" ng-if="!header.hideAppList()">
        <li class="search-box" id="search">
          <div class="input-group search-wrapper">
            <bknd-search results="header.searchResults"></bknd-search>
          </div>
        </li>
        <li ng-if="header.debugMode">
          <p style="color:red;position: relative;left: 220px;top: 13px;"><span
            class="glyphicon glyphicon-wrench"></span> debug mode</p>
        </li>
      </ul>
      <ul class="nav-left list-unstyled" ng-if="header.hideAppList()">
        <li >
          <div class="backand-header">
            <i class="sprite-menu sprite-backand-logo bcknd-logo"></i>
          </div>
        </li>
      </ul>
      <ul class="nav-right pull-right list-unstyled">
        <li class="text-normal">
          <a href="http://status.backand.com" class="system-status-link" target="_blank">
            <span tooltip="{{header.currentStatus}}" tooltip-placement="bottom">
              <i class="current-status-indicator"></i>
              <span class="system-status-label">System Status</span>
            </span>
          </a>
        </li>
        <li class="help-dropdown">
          <a ng-click="header.toggleHelpDropdown($event)"
             href="" class="dropdown-toggle header-item" data-toggle="dropdown">
                <span>
                    <i class="ti-help"></i>
                </span>
          </a>
          <ul ng-show="header.showHelpDropdown" class="dropdown-menu with-arrow pull-right hovering-menu">
            <li>
              <a target="_blank" href="http://docs.backand.com">
                <i class="ti-agenda"></i>
                <span>Backand Documentation</span>
              </a>
            </li>
            <li>
              <a href="" ng-click="header.openVideoModal()">
                <i class="ti-video-clapper"></i>
                <span>Video Tutorials</span>
              </a>
            </li>
            <li>
              <a href="" ng-click="header.toggleIntercom()">
                <i class="ti-comment-alt"></i>
                <span>{{header.showIntercomLabel}}</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown text-normal nav-profile">
          <a ng-click="header.toggleUserDropdown($event)"
             href="" class="dropdown-toggle header-item" data-toggle="dropdown">
              <span class="bknd-username">{{::header.getCurrentUser().username}}
                <i class="ti-arrow-circle-down"></i>
              </span>
          </a>
          <ul ng-show="header.showUserDropdown" class="dropdown-menu with-arrow hovering-menu pull-right">
            <li class="bknd-username"><a>{{::header.getCurrentUser().username}}</a></li>
            <li>
              <a href="" ng-click="header.changePassword()">
                <i class="ti-lock"></i>
                <span>Change Password</span>
              </a>
            </li>
            <li>
              <a href="" ng-click="header.openPaymentMethod()">
                <i class="ti-money"></i>
                <span>Payment Method</span>
              </a>
            </li>
            <li>
              <a href="" ng-click="header.deleteAccount()">
                <i class="ti-trash"></i>
                <span>Delete Account</span>
              </a>
            </li>
            <li>
              <a href="" ng-click="header.logout()">
                <i class="ti-export"></i>
                <span>Log Out</span>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </div>

  </header>
</section>
