<div><label>MAC:</label>

  <p>curl -X GET -H &quot;X-Parse-Application-Id:YourParseAppID&quot; -H
    &quot;X-Parse-Master-Key:YourParseAppMasterKey&quot; -H
    &quot;Content-Type: application/json&quot; https://api.parse.com/1/schemas
  </p>
  <p>Or you can download and run this <a href="assets/utils/BackAndMacScript.app.zip"
                                         download="BackAndMacScript.app.zip" target="_blank">app utility</a></p>
</div>

<div>
  <label>Windows:</label>

  <p>
    If you use Windows, you can use Postman, use GET and make a request from https://api.parse.com/1/schemas with the
    following headers:
  </p>
  <ul class="no-bullets-list">
    <li>X-Parse-Application-Id: YourParseAppID</li>
    <li>X-Parse-Master-Key: YourParseAppMasterKey</li>
    <li>Content-Type: application/json</li>
  </ul>
</div>
