<div class="modal-header">
  <h3 class="modal-title">
    Parse to Backand Migration tool
  </h3>
</div>
<div class="modal-body">
  <div us-spinner spinner-key="loading"></div>
  <form role="form" ng-submit="" name="parse-migration-form">
    <label for="app-name">App Name:</label>
    <input type="text" class="form-control" id="app-name" ng-model="parseMigration.appName"
           placeholder="Your new app name in Backand">

    <label for="app-description">App Title:</label>
    <input type="text" class="form-control" id="app-description" ng-model="parseMigration.appTitle"
           placeholder="Optional description">

    <label for="parse-scheme">Parse Schema:</label>

      <button popover-placement="bottom" popover-title="You can get the Parse database schema by running:"
              popover-template="parseMigration.schemaPopoverTemplateUrl"
              class="btn btn-link">How do I get my schema?
      </button>

    <textarea class="form-control" id="parse-scheme"
              ng-model="parseMigration.parseSchema"
              placeholder="{{parseMigration.dataSchemePlaceholder}}"
              rows="15">
    </textarea>

    <label for="data-export">Data Export:</label>

    <div class="migration-description">{{::parseMigration.dataExportDescription}}
      <button
        popover-title="Instructions for exporting data" popover-template="parseMigration.dataExportPopoverTemplateUrl" class="btn btn-link">
        How do I export my data?
      </button>
    </div>
    <input type="text" class="form-control" id="data-export"
           placeholder="https://s3.amazonaws.com/export.parse.com/e41158a4-03cd-476e-b998-9adc784bfabd_1455115374_export.zip?AWSAccessKeyId=AKIAIOZ4MOVEOQZ2326Q&Expires=1457793774&Signature=4L6NAv9p4QixXvUSZ%2FMiRKZNaao%3D"
           ng-model="parseMigration.parseUrl">
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="parseMigration.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="parseMigration.create()">Create</button>
</div>
