<div class="modal-header">
  <h3 class="modal-title">
    Parse to Backand Migration tool
  </h3>
</div>
<div class="modal-body">
  <div us-spinner spinner-key="loading"></div>
  <form role="form" ng-submit="" name="parse-migration-form">
    <label for="app-name">App Name:</label>
    <input type="text" class="form-control" id="app-name" ng-model="parseMigration.appName">

    <label for="app-description">App Description:</label>
    <textarea class="form-control" id="app-description" ng-model="parseMigration.appDescription"></textarea>

    <label for="parse-scheme">Parse Scheme:</label>
    <div class="migration-description">{{::parseMigration.parseSchemeDescription}}</div>
    <textarea class="form-control" id="parse-scheme" ng-model="parseMigration.parseSchema"></textarea>

    <label for="data-export">Data Export:</label>
    <div class="migration-description">{{::parseMigration.dataExportDescription}}</div>
    <input type="text" class="form-control" id="data-export" ng-model="parseMigration.parseUrl">
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="parseMigration.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="parseMigration.create()">Create</button>
</div>
