<div><label>MAC:</label>

  <p>curl -X GET -H &quot;X-Parse-Application-Id:YourParseAppID&quot; -H
    &quot;X-Parse-Master-Key:YourParseAppMasterKey&quot; -H
    &quot;Content-Type: application/json&quot; https://api.parse.com/1/schemas
  </p>
  <p>Or you can download and run this <a href="assets/utils/BackAndMacScript.app.zip"
                                         download="BackAndMacScript.app.zip" target="_blank">app utility</a></p>
</div>

<div>
  <label>Windows:</label>

  <p>
    If you use Windows, you can use Postman, use GET and make a request from https://api.parse.com/1/schemas with the
    following headers:
  </p>
  <ul class="no-bullets-list">
    <li>X-Parse-Application-Id: YourParseAppID</li>
    <li>X-Parse-Master-Key: YourParseAppMasterKey</li>
    <li>Content-Type: application/json</li>
  </ul>
</div>


{"access_token":"","token_type":"bearer","expires_in":86399,"appName":"prod2902","username":"itay@backand.com","role":"Admin","firstName":"Itay","lastName":"H","fullName":"Itay H","regId":15475,"userId":"1"}


curl https://api.backand.com/1/objects/items -H "Authorization: Bearer
My4lP60XXvHRE0sctsA7g9rkEuTlzh9BvIKexvfAwmzprqxHXKSkK6IA51QKu3bBrVXZjoxXfxPHq1r1WLU0myMpTrj_ptAq7ospmzDc3XXTuVs4X5RJAP5NyDfYCSnQM_2Md-YcFoJVo-ytwQrEXRRaDsZDbXg57CpwLJjNr2dbZOjmF3LeqOQqfeFeA7Zl1JEgKDYz520GSFyVCmQEAHZ2MEr5An1-DD842lfZdwLa2jXxGuDddjKRTJueCPr0s9PRW6aHqFrUPQrRmfWk-g"
