<div class="nav-wrapper">
  <ul id="nav2" class="nav" collapse-nav>
    <li class="apps-header" ng-click="showAppList = !showAppList" ng-class="{'app-list-open': showAppList}">
      <a >
        <span>{{nav.currentAppName}}</span>
        <div class="down-triangle"></div>
      </a>
      <ul class="apps-list pre-scrollable">
        <li ng-repeat="app in nav.apps.list"
            ng-click="nav.goToApp()">
          <span>{{app.Name}}</span>
          <div us-spinner="{color: 'black'}" spinner-key="loading-{{ ::app.Name}}" spinner-start-active
               style="position:relative; left:50px;"></div>
        </li>
      </ul>
    </li>
    <li ng-class="{active: nav.state == 'security.auth'}">
      <a ng-click="nav.goTo($event, 'security.auth')">
        <i class="fontello-icon-configuration_2 front-icons"></i>
        <span>Configuration</span>
      </a>
    </li>
    <li ng-class="{active: nav.state == 'security.keys'}">
      <a ng-click="nav.goTo($event, 'security.keys')">
        <i class="fontello-icon-social-keys front-icons"></i>
        <span>Social and Keys</span>
      </a>
    </li>
    <li ng-class="{active: nav.state == 'security.users'}" test-hook="linkRegisteredUsers">
      <a ng-click="nav.goTo($event, 'security.users')">
        <i class="fontello-icon-registreed-users front-icons"></i>
        <span>Registered Users</span>
      </a>
    </li>
    <li ng-class="{active: nav.state == 'security.actions'}">
      <a ng-click="nav.goTo($event, 'security.actions')">
        <i class="fontello-icon-security-actions front-icons"></i>
        <span>Security Actions</span>
      </a>
    </li>
    <li ng-class="{active: nav.state == 'security.templates'}">
      <a ng-click="nav.goTo($event, 'security.templates')">
        <i class="fontello-icon-console-log front-icons"></i>
        <span>Security Templates</span>
      </a>
    </li>
  </ul>
</div>
