<div class="nav-wrapper scroller" perfect-scrollbar>
  <ul class="nav" slim-scroll collapse-nav>
    <li class="search-box">
      <div class="input-group">
        <div class="ui-select app-headers" style="font-weight: bold;">
          <select ng-model="nav.currentAppName"
                      ng-change="nav.goToApp()"
                      ng-options="app.Name as app.Name for app in nav.apps.list | orderBy:'Name'"
                      class="app-select">
          </select>
        </div>
        <div us-spinner="{length:10, radius: 10, color: white}" spinner-key="loading-app"
             style="position: relative;"></div>
      </div>
    </li>
  	<li ng-class="{active: nav.backandstorage.currentState == 'security.auth'}"
        ng-click="nav.goTo($event, 'security.auth')">
      <i class="fontello-icon-configuration_2 front-icons"></i>
  			<span>Configuration</span>
  	</li>
  	<li ng-click="nav.goTo($event, 'security.keys')"
        ng-class="{active: nav.backandstorage.currentState == 'security.keys'}">
      <i class="fontello-icon-social-keys front-icons"></i>
  			<span>Social and Keys</span>
  	</li>
  	<li ng-click="nav.goTo($event, 'security.users')"
        ng-class="{active: nav.backandstorage.currentState == 'security.users'}">
      <i class="fontello-icon-registreed-users front-icons"></i>
  			<span>Registered Users</span>
  	</li>
    <li ng-class="{active: nav.backandstorage.currentState == 'security.team', disabled: nav.DatabaseStatus != 1}"
        ng-click="nav.goTo($event, 'security.team')">
      <i class="ba-icon-admins front-icons"></i>
      <span>Team</span>
    </li>
  	<li ng-click="nav.goTo($event, 'security.actions')"
        ng-class="{active: nav.backandstorage.currentState == 'security.actions'}">
      <i class="fontello-icon-security-actions front-icons"></i>
  			<span>Security Actions</span>
  	</li>
    <li ng-click="nav.goTo($event, 'security.templates')"
        ng-class="{active: nav.backandstorage.currentState == 'security.templates'}">
      <i class="fontello-icon-console-log front-icons"></i>
        <span>Security Templates</span>
    </li>
    <li ng-click="nav.goTo($event, 'log.requests')"
        ng-class="{active: nav.backandstorage.currentState == 'log.requests'}">
      <i class="fontello-icon-api-log_2 front-icons"></i>
        <span>API Log</span>
    </li>
  </ul>
 </div>
