<a href="" ng-click="videoCtrl.close()" class="video-modal-close"><img
  src="assets/images/docs_pages/close-modal.png"></a>
<div class="video-modal-title">Video Tutorials</div>

<div ng-repeat="video in videoCtrl.videos" class="video-container">
  <div class="video-img-container">
    <img class="video-img" ng-src="{{video.img}}" alt="" />
    <a href="" class="play-img" video-modal url="video.href"
       title="video.title">
      <img src="assets/images/docs_pages/play.png" />
    </a>
  </div>

  <div class="video-text-container">
    <div class="video-title">{{video.title}}</div>
    <div class="video-desc">{{video.desc}}</div>
  </div>
</div>



