<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong>Storage Files</strong>
      <a href="" title="Refresh tree" class="btn btn-sm"
         ng-click="filesTree.refresh()"><i
        class="glyphicon glyphicon-refresh"></i></a>
    </div>
    <div us-spinner spinner-key="loading" spinner-start-active="true"></div>
    <div class="panel-body">
      <form class="form-inline">
        <button class="btn btn-validate"
                style="margin-top: 0;"
                ng-click="filesTree.upload()"
                >Upload Files</button>
        <select class="form-group form-control"
                style="height: 46px;"
                ng-options="action for action in filesTree.actions"
                ng-disabled="filesTree.node == null"
                ng-change="filesTree.runAction()"
                ng-model="filesTree.action"
                ng-model-options="{debounce:{default:400}}">
          <option value="">Actions</option>
        </select>
      </form>
      <p>
      <h4 style="padding-left: 20px;">{{filesTree.storageUrl}}</h4>
      </p>
      <bknd-tree-control on-selected="filesTree.selected(node)" external-action="false"
                         action="filesTree.action"></bknd-tree-control>
    </div>
  </section>
</section>
