<section class="page-form-ele page ng-scope">
    <div class="panel panel-default">
        <div class="panel-heading"><strong> ORM playground</strong>
            <div us-spinner spinner-key="loading" spinner-start-active></div>
        </div>
        <div class="panel-body">
            <div class="row col-sm-10 col-sm-offset-1">
                <!--<iframe id="restIfrmae" src="//s3.amazonaws.com/demo.backand.net/misc/rest-api/index.html?useToken=true&orm=restangular#!/Database_Table_Data" style="height:578px;width:1028px;border: none"></iframe>-->
                <iframe id="restIfrmae" src="//www.modubiz.us:4019/misc/rest-api/index.html?useToken=true&orm=restangular#!/Database_Table_Data" style="height:578px;width:1028px;border: none"></iframe>
            </div>
        </div>
    </div>
</section>

