<section class="page-form-ele page ng-scope">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong test-hook="example.playground.title">Todo list example page</strong>
  </div>

  <div class="panel-body">
    <br/>

    <h3>Todo list example app - review the code, play with the live demo and install it locally</h3>
    <br/>
      <div class="row">
        <div class="col-md-7">
          <div>
            <ul class="nav nav-tabs"
                ng-class="{'nav-stacked': vertical, 'nav-justified': justified}">
              <li ng-class="{active: todo.activeFile === codeFile}"
                  ng-repeat="codeFile in todo.codeFiles">
                <a ng-click="todo.getFile(codeFile)" href="">
                  {{codeFile.name}}
                </a>
              </li>
            </ul>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">

          <div ui-ace=todo.getAceObj()
               readonly
               class="form-control ace-example"
               id="tableTemplate"
               ng-model="todo.todoHTML"
               required
               ng-pattern="codeRegex"
               style="resize: vertical; ">
          </div>
        </div>
        <div class="row col-md-5">

          <div ng-hide="todo.iframeReady()" class="iframe-substitute" test-hook="example.playground.iframe-substitute">
            <div >
              <div class="iframe-substitute-message">Please wait a few minutes while the application is being created.</div><br/><br/>
              <div us-spinner spinner-key="loading-iframe" us-spinner="{length:10, radius: 10}" style="position: relative;"></div><br/><br/>
              <div class="iframe-substitute-submessage">You can come back to this page by selecting "Todo Example" under "Docs & API" in the navigation bar.</div>
            </div>
          </div>

          <iframe ng-if="todo.iframeReady()"
                  id="todoIframe" src="//s3.amazonaws.com/todosample.backand.net/index.html"
                  style="border-width: 1px; border-color: #dddddd; height: 400px; width: 100%;"
                  seamless="true">
          </iframe>
          <br/><br/>
          <b>1. Download the code:</b> (for more troubleshooting review our <a href="https://github.com/backand/angular-yeoman-todos" target="_blank">github</a>)
          <pre>
  git clone https://github.com/backand/angular-yeoman-todos.git
  cd angular-yeoman-todos</pre>
          <br/>
          <b>2. Install dependencies</b>
          <pre>
  npm install
  bower install
  grunt serve</pre>
          <p><b>3. Your application is available now at <a href="http://localhost:9000" target="_blank">http://localhost:9000</a></b></p>
        </div>
      </div>
    </div>
  </div>
</section>


