<div ng-controller="LogData as data" id="grid-container">
  <div ui-grid="data.gridOptions"
       class="datagrid"
       ng-show="data.gridOptions.totalItems > 0">
  </div>
  <div ng-show="data.gridOptions.totalItems == 0">
    <h3>No data in {{data.title}}</h3>
  </div>
  <div ng-show="data.gridOptions.totalItems > 0" class="row">
    <div class="col-md-5">
      <pagination total-items="data.gridOptions.totalItems" ng-model="data.paginationOptions.pageNumber" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="data.paginationOptions.pageSize" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
    </div>
    <div class="col-md-2" style="margin-top:20px;">
      Page size:
      <select class="ui-select" ng-model="data.paginationOptions.pageSize" >
        <option ng-repeat="size in data.paginationOptions.pageSizes">{{size}}</option>
      </select>
    </div>
    <div class="col-md-5" style="margin-top:20px;">
      <span class="pull-right">Showing {{data.paginationOptions.pageSize * (data.paginationOptions.pageNumber-1) +1}} to {{data.pageMax(data.paginationOptions.pageSize, data.paginationOptions.pageNumber, data.gridOptions.totalItems)}} of {{data.gridOptions.totalItems}} rows</span>
    </div>
  </div>
</div>
