<div id="grid-container" class="object-data-page">
   <div ng-click="ObjectData.toggleSearch()"></div>
  <us-spinner spinner-key="loading-data" spinner-start-active="1"
              style="position: relative; top: 15px; left: calc(100%/2);"></us-spinner>

  <a href="" class="btn btn-success" ng-click="ObjectData.newRow()"><i class="ti-plus"></i> Add Row</a>

  <button class="btn btn-default glyphicon glyphicon-repeat refresh-data-button"
          title="Reload data from server"
          ng-click="ObjectData.refresh()"></button>

  <button class="btn btn-default glyphicon glyphicon-cloud-upload refresh-data-button"
          title="Upload data using JSON"
          ng-click="ObjectData.uploadJson()"></button>

  <button class="btn btn-default glyphicon glyphicon-trash refresh-data-button"
          id="delete-multiple-rows"
          ng-disabled="gridApi.selection.getSelectedRows().length === 0"
          title="Delete all selected rows"
          ng-click="ObjectData.deleteRows()"></button>

  <a class="btn btn-success btn-xs btn-wide pull-right" ng-click="ObjectData.toggleShowLog()">
    <i class="ti-angle-left" ng-show="ObjectData.showLog"></i>
    {{ ObjectData.showLog ? 'HIDE CODE' : 'SHOW CODE' }}
    <i class="ti-angle-right" ng-hide="ObjectData.showLog"></i>
  </a>
<div>
  <div class="row">
    <div ng-class="ObjectData.showLog == false ? 'col-md-12' : 'col-md-8'">

      <!-- Filter Data-->
      <fieldset class="collapsible-fieldset"
                ng-class="{'fieldset-open': ObjectData.showFilter, 'fieldset-closed': !ObjectData.showFilter}">

        <legend ng-click="ObjectData.toggleShowFilter()">
          <a href="">
            Filter Data</a>
        </legend>

        <div ng-show="ObjectData.showFilter">

          <bknd-filter-form query="ObjectData.filterQuery"
                            fields="ObjectData.filterOptions.fields"
                            operators="ObjectData.filterOptions.operators"
                            no-repeat="true"
                            disable-value="ObjectData.disableValue"
                            on-submit="ObjectData.filterData()"
                            default-filter="ObjectData.defaultFilter">
          </bknd-filter-form>

        </div>
      </fieldset>

      <!-- Data Grid -->
      <div ui-grid="ObjectData.gridOptions"
           class="datagrid" ui-grid-resize-columns ui-grid-selection
           external-scopes="$scope">
      </div>
      <div ng-show="ObjectData.gridOptions.totalItems > 0" class="row">
        <div class="col-md-5">
          <pagination total-items="ObjectData.gridOptions.totalItems"
                      ng-model="ObjectData.paginationOptions.pageNumber"
                      max-size="5"
                      class="pagination-sm"
                      boundary-links="true"
                      rotate="false"
                      items-per-page="ObjectData.paginationOptions.pageSize"
                      previous-text="&lsaquo;"
                      next-text="&rsaquo;"></pagination>
        </div>
        <div class="col-md-2" style="margin-top:20px;">
          Page size:
          <select class="ui-select"
                  ng-model="ObjectData.paginationOptions.pageSize"
                  ng-options="size for size in ObjectData.paginationOptions.pageSizes">
          </select>
        </div>
        <div class="col-md-5" style="margin-top:20px;">
          <span class="pull-right">
            Showing {{ObjectData.paginationOptions.pageSize * (ObjectData.paginationOptions.pageNumber-1) +1}}
            to {{ObjectData.pageMax(ObjectData.paginationOptions.pageSize,
                                    ObjectData.paginationOptions.pageNumber,
                                    ObjectData.gridOptions.totalItems)}}
            of {{ObjectData.gridOptions.totalItems}} rows</span>
        </div>
      </div>
    </div>

    <!-- HTTP Log -->
    <div ng-show="ObjectData.showLog" class='col-md-4' >

    <div class="row http-panel" ng-class="ObjectData.pinme === false ? 'row-margin': '' ">
      <div class="panel panel-default log-panel" ng-class="ObjectData.pinme === true ? 'col-md-8' : 'col-md-12  http-log'" ng-if="ObjectData.httpRequestsLog.length !== 0">
        <div class="panel-heading">
          <div>
            <div ng-if="ObjectData.pinme === false">
              <button  class="btn btn-default   http-dropdownbutn" type="button" ng-click="ObjectData.showMe()"      aria-haspopup="true" aria-expanded="false">
              Action Log: {{ObjectData.httpRequestsLog[ObjectData.logIndex.last].requestTitle}},
              {{ObjectData.httpRequestsLog[ObjectData.logIndex.last].requestMethod}}
              <span class="ti-arrow-circle-down"></span>
              </button>
            </div>
            <div ng-if="ObjectData.pinme === true">
              <p class="display-heading">{{ObjectData.httpRequestsLog[ObjectData.logIndex.last].requestTitle}},
              {{ObjectData.httpRequestsLog[ObjectData.logIndex.last].requestMethod}}</p>
            </div>
          </div>

             <div class="http-drop-table" ng-show="ObjectData.showme">
             <table class="table  animate-show-hide" >
              <thead class="http-body">
                <tr  ng-click="ObjectData.pinMe()" class="http-drop-table-head cursorp">
                  <td><p>Pin to sidebar</p></td>
                  <td>
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  </td>
                </tr>
              </thead>
              <tbody class="http-body">
                <tr ng-class="{'tr-hovering' : hovering}" ng-mouseenter="hovering=true" class="cursorp"
                ng-mouseleave="hovering=false" ng-repeat="option in ObjectData.httpRequestsLog" ng-click="ObjectData.getLogIndex($index)">
                  <td class="request-ti"> <span ng-if="ObjectData.logIndex.last === $index" class="glyphicon glyphicon-play btn-xs play-butn"></span><span>{{option.requestTitle}}</span>
                  </td>
                  <td class="request-method">
                    <b>{{option.requestMethod}}</b>
                  </td>
                </tr>
              </tbody>
              </table>
            </div>

        </div>

        <div class="panel-body">
          <div class="object-data-log-container">
            <div>
              <bknd-code-generator url="{{ObjectData.httpRequestsLog[ObjectData.logIndex.last].requestUrl}}"
                                   http-object="{{ObjectData.httpRequestsLog[ObjectData.logIndex.last].httpObject}}"></bknd-code-generator>

              <label for="log-item-response">Response JSON</label>
              <bknd-copy-box id="log-item-response"
                             type="textarea"
                             content="ObjectData.httpRequestsLog[ObjectData.logIndex.last].response"></bknd-copy-box>
            </div>

          </div>
        </div>
      </div>


    <div class="col-md-4 action-log" style="padding-left: 0px;" ng-show="ObjectData.pinme">
                   <div class="http-pinned-table" >
             <table class="table  animate-show-hide" >
              <thead class="http-body">
                <tr class="http-table-head">
                  <td><p>Action Log</p></td>
                  <td>
                  <span ng-click="ObjectData.pinMe()" class="glyphicon glyphicon-chevron-left cursorp"></span>
                  </td>
                </tr>
              </thead>
              <tbody class="http-body">
                <tr ng-class="{'tr-hovering' : hovering}" ng-mouseenter="hovering=true" class="cursorp"
                ng-mouseleave="hovering=false" ng-repeat="option in ObjectData.httpRequestsLog" ng-click="ObjectData.getLogIndex($index)">
                  <td class="request-titl"> <span ng-if="ObjectData.logIndex.last === $index" class="glyphicon glyphicon-play btn-xs play-butn"></span><span>{{option.requestTitle}}</span>
                  </td>
                  <td class="request-method">
                    <b>{{option.requestMethod}}<b>
                  </td>
                </tr>
              </tbody>
              </table>
            </div>
    </div>
    </div>
</div>
  </div>
  </div>
</div>
