<div class="modal-header">
  <h3 class="modal-title">
    {{EditRow.editRowData.id ? 'Edit Row (Id: ' + EditRow.editRowData.id + ')': 'New Row'}}
  </h3>
</div>
<div class="modal-body edit-row-modal">
  <form role="form" ng-submit="EditRow.saveRow()" name="EditRow.editRowForm" novalidate>
    <fieldset>
      <div class="form-group" ng-repeat="item in EditRow.editRowData.entities" ng-if="!item.hide">
        <label for="{{item.key}}_{{item.type}}">
          {{EditRow.getLabel(item.key)}}<span ng-if="item.required"> *</span>
        </label>
        <div ng-switch on="item.type">

          <textarea ng-switch-when="textarea"
                    class="form-control"
                    id="{{item.key}}_textarea"
                    name="item.key" ng-model="item.value"
                    ng-required="item.required"
                    ng-disabled="item.disable"></textarea>

          <input ng-switch-when="checkbox" type="checkbox"
                 class="form-control"
                 id="{{item.key}}_checkbox"
                 name="item.key"
                 ng-model="item.value"
                 ng-required="item.required"
                 ng-disabled="item.disable"/>

          <div ng-switch-when="dateTime" class="input-group">
            <span class="input-group-addon ti-calendar"></span>
            <input type="date"
                   class="editable-has-buttons editable-input form-control"
                   ng-model="item.value"
                   ng-required="item.required"
                   ng-disabled="item.disable" />
            <span class="input-group-addon ti-time"></span>
            <input type="time"
                   class="editable-has-buttons editable-input form-control"
                   ng-model="item.value"
                   ng-required="item.required"
                   ng-disabled="item.disable" />
          </div>

          <div ng-switch-when="singleSelect" class="input-group">
            <span ng-hide="loadingSingleSelect"
                  class="input-group-addon ti-search"></span>
            <span ng-show="loadingSingleSelect"
                  class="input-group-addon"
                  us-spinner="{lines: 9, radius:4, width:3, length: 2, position: 'relative'}"
                  style="padding: 6px 18px 6px 19px;"></span>
            <input type="text"
                   id="{{item.key}}_singleSelect"
                   ng-model="item.value"
                   typeahead="row.__metadata.id as EditRow.getSingleSelectLabel(row, item) for row in EditRow.getSingleAutocomplete(item, $viewValue)"
                   typeahead-template-url="views/tables/data/select_row_template.html"
                   typeahead-editable="false"
                   typeahead-loading="loadingSingleSelect"
                   class="form-control"
                   ng-disabled="item.disable">
          </div>

          <!--<input ng-switch-when="MultiSelect"
                 type="text"
                 ng-model="item.value"
                 typeahead="row.value as row.value + '. ' + row.label for row in EditRow.getMultiAutocomplete(item.key, $viewValue, item)"
                 typeahead-editable="false"
                 typeahead-on-select="EditRow.onMultiSelect(item, $model)"
                 class="form-control">-->

          <!-- text and MultiSelect-->
          <div ng-switch-when="multiSelect" class="input-group">
            <span class="input-group-addon">
              <ba-tooltip tooltip-text="comma separated values, i.e. 3,17,50" tooltip-placement="left"></ba-tooltip>
            </span>
            <input type="text"
                   class="form-control"
                   id="{{item.key}}_multiSelect"
                   name="item.key"
                   ng-model="item.value"
                   ng-required="item.required"
                   ng-disabled="item.disable"/>
          </div>

          <div ng-switch-when="numeric" class="input-group">
            <span class="input-group-addon" style="min-width: 39px">0</span>
            <input type="text"
                   class="form-control"
                   id="{{item.key}}_text"
                   name="item.key"
                   ng-model="item.value"
                   ng-required="item.required"
                   ng-disabled="item.disable"/>
          </div>

          <div ng-switch-default class="input-group">
            <span class="input-group-addon ti-text"></span>
            <input type="text"
                   class="form-control"
                   id="{{item.key}}_text"
                   name="item.key"
                   ng-model="item.value"
                   ng-required="item.required"
                   ng-disabled="item.disable"/>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success"
          ladda="EditRow.savingRow"
          ng-click="EditRow.saveRow()"
          ng-disabled="EditRow.editRowForm.$invalid">
    Save
  </button>
  <button class="btn btn-success"
          ladda="EditRow.savingRow"
          ng-click="EditRow.saveAndNew()"
          ng-if="!EditRow.editRowData.id"
          ng-disabled="EditRow.editRowForm.$invalid">
    Save & New
  </button>
  <button class="btn btn-default"
          ng-click="EditRow.cancelEditRow()">
    Cancel
  </button>
</div>
