<div class="modal-header">
  <h3 class="modal-title">
    Upload Json
  </h3>
</div>
<div class="modal-body">
  <h4>Upload your JSON to add rows quickly</h4>

  <div us-spinner spinner-key="upload-loading"></div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Templates
      </h3>
    </div>

    <div class="panel-body">
      <div class="row upload-json-templates">
        <a class="btn btn-default" download="{{uploadJson.schemeFileName}}" ng-href="{{uploadJson.jsonDownloadUrl}}">Download
          JSON
          Template</a>
        <button class="btn btn-default" ng-click="uploadJson.showJsonScheme = !uploadJson.showJsonScheme">
          {{uploadJson.showJsonScheme ? 'Hide JSON scheme' : 'Show JSON scheme'}}
        </button>
      </div>
      <div ng-if="uploadJson.showJsonScheme">
        <div
          ui-ace="{theme: 'dwan', mode: 'json', rendererOptions: { fontSize: 15 } }"
          type="text"
          class="form-form-controlcontrol upload-json-scheme"
          id="json-result"
          ng-model="uploadJson.scheme"
          rows="10">
        </div>
      </div>
      <div class="row upload-json-templates" style="margin-top: 15px;">
        <a href="http://www.csvjson.com/csv2json" target="_blank">Use this tool to convert CSV to JSON</a></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Upload
      </h3>
    </div>

    <div class="panel-body">
      <div ngf-drop ngf-select ng-model="uploadJson.file" class="drop-box" ng-if="!uploadJson.jsonData"
           ngf-drag-over-class="'dragover'" ngf-multiple="false">
        Drop JSON here or click to upload
      </div>
      <div ng-if="uploadJson.jsonData">Selected File: {{uploadJson.file.name}} <a href=""
                                                                                  ng-click="uploadJson.jsonData = ''">Cancel</a>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="uploadJson.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="uploadJson.upload()" ng-disabled="!(uploadJson.jsonData || uploadJson.showJsonScheme)">Upload</button>
</div>
