
<section class="page-form-ele page ng-scope">

  <div class="panel panel-default">
    <div class="panel-heading"><strong> select template</strong></div>
    <div class="panel-body">
      <div class="row col-sm-10 col-sm-offset-1">
        <div class="col-sm-5">
          <div class="thumbnail">
            <img src="/assets/images/templateDemo.jpeg">
            <div class="caption">
              <h5>Thumbnail label</h5>
              <div class="divider divider-sm pull-in"></div>
              <p>
                <a ng-click="dash.updateTemplate('1')" class="btn btn-primary" role="button">select</a>
                <a href="javascript:;" class="btn btn-default" role="button">preview</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="thumbnail">
            <img src="/assets/images/templateDemo.jpeg">
            <div class="caption">
              <h5>Thumbnail label</h5>
              <div class="divider divider-sm pull-in"></div>
              <p>
                <a ng-click="dash.updateTemplate('1')" class="btn btn-primary" role="button">select</a>
                <a href="javascript:;" class="btn btn-default" role="button">preview</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="thumbnail" style="background: #f3f3f3">
            <img src="/assets/images/templateDemo.jpeg">
            <div class="caption">
              <h5>Thumbnail label</h5>
              <div class="divider divider-sm pull-in"></div>
              <p>
                <a ng-click="dash.updateTemplate('1')" class="btn btn-primary" role="button">select</a>
                <a href="javascript:;" class="btn btn-default" role="button">preview</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="thumbnail">
            <img src="/assets/images/templateDemo.jpeg">
            <div class="caption">
              <h5>Thumbnail label</h5>
              <div ng-click="dash.updateTemplate('1')" class="divider divider-sm pull-in"></div>
              <p>
                <a class="btn btn-primary" role="button">select</a>
                <a href="javascript:;" class="btn btn-default" role="button">preview</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
