<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> Database Table - {{singleTable.tableName}}</strong>
    </div>
    <div class="panel-body">
      <div class="">
        <div class="ui-tab-container ui-tab-horizontal">

          <tabset justified="false" class="ui-tab">

            <tab heading="Fields" select="singleTable.switchTab('fields')">
              <ng-include src="'views/tables/fields/fields.html'"></ng-include>
            </tab>

            <tab heading="Rules" select="singleTable.switchTab('rules')">
              <ng-include src="'views/tables/rules/rules.html'"></ng-include>
            </tab>

            <tab heading="Security" select="singleTable.switchTab('security')">

            </tab>

            <tab heading="Settings" select="singleTable.switchTab('settings')">

            </tab>

            <tab heading="Data" select="singleTable.switchTab('data')">

            </tab>

          </tabset>

          <br/>
          <button type="submit"
                  class="btn btn-success btn-lg btn-w-lg center-block">Save</button>
          <br/>

        </div>
      </div>
    </div>
  </section>
</section>
</section>
