<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> Database Table - {{singleTable.tableName}}</strong>
    </div>

    <div class="panel-body">
      <div>

        <div class="ui-tab-container ui-tab-horizontal">
          <tabset justified="false" class="ui-tab">

            <tab heading="Fields"
                 ng-click="singleTable.switchTab('fields')">
              <ng-include src="'views/tables/fields/fields.html'"></ng-include>
            </tab>

            <tab heading="Rules"
                 ng-click="singleTable.switchTab('rules')">
              <ng-include src="'views/tables/rules/rules.html'"></ng-include>
            </tab>

            <tab heading="Security"
                 ng-click="singleTable.switchTab('security')">
              <ng-include src="'views/tables/security/security.html'"></ng-include>
            </tab>

            <tab heading="Settings"
                 ng-click="singleTable.switchTab('settings')">
              <ng-include src="'views/tables/settings/settings.html'"></ng-include>
            </tab>

            <tab heading="Data"
                 ng-click="singleTable.switchTab('data')">
              <ng-include src="'views/tables/data/data.html'"></ng-include>
            </tab>

          </tabset>

        </div>
        <br/>
      </div>
    </div>
  </section>
</section>
