<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
        <strong> Objects  </strong>
        <button id="sync_button" type="button" class="btn btn-w-md btn-gap-v btn-round btn-primary btn-md" ng-click="tables.sync()" ladda="tables.syncing" data-style="expand-right" style="margin-left: 50px;">Sync Objects</button>

        <li class=" btn btn-gap-v btn-xs dropdown tables-alert" ng-class="tables.alertClass" style="margin-left: 10px;">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ti-bell" ></i>
            </a>
            <div class="dropdown-menu with-arrow panel panel-default">
                <div class="panel-heading">
                    Sync Status
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="message in tables.getMessages()" style="text-transform: none;">
                        {{message}}
                    </li>
                </ul>
            </div>
        </li>
      <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>

    <div class="panel-body">
        <div class="row col-sm-10 col-sm-offset-1">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Descriptive Field</th>
                    <th>Pre-Filter Rule</th>
                    <th>Default Sort Order</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="table in tables.tables">
                    <td>{{ table.name }}</td>
                    <td>{{table.columnDisplayinTitle}}</td>
                    <td>{{table.permanentFilter}}</td>
                    <td>{{table.defaultSort}}</td>
                </tr>
                </tbody>
            </table>
            <div ng-show="tables.tables.length == 0" class="label-info col-xs-2">No Objects</div>
        </div>
    </div>
  </section>

</section>
