<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> Auth </strong>

      <div us-spinner spinner-key="loading" spinner-start-active></div>
    </div>
    <div class="panel-body"  >
      <br>

      <div class="form-group">
        <label for="allowAnonymousPublic">Allow anonymous users to access without registration in addition to registered
          users</label>
        <label class="pull-right ui-switch ui-switch-success ui-switch-sm">
          <input id="allowAnonymousPublic" type="checkbox" ng-model="auth.data.allowAnonymous" checked=""><i></i>
        </label>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="AnonymousUserRole">Anonymous users assigned roles:</label>

          <select class="form-control"
                  ng-options="role.Name for role in auth.roles track by role.Name"
                  id="AnonymousUserRole"
                  ng-model="auth.durados_User_Role"
                  ng-model-options="{debounce:{default:400}}"
                  required>

            <!-- <option value="">Select action...</option>-->
          </select>
        </div>
        <p class="col-sm-6"><br>* The role can be changed any time after the registration vip API or from user page </p>
      </div>
      <br><br>

      <div class="form-group">
        <label for="allowAnonymousPrivate">Private App -Only invited users can access. Set Private App to Off will Allow any user to register the app.</label>
        <label class="pull-right ui-switch ui-switch-success ui-switch-sm">
          <input id="allowAnonymousPrivate" type="checkbox" ng-model="auth.settings.privateApp" checked=""><i></i>
        </label>
      </div>


      <div class="row">
        <div class="form-group col-md-4">
          <label for="PrivateAppRole">Anonymous users assigned roles:</label>

          <select class="form-control"
                  ng-options="role.Name for role in auth.roles track by role.Name"
                  id="PrivateAppRole"
                  ng-model="auth.settings.anonymousRole"
                  ng-model-options="{debounce:{default:400}}"
                  required>

            <!-- <option value="">Select action...</option>-->
          </select>
        </div>
        <label class="col-sm-6"><br>* The role can be changed any time after the registration vip API or from user page</label>
      </div>
      <br>
      <br>
      <form class="" role="form">
        <div class="form-group">
          <label for="inputUrl1" class="col-sm-4 control-label">Custom register page URL - register after user verified</label>
          <div class="col-sm-5">
            <input type="url" class="form-control" id="inputUrl1" placeholder="/app/sighn-up.html">
          </div>
        </div>
        <br><br><br>
        <div class="form-group">
          <label for="inputUrl2" class="col-sm-4 control-label">Custom verified email page URL - Redirect after user reset password</label>
          <div class="col-sm-5">
            <input type="url" class="form-control" id="inputUrl2" placeholder="/app/sighn-in.html">
          </div>
        </div>

      </form>

    </div>
    <br>



  </section>
</section>
