<div class="panel-body panel-body-custom" ng-controller="FieldsController as fields">
      <div class="form-group form-group-half" >
        <label class="strong" for="jsonName">Name</label>
        <input  type="text" class="form-control" id="jsonName" ng-disabled="false" ng-model-options="{ updateOn: 'blur'}"
               ng-model="fields.view.name">
        <div class="field-description">The name of the table for any JSON representation</div>
      </div>
      <div class="form-group form-group-half" >
        <label class="strong" for="dbName">Database Name</label>
        <input disabled type="text" class="form-control" id="dbName"
                ng-model="fields.view.databaseName">
        <div class="field-description">The name of the table in the database</div>
      </div>
      <div class="form-group form-group-half">
        <label class="pull-right ui-switch ui-switch-success ui-switch-sm"><input  id="History" type="checkbox" ng-model="fields.view.toolbarSettings.saveHistory" checked=""><i></i></label>
        <label class="strong" for="History">Record Changes</label>
        <div class="field-description">Use this to monitor any changes in the table's data. Note: By enabling data recording you allow Backand to save any changes in the table's data into the history log. This action may slowdown the app.</div>
      </div>
      <div class="form-group form-group-half" >
        <label class="strong" for="dbName">Descriptive Column</label>
        <select class="form-control"
                ng-options="field.name as field.displayName for field in fields.items"
                ng-model="fields.view.columnDisplayinTitle">
        </select>
        <div class="field-description">The descriptive column is used when the table is been related by another table.</div>
      </div>
      <!--<div class="form-group">-->
        <!--<label  for="DefaultSort">Default Sort</label>-->
       <!--<input  id="DefaultSort" ng-model="fields.view.dataEditing.defaultSort"  ng-model-options="{ updateOn: 'blur'}" class="form-control"/>-->
      <!--</div>-->
</div>
