<div ng-controller="FieldsController as fields">
      <form role="form"  >
        <div class="form-group" >
          <label for="jsonName">Name</label>
          <input  type="text" class="form-control" id="jsonName"  ng-model-options="{ updateOn: 'blur'}"
                 ng-model="fields.view.name">
        </div>
        <div class="form-group" >
          <label for="dbName">Database Name</label>
          <input disabled type="text" class="form-control" id="dbName"
                  ng-model="fields.view.databaseName">
        </div>
        <div class="form-group" >
          <label for="dbName">Descriptive Column</label>
          <!--<select  class="form-control"  ng-model="fileds.view.columnDisplayinTitle">-->
            <!--<option ng-repeat="field in fileds.fields" value="{{field.name}}">{{field.name}}</option>-->
          <!--</select>-->
          <select class="form-control"
                  ng-options="field.name as field.displayName for field in fields.items"
                  ng-model="fields.view.columnDisplayinTitle">
          </select>
        </div>
        <div class="form-group">
          <label for="History" for="History">History</label>
          <label class="pull-right ui-switch ui-switch-success ui-switch-sm"><input  id="History" type="checkbox" ng-model="fields.view.toolbarSettings.saveHistory" checked=""><i></i></label>
        </div>
        <div class="form-group">
          <label for="PermanentFilter">Permanent Filter</label>
          <textarea  id="PermanentFilter" ng-model="fields.view.dataEditing.permanentFilter"  ng-model-options="{ updateOn: 'blur'}" class="form-control" ></textarea>
        </div>
        <div class="form-group">
          <label  for="DefaultSort">Default Sort</label>
         <input  id="DefaultSort" ng-model="fields.view.dataEditing.defaultSort"  ng-model-options="{ updateOn: 'blur'}" class="form-control"/>
        </div>
      </form>
</div>
