<div class="panel-body panel-body-custom">
      <div class="form-group form-group-half" >
        <label class="strong" for="jsonName">Name</label>
        <input  type="text" class="form-control" id="jsonName" ng-disabled="false"
               ng-model="fields.view.name">
        <div class="field-description">The name of the object for any JSON representation</div>
      </div>
      <div class="form-group form-group-half" >
        <label class="strong" for="dbName">Database Name</label>
        <input disabled type="text" class="form-control" id="dbName"
                ng-model="fields.view.databaseName">
        <div class="field-description">The name of the object in the database</div>
      </div>
      <div class="form-group form-group-half">
        <label class="pull-right ui-switch ui-switch-success ui-switch-sm"><input  id="History" type="checkbox" ng-model="fields.view.toolbarSettings.saveHistory" checked=""><i></i></label>
        <label class="strong" for="History">Track Changes</label>
        <div class="field-description">When enabled, Backand will track all changes to the object's data. Enabling this option may negatively impact application performance</div>
      </div>
      <div class="form-group form-group-half" >
        <label class="strong" for="dbName">Descriptive Column</label>
        <select class="form-control"
                ng-options="field.name as field.displayName for field in fields.items"
                ng-model="fields.view.columnDisplayinTitle">
        </select>
        <div class="field-description">The descriptive column is used in MultiSelect and SingleSelect fields when this object has been selected as a "relatedTable"</div>
      </div>
      <!--<div class="form-group">-->
        <!--<label  for="DefaultSort">Default Sort</label>-->
       <!--<input  id="DefaultSort" ng-model="fields.view.dataEditing.defaultSort" class="form-control"/>-->
      <!--</div>-->
</div>
