<div ng-controller="FieldsController as fields"
     class="ui-tab-container ui-tab-vertical"
     style="height:500px; overflow:auto">

  <tabset class="ui-tab">


    <tab ng-repeat="field in fields.items"
         heading="{{ field.name }}">

      <form role="form"  >

        <div class="form-group center-block">
          <label class="col-lg-2 col-lg-offset-3" for="excluded">Ignore this field</label>
          <label class="ui-switch ui-switch-success ui-switch-sm"><input id="excluded" type="checkbox"  ng-model="field.advancedLayout.delete" checked=""><i></i></label>
        </div>
        <div class="form-group" >
          <label for="jsonName">Name</label>
          <input ng-disabled="field.advancedLayout.delete" type="text" class="form-control" id="jsonName"
                 ng-model="field.name">
        </div>
        <div class="form-group">
          <label for="dbName">Database Name</label>
          <input    type="text" class="form-control" disabled id="dbName"
                  ng-model="field.databaseName">
        </div>
        <div class="form-group">
          <label for="DatabaseType">Database Type</label>
          <input  type="text" class="form-control" disabled id="DatabaseType"
                  ng-model="field.type">
        </div>
        <div class="form-group">
          <label  for="Required">Required</label>
          <label class="pull-right ui-switch ui-switch-success ui-switch-sm"><input  ng-disabled="field.advancedLayout.delete"  id="Required" type="checkbox" ng-model="field.advancedLayout.required" checked=""><i></i></label>
        </div>
        <div class="form-group">
          <label for="DefaultValue">Default Value</label>
          <input  ng-disabled="field.advancedLayout.delete"  type="text" class="form-control" id="DefaultValue"
                  ng-model="field.advancedLayout.defaultValue">
        </div>
        <div class="form-group">
          <label  for="Searchable">Searchable</label>
          <label class="pull-right ui-switch ui-switch-success ui-switch-sm"><input  ng-disabled="field.advancedLayout.delete" id="Searchable" type="checkbox" ng-model="field.design.hideFilter" checked=""><i></i></label>
        </div>
<!--        <div class="form-group">
          <label c for="Audit">Audit</label>
          <label class="pull-right ui-switch ui-switch-success ui-switch-sm"><input ng-disabled="field.advancedLayout.delete"  id="Audit" type="checkbox"  ng-model="field.required" checked=""><i></i></label>
        </div>-->
        <div class="row">
          <div class="form-group col-md-6" ng-show="field.type=='Numeric' || field.type=='DateTime'">
            <label for="minVal">Min Value</label>
            <input ng-disabled="field.advancedLayout.delete"  type="text" class="form-control" id="minVal"
                   ng-model="field.advancedLayout.minimumValue">
          </div>
          <div class="form-group col-md-6" ng-show="field.type=='Numeric' || field.type=='DateTime'">
            <label for="maxVal">Max Value</label>
            <input ng-disabled="field.advancedLayout.delete"  type="text" class="form-control" id="maxVal"
                   ng-model="field.advancedLayout.maximumValue">
          </div>
        </div>
        <!--<div class="row">
          <div class="form-group col-md-6" ng-show="field.type=='ShortText' || field.type=='LongText'">
            <label for="minLen">Min Length</label>
            <input ng-disabled="field.advancedLayout.delete"  type="text" class="form-control ui-switch ui-switch-success" id="minLen"
                   ng-model="field.advancedLayout.maximumLength">
          </div>
          <div class="form-group col-md-6" ng-show="field.type=='ShortText' || field.type=='LongText'">
            <label for="maxLen">Max Length</label>
            <input ng-disabled="field.advancedLayout.delete"  type="text" class="form-control" id="maxLen"
                   ng-model="field.advancedLayout.minimumLength">
          </div>
        </div>-->
        <div class="form-group" ng-show="">
          <label for="Format">Format</label>
          <input ng-disabled="field.advancedLayout.delete"  type="text" class="form-control" id="Format"
                 ng-model="field.advancedLayout.format">
        </div>





        <div class="form-group">
          <label  for="ExcludeUpdate">Exclude in Update</label>
          <label class="pull-right ui-switch ui-switch-success ui-switch-sm"><input ng-disabled="field.advancedLayout.delete"  id="ExcludeUpdate" type="checkbox" ng-model="field.advancedLayout.excludeInUpdate" checked=""><i></i></label>
        </div>
        <div class="form-group">
          <label  for="ExcludeInsert">Exclude in Insert</label>
          <label class="pull-right ui-switch ui-switch-success ui-switch-sm"><input ng-disabled="field.advancedLayout.delete"  id="ExcludeInsert" type="checkbox" ng-model="field.advancedLayout.excludeInInsert" checked=""><i></i></label>
        </div>
        <div class="form-group">
          <label  for="EnableUpload">Enable Upload</label>
          <label class="pull-right ui-switch ui-switch-success ui-switch-sm"><input ng-disabled="field.advancedLayout.delete"  id="EnableUpload" type="checkbox" ng-model="field.EnableUpload" checked=""><i></i></label>
        </div>





      </form>

    </tab>
  </tabset>
</div>
