<div class="row">
  <div>

    <div class="col-md-8 col-md-offset-4">

      <article class="icon-box col-md-3" ui-sref="apps.data.new-source.form({data:'my-sql'})">
        <div class="icon-container">
          <img src="../../../assets/images/mysql.png"/>
        </div>
        <div class="desc-container">
          <h4></h4>
        </div>
      </article>


      <article class="icon-box col-md-3" ui-sref="apps.data.new-source.form({data:'Postgresql'})">
        <div class="icon-container">
          <img src="../../../assets/images/postgresql.jpg"/>
        </div>
        <div class="desc-container">
          <h4></h4>
        </div>
      </article>



    </div>
    <ui-view></ui-view>
  </div>
</div>

