
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body row ">
      <dl class="dl-horizontal">
        <dd class="col-md-8 col-md-offset-2">
          <div class="row">
            <div>
              <div>
                <tabset justified="true" class="ui-tab">
                  <tab heading="Existing Data Base"
                       ui-sref="apps.data.exs-source.form({data:'mysql'})"

                    >
                    <ui-view></ui-view>
                  </tab>
                  <tab heading="New Data Base"
                       ui-sref="apps.data.new-source.form({data:'mysql'})"><ui-view></ui-view></tab>
                </tabset>
              </div>
            </div>
          </div>
        </dd>
      </dl>
    </div>
  </div>


</div>
