<div class="row-">
  <div class="col-md-10 col-md-offset-2">

    <article class="icon-box col-md-2">
      <div class="icon-container">
        <img src="../../../assets/images/sqlserver.png"/>
      </div>
      <div class="desc-container">
        <h4></h4>
      </div>
    </article>

    <article class="icon-box col-md-2">
      <div class="icon-container">
        <img src="../../../assets/images/mysql.png"/>
      </div>
      <div class="desc-container">
        <h4></h4>
      </div>
    </article>

    <article class="icon-box col-md-2">
      <div class="icon-container">
        <img src="../../../assets/images/mongodb.png"/>
      </div>
      <div class="desc-container">
        <h4></h4>
      </div>
    </article>

    <article class="icon-box col-md-2">
      <div class="icon-container">
        <img src="../../../assets/images/oracle.jpg"/>
      </div>
      <div class="desc-container">
        <h4></h4>
      </div>
    </article>

    <article class="icon-box col-md-2">
      <div class="icon-container">
        <img src="../../../assets/images/postgresql.jpg"/>
      </div>
      <div class="desc-container">
        <h4></h4>
      </div>
    </article>

</div>
  <ui-view></ui-view>
  </div>


