<section class="page-form-ele page ng-scope">

  <section class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <tabset justified="true" class="ui-tab ui-tab-horizontal ui-tab-container">
            <tab heading="Existing Data Base" ui-sref="apps.data.exs-source.form({data:'mysql'})">
            <ui-view></ui-view>
          </tab>
          <tab heading="New Data Base" ui-sref="apps.data.new-source.form({data:'mysql'})"><ui-view></ui-view></tab>
        </tabset>
      </div>
    </div>
  </section>

</section>
