<div class="col-xs-8 col-md-9 action-template-container">
  <div ng-repeat="(categoryId, templates) in rules.actionTemplates">
    <div class="action-template-category">{{ ::rules.getCategoryLabel(categoryId) }}</div>
    <!-- a ang img must be in the same line, otherwise space is inserted between them-->
    <div class="action-template-icons-container">
      <a href=""
         ng-repeat="template in templates track by template.id"
         ng-click="rules.templateToShow = template"
         ng-show="!rules.action || rules.action.workflowAction === template.ruleType"
         ng-class="{'action-template-active': rules.templateToShow === template}"
         ><img class="action-template-icon"
             ng-show="template.json.imageUrl"
             ng-src="{{template.json.imageUrl}}"></a>

    </div>

    <div ng-show="rules.templateToShow && rules.templateToShow.category == categoryId"
         ng-click="rules.selectTemplate(rules.templateToShow)"
         class="action-template-description-container">
      <div class="action-template-text-container">
        <span class="action-template-title">{{rules.templateToShow.name}}</span>
        <a ng-href="{{rules.templateToShow.json.docsUrl}}" target="_blank" class="action-template-docs-link" ng-click="$event.stopPropagation();">
          <!--<i class="ti-help-alt"></i>-->
          Open Documentation
        </a><br />
        <span class="action-template-description">{{rules.templateToShow.shortDescription}}</span>


      </div>
    </div>

  </div>
</div>
