<div ng-class="rules.showsideBar ? 'col-xs-8 col-md-8 col-lg-9' : 'col-md-12'" class="action-template-container">
  <button ng-click="rules.newAction()"
          id="new-rule-btn with-margin"
          class="btn btn-success  new-action-button">
    + New Blank {{rules.mode.title}}
  </button>
  <div class="or">or</div>
  <h4>Use ready template {{rules.mode.title}}:</h4>
  <div ng-repeat="(categoryId, templates) in rules.actionTemplates">
    <div class="action-template-category">{{templates.label}}</div>
    <!-- a and img elements must be in the same line, otherwise space is inserted between them-->
    <div class="action-template-icons-container">
      <div ng-repeat="template in templates track by template.id" class="integration-item">
        <div class="left-col">
           <a href="" ng-click="rules.selectTemplate(template)"  >
             <img class="action-template-icon"
             ng-show="template.json.imageUrl"
             ng-src="{{template.json.imageUrl}}">
           </a>
        </div>
        <div class="right-col">
            <a href="" ng-click="rules.selectTemplate(template)"  >
              <h2 class="action-template-title">{{template.name}}</h2>
            </a>
            <p class="action-template-description">{{template.shortDescription}}</p>
                     <a ng-href="{{template.json.docsUrl}}" target="_blank" class="action-template-docs-link" ng-click="">
                 Documentation
               </a>
          </div>
      </div>
    </div>
  </div>
</div>
