<div ng-repeat="dictionarySection in anchorParams.dictionarySections">
  <strong>{{ dictionarySection }}</strong>
  <ul class="list-unstyled">
    <li ng-repeat="item in anchorParams.getDictionaryItems(dictionarySection)"
        ng-click="anchorParams.insertAtChar(inputId, item.token)"
        style="cursor:pointer;">{{item.label}}

      <!--<a ng-show="prevNeeded"
      class="pull-right" href=""
      ng-click="anchorParams.insertAtChar(inputId, 'prev:' + prop.token); $event.stopPropagation()">prev value</a>-->
    </li>
  </ul>

  <hr/>
</div>
