<strong ng-bind="dictionaryItems.headings.tokens"></strong>
<ul class="list-unstyled">
  <li ng-repeat="token in dictionaryItems.data.tokens"
      ng-click="anchorParams.insertAtChar(inputId ,token.token)"
      ng-bind="token.label"
      style="cursor:pointer;">
  </li>
</ul>

<hr/>
<strong ng-bind="dictionaryItems.headings.parameters"></strong>
<ul class="list-unstyled">
  <li ng-repeat="token in dictionaryItems.data.parameters"
      ng-click="anchorParams.insertAtChar(inputId ,token.token)"
      ng-bind="token.label"
      style="cursor:pointer;">
  </li>
</ul>


<hr/>
<strong ng-bind="dictionaryItems.headings.props"></strong>
<ul class="list-unstyled">
  <li ng-repeat="prop in dictionaryItems.data.props"
      ng-click="anchorParams.insertAtChar(inputId, prop.token)"
      style="cursor:pointer;">{{prop.label}}

    <a ng-show="prevNeeded"
       class="pull-right" href=""
       ng-click="anchorParams.insertAtChar(inputId, 'prev:' + prop.token); $event.stopPropagation()">prev value</a>
  </li>
</ul>
