<div ng-if="rules.action" class="row">
  <div class="new-js-container rule-container 'col-xs-12'">
    <div ng-class="(rules.pageLayoutNewRule()) ? 'col-xs-7 col-md-8' : 'col-xs-12'" class="rule-no-padding">
      <div ng-cloak>
        <angled-window ng-show="rules.showJsCodeHelpDialog"
                       title="Readme - JavaScript Code"
                       id="help"
                       grouping="w"
                       close-function="rules.showJsCodeHelpDialog = false"
                       rolled-up="false"
                       css-class="js-code-help">
          <div ng-include="'views/tables/rules/js_code_help.html'"></div>
        </angled-window>
      </div>
      <form name="rules.newRuleForm" insert-at-caret novalidate ng-submit="rules.saveAction()"
            ng-model-options="{updateOn: 'default blur', debounce: {'default': 300, blur: 0}}">
        <div class="header row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-8 col-md-8 col-sm-7 rule-title">
              <div class="form-inline" name="rules.newRuleForm">
                <div class="form-group"
                     ng-class="{'has-error': rules.newRuleForm.ruleName.$invalid}">

                  <label for="ruleName"><h3 class="title">{{rules.mode.title}} - </h3></label>

                  <input type="text"
                         id="ruleName"
                         name="ruleName"
                         class="rule-name form-control"
                         ng-model="rules.action.name"
                         required
                         ng-pattern="rules.namePattern"
                         placeholder="Name your {{modal.title.toLowerCase()}}"
                         ng-disabled="!rules.editMode || rules.isConstName(rules.action.name)">
                  <ba-tooltip tooltip-text="Use the name in the request URL query string of the REST API"
                              tooltip-placement="right" class=""></ba-tooltip>
                  <span ng-show="rules.editMode && rules.isConstName(rules.action.name)">In system action the name
                    cannot be modified.</span>

                  <a ng-if="rules.action && !rules.newRuleForm.$pristine" href="" id="action-refresh"
                     title="Refresh {{rules.mode.title}}" class="btn btn-sm" ng-click="rules.refresh()"><i
                    class="glyphicon glyphicon-refresh"></i></a>

                  <div ng-messages="rules.newRuleForm.ruleName.$error">
                    <div ng-message="pattern" class="text-danger">Use only letters, numbers, space or underscore</div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">
              <input type="button" name="testCode"
                     ng-show="!rules.isNewAction && !rules.requestTestForm"
                     class="pull-right btn btn-edit btn-xs with-margin"
                     ng-click="rules.toggleTestForm()"
                     value="{{'Test ' + rules.mode.title}}">
              <input type="button" ng-show="rules.allowEditAction() && !rules.isNodeJS"
                     ng-click="rules.editAction()"
                     class="btn btn-primary btn-validate pull-right with-margin"
                     value="Edit {{rules.mode.title}}">


              <div ng-show="rules.editMode">
                <input type="button"
                       ng-if="!rules.mode.name.includes('function')"
                       ng-click="rules.newRuleForm.$pristine ? rules.doneEdit() : rules.cancelEdit()"
                       style="padding-left: 35px !important;"
                       class="btn btn-edit btn-default pull-right with-margin"
                       value="{{ rules.newRuleForm.$pristine ? 'Done' : 'Cancel' }}">

                <button ng-disabled="rules.newRuleForm.$invalid"
                        class="btn btn-validate pull-right with-margin"
                        ladda="rules.saving" data-style="expand-right"
                        ng-show="!rules.isNodeJS">Save
                </button>
                <input type="button" ng-if="false"
                       ng-click="rules.saveActionTemplate()"
                       ng-disabled="rules.newRuleForm.$invalid"
                       class="btn btn-primary pull-right with-margin"
                       data-style="expand-right"
                       value="Save Template">

              </div>
            </div>
            <br/>

          </div>
        </div>

        <div class="clearfix">

          <fieldset>
            <br/>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 rule-no-right-padding"
                 ng-class="{'has-error': rules.newRuleForm.eventTrigger.$invalid}"
                 ng-if="!rules.mode.name.includes('function')">
              <label>Event Trigger</label>
              <ba-tooltip
                tooltip-text="Select the event that will trigger the {{rules.mode.title}}: on-demand via REST API or by CRUD request"
                tooltip-placement="right" class=""></ba-tooltip>
              <select class="form-control"
                      ng-options="dataAction.value as dataAction.label for dataAction in modal.dataActions"
                      ng-model="rules.action.dataAction"
                      required
                      ng-disabled="!rules.editMode"
                      ng-change="rules.onDataActionChange()">
                <option value="">Select trigger...</option>
              </select>
            </div>

            <div class="form-group col-lg-12 col-md-12 col-sm-12"
                 ng-class="{'has-error': rules.newRuleForm.action.$invalid}">

              <label for="workflowAction">Type</label>
              <ba-tooltip
                tooltip-text="Select if you would like to run JavaScipt code, send email or execute database transaction script"
                tooltip-placement="right" class=""></ba-tooltip>
              <select class="form-control"
                      name="action"
                      id="workflowAction"
                      required
                      ng-options="workflowAction.value as workflowAction.label for workflowAction in rules.workflowActions"
                      ng-model="rules.action.workflowAction"
                      ng-init="rules.action.workflowAction = rules.action.workflowAction || 'JavaScript'; rules.onDataActionChange();"
                      ng-model-options="{debounce: 0}"
                      ng-change="rules.onTypeChange()"
                      ng-disabled="!rules.editMode || !rules.isNewAction">
                <option value="">Select what to do...</option>
              </select>
            </div>

            <div class="form-group col-lg-12 col-md-12 col-sm-12"
                 ng-show="rules.action.workflowAction"
                 ng-class="{'has-error': rules.newRuleForm.inputParameters.$invalid}">
              <label>Input Parameters</label>
              <ba-tooltip
                tooltip-text="Use this to send additional parameters to the {{rules.mode.name.includes('function') ? 'function' : 'action'}}"
                tooltip-placement="right" class=""></ba-tooltip>
              <input type="text"
                     ng-change="modal.buildParameters()"
                     name="inputParameters"
                     class="form-control"
                     ng-model="rules.action.inputParameters"
                     ng-pattern="rules.paramsPattern"
                     placeholder="input1,input2,...."
                     ng-disabled="!rules.editMode && !rules.isNodeJS">
              <div ng-messages="rules.newRuleForm.inputParameters.$error">
                <div ng-message="pattern" class="text-danger">Use only letters, numbers and underscore for the
                  parameters. Use commas as delimiters.
                </div>
              </div>
            </div>
            <div class="form-group" ng-if="rules.editMode && rules.mode.name.includes('function')">
              <div class="row security-header">
                <div class="col-lg-4">
                  <label class="strong">Security Template</label>
                  <select class="form-control"
                          ng-options="workspace.__metadata.id as workspace.workspaceName for workspace in rules.workspaces"
                          ng-model="rules.currentST"
                          required
                          ng-change="rules.changePermissions()"
                          ng-disabled="rules.precedent">
                  </select>
                </div>
                <div class="col-lg-4">
                  <div class="override-template"><label> override</label>
                    <label class="ui-switch ui-switch-success ui-switch-sm" for="override-checkbox">
                      <input id="override-checkbox" type="checkbox" ng-model="rules.precedent"/><i></i>
                    </label>
                  </div>
                </div>
              </div>
              <div ng-if="rules.precedent" style="padding-left: 15px;">
                <label>Read Permissions</label>
                <ul class="list-style-none">
                  <li ng-repeat="role in rules.roles">
                    <input type="checkbox"
                           ng-model="rules.allowSelectRolesObject[role.Name]"
                           id="permissions-checkbox-{{role.Name}}"
                           ng-disabled="!rules.precedent">
                    </input>
                    <label for="permissions-checkbox-{{role.Name}}">
                      {{ role.Name }}
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <div ng-switch="rules.action.workflowAction">

              <div class="form-group col-lg-12 col-md-12 col-sm-12"
                   ng-show="rules.action.workflowAction">

                <!-- notify options -->
                <div ng-switch-when="Notify">
                  <div ng-include="'views/tables/rules/email_form.html'"></div>
                </div>
                <!--./notify -->

                <!-- execute SQL -->
                <div ng-switch-when="Execute">

                  <div class="form-group col-lg-12 col-md-12 col-sm-12"
                       ng-class="{'has-error': rules.newRuleForm.sqlCommand.$invalid, 'action-ace-show-test': rules.requestTestForm}">

                    <label for="sqlCommand">Sql Script</label>
                    <ba-tooltip tooltip-text="The script uses SQL syntax and allows you to update other tables"
                                tooltip-placement="right" class=""></ba-tooltip>

                    <bknd-anchor anchor-params="rules.anchorParams"
                                 window-title="SQL Command"
                                 input-id="sqlCommand"></bknd-anchor>

                    <bknd-ace-features editor="rules.ace.editor">
                      <div
                        ui-ace="{onLoad : rules.ace.onLoad, theme:'dawn', mode: ace.dbType, rendererOptions: { fontSize: 15 }}"
                        class="form-control"
                        name="sqlCommand"
                        id="sqlCommand"
                        ng-model="rules.action.command"
                        required
                        style="resize: vertical">
                      </div>
                    </bknd-ace-features>
                  </div>

                  <div class="form-group col-lg-12 col-md-12 col-sm-12"
                       ng-class="{'has-error': rules.newRuleForm.sqlMessage.$invalid}">
                    <label for="sqlMessage">Message:</label>
                    <ba-tooltip tooltip-text="Returned message in case the sql script failed" tooltip-placement="right"
                                class=""></ba-tooltip>

                    <textarea class="form-control"
                              ng-model="rules.action.executeMessage"
                              name="sqlMessage"
                              id="sqlMessage"
                              style="resize: vertical"
                              ng-disabled="!rules.editMode"></textarea>
                  </div>
                </div>
                <!-- ./execute SQL-->

                <!--code-->
                <div ng-switch-when="JavaScript" onload="rules.actionCodeAceLoaded = true">

                  <div ng-class="{'has-error': rules.newRuleForm.code.$invalid}">

                    <div class="form-group" ng-class="{'action-ace-show-test': rules.requestTestForm}">
                      <label for="code">JavaScript Code - </label> <a style="font-size:18px;" href=""
                                                                      ng-click="rules.showJsCodeHelpDialog = true">Code
                      Example</a>
                      <bknd-ace-features editor="ace.editors.code" nesting-form="rules.newRuleForm">
                        <div
                          ui-ace="{onLoad : ace.onLoad, theme:'monokai', mode: 'javascript', rendererOptions: { fontSize: 15 }}"
                          class="form-control ace-rule"
                          name="code"
                          id="code"
                          ng-model="rules.action.code"
                          required
                          ng-pattern="rules.codePattern"
                          ng-keydown="modal.handleTabKey($event)"
                          style="resize: vertical; "
                          ng-readonly="!rules.editMode">
                        </div>
                      </bknd-ace-features>

                      <!-- workaround: ui-ace doesn't work well in input, ng-pattern doesn't work on div-->
                      <input ng-hide="true" name="codeHidden" ng-model="rules.action.code"
                             ng-pattern="rules.codePattern">
                      <div ng-messages="rules.newRuleForm.codeHidden.$error">
                        <div ng-message="pattern" class="text-danger">Please use the original function signature.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ./code -->
                <!-- end switch -->
              </div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12"
                   ng-show="rules.action.workflowAction && !rules.isNodeJS"
                   ng-class="{'has-error': rules.newRuleForm.whereCondition.$invalid && rules.newRuleForm.whereCondition.$dirty}">
                <label for="whereCondition">Where Condition</label>
                <ba-tooltip
                  tooltip-text="SQL where clause that determines if the {{rules.mode.name.includes('function') ? 'function' : 'action'}} will be performed"
                  tooltip-placement="right" class=""></ba-tooltip>

                <bknd-anchor anchor-params="rules.anchorParams"
                             window-title="Where Condition"
                             input-id="whereCondition"
                             prev-needed="true"></bknd-anchor>

                <div ui-ace="{onLoad : ace.onLoad, theme:'dawn', mode: ace.dbType, rendererOptions: { fontSize: 15 }}"
                     id="whereCondition"
                     required
                     name="whereCondition"
                     class="form-control ace-action-where"
                     placeholder=""
                     ng-model="rules.action.whereCondition"
                     style="resize: vertical"
                     ng-readonly="!rules.editMode">
                </div>
                <span ng-show="rules.editMode">** Enter 'true' to ensure the {{rules.mode.name.includes('function') ? 'function' : 'action'}} always executes, or use the anchor icon to build a condition governing the execution</span>
              </div>

              <div class="form-group col-lg-12 col-md-12 col-sm-12" ng-show="rules.isNodeJS">
                <div class="panel-body docs">
                  <div ng-show="rules.allowEditAction()">
                    <section class="panel panel-default">
                      <div class="panel-heading">
                        <strong>Hosted node.js Files</strong>
                        <a href="" title="Refresh tree" class="btn btn-sm"
                           ng-click="rules.refreshTree()"><i
                          class="glyphicon glyphicon-refresh"></i></a>
                      </div>
                      <div class="panel-body">
                        <bknd-tree-control refresh-tree="rules.refreshTree"></bknd-tree-control>
                      </div>
                    </section>
                  </div>
                  <div>
                    <h3>Documentation</h3>
                    <br/>
                    <p>Documentation on Backand's AWS Lambda Node.JS server-side functions is available <A
                      href="http://docs.backand.com/#server-side-node-js-lambda-actions" target="_blank">here</a>. </p>
                    <br/>
                    <h3>First Time Installation <a class="node-js-show-hide" ng-if="rules.allowEditAction()" href=""
                                                   ng-click="rules.showFirstTimeInstallation = !rules.showFirstTimeInstallation">{{rules.showFirstTimeInstallation
                      ? "Hide": "Show"}}</a></h3>
                    <br/>
                    <div ng-if="rules.showFirstTimeInstallation || !rules.allowEditAction()">
                      <p>The Backand CLI (command-line interface), which is used to control deployment, requires Node.js
                        and npm to be installed. Both can be installed by following the instructions at <a
                          href="https://nodejs.org/" target="_blank">https://nodejs.org/</a>.<br/><br/>
                        Run the following command to install Backand CLI tool:
                      </p>
                      <pre><code class="bash">
  $ npm install -g backand

  # or use sudo (with caution) if required by your system permissions
  # sudo npm install -g backand

                    </code></pre>
                      <p>
                        To <b>update</b> a previously-installed version of Backand CLI - <a href=""
                                                                                            ng-click="rules.showUpdate = !rules.showUpdate">{{rules.showUpdate
                        ? "Hide": "Show"}}</a>
                      </p>
                      <pre ng-if="rules.showUpdate"><code class="bash">
  $ npm update -g backand

  # or use sudo (with caution) if required by your system permissions
  # sudo npm update -g backand

                  </code></pre>
                      <br/>
                    </div>

                    <h3 ng-if="!rules.allowEditAction()">Initialize your {{modal.title.toLowerCase()}}</h3>
                    <h3 ng-if="rules.allowEditAction()">Deploy your {{modal.title.toLowerCase()}}</h3>
                    <br/>
                    <p ng-if="rules.allowEditAction()">To deploy your local node.js code to Back&, use the following
                      command on the command line:</p>
                    <p ng-if="!rules.allowEditAction()">To initiate on your local folder the node.js code for the
                      {{rules.mode.name.includes('function') ? 'function' : 'action'}}, use the following command on the
                      command line:</p>
                    <div ng-show="!rules.allowEditAction()">
                      <pre><code>
  {{rules.getNodeInitCommand()}}
                      </code></pre>
                      <button class="btn btn-default copy-cli-command"
                              type="button"
                              clip-copy="rules.getNodeInitCommand()"
                              ng-click="rules.initCopied = true"
                              ng-class="{'btn-success': rules.initCopied === true}">Copy
                      </button>
                    </div>

                    <div ng-if="rules.allowEditAction()"><pre><code>
  {{rules.getNodeDeployCommand()}}

</code></pre>
                      <button class="btn btn-default copy-cli-command"
                              type="button"
                              clip-copy="rules.getNodeDeployCommand()"
                              ng-click="rules.deployCopied = true"
                              ng-class="{'btn-success': rules.deployCopied === true}">Copy
                      </button>
                    </div>
                    <p>
                      <b>--app</b>: The current app name
                    <div ng-if="!rules.mode.name.includes('function')">
                      <b>--object</b>: The object that the action belongs to<br/>
                      <b>--action</b>: The action name<br/>
                    </div>
                    <div ng-if="rules.mode.name.includes('function')">
                      <b>--name</b>: The function name
                    </div>
                    <b>--master</b>: The master token of the app (get it from <a href="" ui-sref="security.keys">Social
                    & Keys</a>)<br/>
                    <b>--user</b>: The token of the current user (get it from <a href=""
                                                                                 ui-sref="security.team">Team</a> and
                    click on key icon)<br/>
                    <span ng-if="rules.allowEditAction()"><b>--folder</b>: Optional, By default the deployment is from the current folder, specify for other location</span>
                    <br/>
                    </p>
                    <h3 ng-if="rules.allowEditAction()">Add Backand SDK to node.js</h3>
                    <p>** In order to work with other actions in Backand, or to retrieve and modify other Backand
                      objects, you'll need to install the Back& SDK for Node.js. An example of how to do this is
                      included in the comments in the provided index.js file</p>
                    <pre ng-if="rules.allowEditAction()"><code>
  $ npm install backandsdk --save

</code></pre>
                  </div>
                </div>
              </div>

              <div class="modal-footer" ng-show="rules.action && (rules.editMode || rules.isNodeJS) ">
                <button class="btn btn-validate"
                        ng-disabled="rules.newRuleForm.$invalid"
                        ladda="rules.saving"
                        style="margin-top: 0;"
                        data-style="expand-right"
                        ng-show="!rules.isNodeJS">Save
                </button>
                <input type="button"
                       class="btn btn-danger pull-left"
                       ng-click="rules.deleteAction()"
                       ng-if="rules.action.__metadata"
                       value="Delete">
                </input>
                <input type="button"
                       ng-hide="rules.isNodeJS"
                       style="padding-left: 35px;"
                       class="btn btn-edit"
                       ng-click="rules.newRuleForm.$pristine ? rules.doneEdit() : rules.cancelEdit()"
                       value="{{ rules.newRuleForm.$pristine ? 'Done' : 'Cancel'}}">
                </input>
              </div>
            </div>
          </fieldset>

        </div>
      </form>
    </div>
    <div ng-if="rules.mode.name.includes('function')"
         ng-show="rules.showTestForm()"
         class="col-xs-5 col-md-4 test-column actions-animate-show"
         ng-include="'views/tables/rules/test_code_window.html'">
    </div>
  </div>

</div>
