<div class="modal-header">
  <h3 class="modal-title" ng-bind="modal.title"></h3>
</div>

<div class="modal-body clearfix">

  <form name="newRuleForm">

    <div class="form-group col-lg-12 col-md-12 col-sm-12"
         ng-class="{ 'has-error': newRuleForm.ruleName.$invalid &&  newRuleForm.ruleName.$dirty}">

      <label>Rule name</label>
      <input type="text"
             name="ruleName"
             class="form-control"
             ng-model="rule.name"
             ng-model-options="{debounce:{default:400}}"
             required
             placeholder="you can change me later">
    </div>

    <div ng-if="rule.name">
      <div class="form-group col-lg-12 col-md-12 col-sm-12"
           ng-class="{ 'has-error': newRuleForm.eventTrigger.$invalid && newRuleForm.eventTrigger.$dirty}">

        <label for="eventTrigger">Event Trigger</label>

        <select class="form-control"
                ng-options="dataAction.value as dataAction.label for dataAction in modal.dataActions"
                ng-model="rule.dataAction"
                ng-model-options="{debounce:{default:400}}">
          <option value="">Select trigger...</option>
        </select>

      </div>
    </div>

    <div class="form-group col-lg-12 col-md-12 col-sm-12" ng-show="rule.dataAction" ng-class="{ 'has-error': newRuleForm.whereCondition.$invalid && newRuleForm.whereCondition.$dirty }">

      <label>Where condition</label>

      <div class="pull-right">
        <span class="ti-anchor" style="cursor: pointer;font-size:20px;" ng-click="modal.dictionaryState = !modal.dictionaryState"></span>
      </div>

      <div ng-cloak>
        <angled-window ng-show="modal.dictionaryState"
                       id="{{winId}}"
                       title="Columns"
                       grouping="w"
                       style="left: 550px; top: -50px;">
          <div ng-include="'views/tables/rules/where_condition_window.html'"></div>
        </angled-window>
      </div>

      <textarea id="whereCondition"
                required
                name="whereCondition"
                class="form-control"
                ng-focus="flag = true"
                placeholder="enter value true to run always or build new condition"
                ng-model="rule.whereCondition"
                ng-model-options="{debounce:{default:400}}"
                style="resize: vertical"
                insert-at-caret></textarea>
    </div>

    <div class="form-group col-lg-12 col-md-12 col-sm-12" ng-show="rule.whereCondition"
         ng-class="{ 'has-error': newRuleForm.action.$invalid &&  newRuleForm.action.$dirty }">
      <label>Action</label>
      <select class="form-control"
              name="action"
              required
              ng-options="workflowAction.value as workflowAction.label for workflowAction in modal.workflowActions"
              ng-model="rule.workflowAction">
        <option value="">Select action...</option>
      </select>
    </div>

    <div ng-switch="rule.workflowAction">

      <!-- notify options -->
      <div ng-switch-when="Notify">

        <div class="form-group col-lg-6 col-md-6 col-sm-6" ng-class="{ 'has-error': newRuleForm.to.$invalid }">
          <label>To:</label>
          <input type="text"
                 required
                 name="to"
                 id="to"
                 ng-model="rule.to"
                 class="form-control"/>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6">
          <label>cc:</label>
          <input type="text"
                 id="cc"
                 ng-model="rule.cc"
                 class="form-control"/>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6">
          <label for="bcc">bcc:</label>
          <input type="text"
                 id="bcc"
                 ng-model="rule.bcc"
                 class="form-control"/>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6">
          <label for="from">from:</label>
          <input type="text"
                 id="from"
                 ng-model="rule.from"
                 class="form-control"/>
        </div>

        <div class="form-group col-lg-12 col-md-12 col-sm-12" ng-class="{ 'has-error': newRuleForm.subject.$invalid }">
          <label>subject:</label>
          <input type="text"
                 required
                 name="subject"
                 ng-model="rule.subject"
                 class="form-control"/>
        </div>

        <div ng-cloak>
          <angled-window ng-show="modal.notifyMessage.window"
                         id="{{winId}}"
                         title="Columns"
                         grouping="w"
                         style="left: 650px; top: -50px;">
            <div ng-include="'views/tables/rules/send_email_window.html'"></div>
          </angled-window>
        </div>

        <div class="form-group col-lg-12 col-md-12 col-sm-12"
             ng-class="{ 'has-error': newRuleForm.notifyMessage.$invalid }">

          <div class="pull-right">
            <span class="ti-anchor" style="cursor: pointer;font-size:20px;"
                  ng-click="modal.notifyMessage.window = !modal.notifyMessage.window"></span>

          </div>
          <label for="notifyMessage">Message:</label>
          <textarea class="form-control" name="notifyMessage"
                    id="notifyMessage"
                    ng-model="rule.notifyMessage"
                    style="resize: vertical"
                    insert-at-caret="notifyMessage"
                    required
            ></textarea>
        </div>

      </div>
      <!--./notify -->

      <div ng-switch-when="Validate">

        <div class="form-group col-lg-6 col-md-6 col-sm-6"
             ng-class="{ 'has-error': newRuleForm.validateExp1.$invalid }">
          <label>Expression:</label>
          <textarea class="form-control"
                    required
                    name="validateExp1"
                    ng-model="validateCommand1"
                    style="resize: vertical"></textarea>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6">
          <label>Non valid message:</label>
          <textarea class="form-control"
                    ng-model="rule.validateMessage1"
                    style="resize: vertical"></textarea>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6">
          <label>Expression:</label>
          <textarea class="form-control"
                    ng-model="validateCommand2"
                    style="resize: vertical"></textarea>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6">
          <label>Non valid message:</label>
          <textarea class="form-control"
                    ng-model="rule.validateMessage2"
                    style="resize: vertical"></textarea>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6">
          <label>Expression:</label>
          <textarea class="form-control"
                    ng-model="validateCommand3"
                    style="resize: vertical"></textarea>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6">
          <label>Non valid message:</label>
          <textarea class="form-control"
                    ng-model="rule.validateMessage3"
                    style="resize: vertical"></textarea>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6">
          <label>Expression:</label>
          <textarea class="form-control"
                    ng-model="rule.validateCommand4"
                    style="resize: vertical"></textarea>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6">
          <label>Non valid message:</label>
          <textarea class="form-control"
                    ng-model="rule.validateMessage4"
                    style="resize: vertical"></textarea>
        </div>

      </div>
      <!--./validate-->

      <div ng-switch-when="Execute">

        <div class="form-group col-lg-12 col-md-12 col-sm-12"
             ng-class="{ 'has-error': newRuleForm.command1.$invalid  }">
          <label>Command:</label>
          <textarea class="form-control"
                    name="command1"
                    ng-model="rule.command"
                    required
                    style="resize: vertical"></textarea>
        </div>

        <div class="form-group col-lg-12 col-md-12 col-sm-12">
          <label>Message:</label>
          <textarea class="form-control"
                    ng-model="rule.executeMessage"
                    style="resize: vertical"></textarea>
        </div>

        <!--   <div class="form-group col-lg-6 col-md-6 col-sm-6">
             <label>In parameters:</label>
             <input type="text"
                    ng-model="rule.inparameters"
                    class="form-control"/>
           </div>

           <div class="form-group col-lg-6 col-md-6 col-sm-6">
             <label>Out parameters:</label>
             <input type="text"
                    ng-model="rule.outParameters"
                    class="form-control"/>
           </div>-->

      </div>
      <!-- ./execute -->

      <div ng-switch-when="WebService">

        <div class="form-group col-lg-12 col-md-12 col-sm-12"
             ng-class="{ 'has-error': newRuleForm.webService.$invalid }">
          <label>Web Service Url:</label>
          <textarea class="form-control"
                    name="webService"
                    ng-model="rule.webServiceUrl"
                    required
                    style="resize: vertical"></textarea>
        </div>


      </div>

    </div>
    <!-- end switch -->


    <div class="modal-footer">
      <button class="btn btn-primary" ng-disabled="newRuleForm.$invalid " ng-click="closeModal(rule)"
              ng-bind="modal.okButtonText"></button>
      <button class="btn btn-danger pull-left" ng-click="delete(rule)" ng-bind="modal.deleteButtonText"
              ng-if="modal.mode == 'update'"></button>
      <button class="btn btn-default" ng-click="cancel()" ng-bind="modal.cancelButtonText"></button>
    </div>
  </form>

</div>
