<div ng-controller="RulesController as rules">

  <div id="rules-header" class="page-header clearfix">

    <h2>Rules</h2>

    <p class="lead pull-left">short description of what rules are and how to use them</p>

    <button ng-click="rules.open()"
            id="new-rule-btn"
            class="btn btn-lg btn-success pull-right">
      + new rule
    </button>
  </div>


  <ul id="rules" class="list-unstyled">

    <li ng-repeat="item in rules.items">
      <h3 class="rule-group-title">{{ item.title | uppercase}}</h3>

      <div class="pull-right toggle-mark" ng-click="item.visible = !item.visible">V</div>

      <p class="rule-group-description">These rules fires on {{ item.title }} action</p>

      <ul class="rules-sub-items-list" ng-show="item.visible">

        <li ng-repeat="subItem in item.items">
          <h4 class="rule-sub-title">{{subItem.title}}</h4>

          <div class="pull-right toggle-mark" ng-click="subitem.visible = !subitem.visible">V</div>

          <p class="rule-sub-description">
            These rules fire {{ subitem.title }} an object is created
          </p>

          <ul class="rules-names-list" ng-show="subitem.visible">
            <li ng-repeat="rule in subItem.items">
              <h5 class="rule-name text-primary"
                  ng-click="rules.edit(rule.name)">
                {{rule.name}}</h5>

              <p class="rule-description">
                some description about the action should be here
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>


