<div ng-controller="RulesController as rules">

  <div id="rules-header" class="page-header clearfix" ng-if="rules.showsideBar">
    <div class="title-group">
      <h2 class="page-name ">{{rules.mode.title}}</h2>
      <h4 class=" page-description lead pull-left">Manage here all the server side logic and operations</h4>
    </div>
    <button ng-show="rules.action && !rules.editMode"
            ng-click="rules.newAction()"
            id="new-rule-btn"
            class="btn btn-success pull-right">
      + New {{rules.mode.title}}
    </button>
  </div>

  <div class="row">
    <div ng-if="!rules.editMode && !rules.requestTestForm && rules.showsideBar"
         class="col-xs-5 col-md-4 col-lg-3 rule-column actions-animate-show">

      <ul  class="list-unstyled rule-tree">

        <li ng-repeat="item in rules.items">

          <div class="rule-group-title">
            <a href="" ng-click="item.visible = !item.visible" class="" >
              <span class="col-xs-1">{{rules.treeSign(item)}}</span> <!-- + or - -->
              {{ ::item.title }}
            </a>
          </div>

          <ul class="rules-sub-items-list" ng-show="item.visible">

            <li ng-repeat="subitem in item.items">

              <div class="row rule-sub-title">
                <a href="" ng-click="subitem.visible = !subitem.visible">
                  <span class="col-xs-1">{{rules.treeSign(subitem)}}</span>
                  {{ ::subitem.title }}</a>
                <ba-tooltip tooltip-text="{{ ::subitem.description }}" tooltip-placement="right" class=""></ba-tooltip>
                <button
                   class="btn btn-xs btn-success pull-right rule-small-btn"
                   ng-click="rules.newAction(subitem.dataAction)">+
                </button>
              </div>

              <ol class="rules-names-list" ng-show="subitem.visible">

                <li ng-repeat="rule in subitem.items" class="li-actions" >
                  <span  ng-click="rules.goToAction(rule.name)"
                         ng-class="{active: rule.Id === rules.stateparam.actionId}"
                         class="rule-name">
                  {{ ::rule.name}}</span>
                </li>

              </ol>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div ng-if="rules.showTemplatesForm" ng-include="'views/tables/rules/action_templates.html'"></div>

    <div
            ng-class="(!rules.mode.name.includes('function') && (rules.showTestForm() || !rules.editMode)) ? 'col-xs-7 col-md-8' : 'col-xs-12'"
         class="actions-display"
         ng-include="'views/tables/rules/new_rule.html'"></div>
    <div ng-if="!rules.mode.name.includes('function')"
         ng-show="rules.showTestForm()"
         class="col-xs-5 col-md-4 test-column actions-animate-show"
         ng-include="'views/tables/rules/test_code_window.html'"></div>
  </div>
</div>


