<div ng-controller="RulesController as rules">

  <button ng-click="rules.open()"
          class="btn btn-success">+ new</button>

  <div ui-tree data-drag-enabled="false">

    <ol ui-tree-nodes="" ng-model="rules.items">
      <li ng-repeat="item in rules.items" ui-tree-node>
        <div ui-tree-handle>
          {{item.title}}
        </div>

        <ol ui-tree-nodes="" ng-model="item.items">
          <li ng-repeat="subItem in item.items" ui-tree-node>
            <div ui-tree-handle>
              {{subItem.title}}
            </div>

            <ol ui-tree-nodes="" ng-model="subItem.items">
              <li ng-repeat="item in subItem.items" ui-tree-node>
                <div ui-tree-handle>
                  <a href="" ng-click="rules.edit(item)">{{item.name}}</a>
                  <div class="btn-group btn-group-xs pull-right">
                    <button ng-click="rules.clearRule(item)"
                            class="btn btn-danger btn-default">X</button>
                    <button ng-click="rules.edit(item)"
                            class="btn btn-primary btn-default">V</button>
                  </div>
                </div>
              </li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </div>
</div>
