<strong ng-bind="modal.dictionaryItems.headings.tokens"></strong>
<ul class="list-unstyled">
  <li ng-repeat="token in modal.dictionaryItems.data.tokens"
      ng-click="modal.insertAtChar('notifyMessage' ,token.token)"
      ng-bind="token.label"
      style="cursor:pointer;">
  </li>
</ul>

<hr/>
<strong ng-bind="modal.dictionaryItems.headings.parameters"></strong>
<ul class="list-unstyled">
  <li ng-repeat="token in modal.dictionaryItems.data.parameters"
      ng-click="modal.insertAtChar('notifyMessage' ,token.token)"
      ng-bind="token.label"
      style="cursor:pointer;">
  </li>
</ul>

<hr/>
<strong ng-bind="modal.dictionaryItems.headings.props"></strong>
<ul class="list-unstyled">
  <li ng-repeat="prop in modal.dictionaryItems.data.props"
      ng-click="modal.insertAtChar('notifyMessage',prop.token)"
      ng-bind="prop.label"
      style="cursor:pointer;"
    >
  </li>
</ul>
