<h3>Test query parameters</h3>
<br/>
<ng-form role="form" name="rules.inputParametersForm" novalidate>

  <label>Parameters</label>

  <div class="form-group" ng-repeat="inputParam in rules.getInputParameters()">
    <label for="inputParam">{{inputParam}}</label>
    <input type="text"
           id="inputParam"
           class="form-control"
           ng-model="rules.test.parameters[inputParam]">
  </div>

  <hr>
  <div class="form-group">
    <label>Row Id (Optional)</label>
    <input type="number"
           id="rowId"
           class="form-control"
           ng-model="rules.test.rowId">
  </div>

  <div class="row">
    <div class="col-md-12">
      <button type="button"
              style="margin-left: 20px;"
              class="btn btn-success pull-right"
              data-style="expand-right" ladda="rules.test.testLoading"
              ng-disabled="!rules.allowTest()"
              ng-click="rules.testData()">Test Action
      </button>

      <button type="button"
              style=""
              class="btn btn-primary pull-right"
              data-style="expand-right" ladda="rules.saving"
              ng-disabled="rules.allowTest()"
              ng-click="rules.saveAction(true);">Save & Test
      </button>
    </div>
  </div>

  <hr/>

  <label>Request URL:</label>
  <bknd-copy-url copy-url-params="rules.copyUrlParams"></bknd-copy-url>

  <div ng-show="!rules.allowTest()">** Must save first to enable Test</div>
</ng-form>

<div ng-if="rules.test.result">
  <hr/>
  <label>Response Body:</label>
  <br/>
  {{ rules.test.result | json }}
  <br/>

</div>


<div ng-if="rules.test.result">
  <hr/>
  <label>Debug Console:</label>
  <br/>

  <table class="table log-table">
    <tbody>
    <tr ng-repeat="message in rules.test.logMessages | orderBy: 'time' "
        ng-class="{'text-danger': message.isError}">
      <td><span class="log-icon" ng-bind="message.isError? 'X' : '>' "></span> {{ message.text }}</td>
    </tr>
    </tbody>
  </table>

</div>
