<h3>Test Action</h3>
<br/>
<ng-form role="form" name="rules.inputParametersForm" novalidate>

  <label>Parameters</label>

  <div class="form-group" ng-repeat="inputParam in rules.getInputParameters()">
    <label for="inputParam">{{inputParam}}</label>
    <input type="text"
           id="inputParam"
           class="form-control"
           ng-model="rules.test.parameters[inputParam]">
  </div>

  <hr>
  <div class="form-group" ng-if="rules.getDataActionType() !== 'Create'">
    <label>Item Id <span ng-show="rules.getDataActionType() === 'On Demand'">(Optional)</span></label>
    <input type="number"
           name="rowId"
           id="rowId"
           class="form-control"
           max="{{rules.lastRowId}}"
           ng-model="rules.test.rowId" ng-required="rules.getDataActionType() === 'Update' || rules.getDataActionType() === 'Delete'">
  </div>

  <div class="form-group">
    <label for="rowData">{{ rules.ace.message }}</label>
    <div us-spinner spinner-key="loading-row" us-spinner="{length:10, radius: 10}" style="position: relative; top: 100px;"></div>
    <div
      ui-ace="{onLoad : rules.ace.onLoad, theme:'monokai', mode: 'json', firstLineNumber: 1, rendererOptions: { fontSize: 15 } }"
      class="form-control ace-db-template"
      name="rowData"
      id="rowData"
      ng-model="rules.rowData"
      required
      ng-pattern="codeRegex"
      style="resize: vertical; height: 200px;">
  </div>
    <div ng-show="rules.testRowObjectNotification" class="text-danger">{{rules.testRowObjectNotification}}</div>
    </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <button type="button"
              style="margin-left: 20px;"
              class="btn btn-success pull-right"
              data-style="expand-right" ladda="rules.test.testLoading"
              ng-disabled="!rules.allowTest() || !rules.allowTestEditMode"
              ng-click="rules.testData()">Test Action
      </button>

      <button type="button"
              style=""
              class="btn btn-primary pull-right"
              data-style="expand-right" ladda="rules.saving"
              ng-disabled="rules.allowTest()"
              ng-click="rules.saveAction(true);">Save & Test
      </button>

      <div ng-show="!rules.allowTest()">** Must save first to enable Test</div>
      <div ng-show="!rules.allowTestEditMode">** Must have data first. Click Data tab to add new rows.</div>
    </div>
  </div>

  <hr/>

  <label>Request URL:</label>
  <bknd-copy-url copy-url-params="rules.copyUrlParams"></bknd-copy-url>


</ng-form>

<div ng-if="rules.test.resultStatus">
  <hr/>
  <label>Response Status:</label>
  <br/>
  {{ rules.test.resultStatus.code }} - {{ rules.test.resultStatus.text }}
  <br/><br/>
  <label>Response Body:</label>
  <br/>
  {{ rules.test.result | json }}
  <br/>

</div>


<div ng-if="rules.test.resultStatus">
  <hr/>
  <label>Debug Console:</label>
  <br/>

  <table class="table log-table">
    <tbody>
    <tr ng-repeat="message in rules.test.logMessages | orderBy: 'time' "
        ng-class="{'text-danger': message.isError}">
      <td class="log-icon" ng-bind="message.isError? 'X' : '>' "></td>
      <td class="log-text">{{ message.text }}</td>
    </tr>
    </tbody>
  </table>

</div>
