<button class="btn btn-danger btn-xs" style="margin-left: 230px;" ng-click="modal.toggleTestCode()">X</button>
<hr/>
<div>
  <h3>Test query parameters</h3>
  <br/>
  <ng-form role="form" name="inputParametersForm" novalidate>

    <label>Parameters</label>

    <div class="form-group" ng-repeat="inputParam in getInputParameters()">
      <label for="inputParam">{{inputParam}}</label>
      <input type="text"
             id="inputParam"
             class="form-control"
             ng-model="test.parameters[inputParam]">
    </div>

    <hr>
    <div class="form-group">
      <label>Row ID</label>
      <input type="number" min="0"
             class="form-control"
             ng-model="test.rowId">
    </div>

    <hr>
    <label>HTTP Request URL:</label>
    <input class="form-control" ng-readonly="true" ng-value="testUrl">
    <br/><br/>
    <button type="button"
            class="btn btn-success pull-right"
            data-style="expand-right" ladda="test.testLoading"
            ng-disabled="!allowTest()"
            ng-click="testData()">Test Code
    </button><br/>
    <div ng-if="!allowTest()">** Must save first to enable Test Code</div>
  </ng-form>
  <br/>
  <hr/>
  <div ng-if="test.result">
    <label>Test Result:</label>
    <br/>
    {{ test.result | json }}
    <br/>
  </div>
  <hr/>

  <div ng-if="test.result">
    <label>Test Log:</label>
    <br/>

    <table class="table log-table">
      <tbody>
        <tr ng-repeat="message in test.logMessages | orderBy: 'time' "
            ng-class="{'text-danger': message.isError}">
          <td><span class="log-icon" ng-bind="message.isError? 'X' : '>' "></span> {{ message.text }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
