<div class="modal-header">
  <h3 class="modal-title">
    Upload Files
  </h3>
</div>
<div class="modal-body">
  <h4>Upload your Files</h4>

  <div us-spinner spinner-key="upload-loading"></div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Upload
      </h3>
    </div>

    <div class="panel-body">
      <div ngf-drop ngf-select ng-model="vm.files" class="drop-box"
           ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true">
        Drop files here or click to upload
      </div>
      <ul>
        <li ng-repeat="f in vm.files">{{f.name}} <a href="" ng-click="vm.cacnelFile(f.name)">X</a></li>
      </ul>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
  <button class="btn btn-primary"
          ng-click="vm.upload()"
          ng-disabled="vm.files == null || vm.files.length === 0">Upload</button>
</div>