<h3>Test Cron</h3>
<br/>
<form>
  <div class="save-buttons">
  <button type="button"
          class="btn btn-success btn-lg"
          data-style="expand-right" ladda="cronJobs.loadingTest"
          ng-disabled="!cronJobs.allowTest()"
          ng-click="cronJobs.test()">Test
  </button>
  <button type="button"
          style="margin-left: 10px"
          class="btn btn-success btn-lg"
          data-style="expand-right" ladda="cronJobs.loading || cronJobs.loadingTest"
          ng-disabled="cronJobs.jobForm.$invalid"
          ng-click="cronJobs.saveJob(true)">Save & Test
  </button>
  </div>
  <div ng-if="!cronJobs.allowTest()">** Must save first to enable Test cron job</div>
</form>


<div id="test-request-wrapper" ng-show="cronJobs.testResult && !cronJobs.testError">
  <label>Request</label>
  <div
       ui-ace="{theme:'dawn', mode: 'json', rendererOptions: { fontSize: 15 } }"
       type="text"
       class="form-control"
       id="test-request"
       ng-model="cronJobs.testResult.request"
       readonly
       style="resize: vertical; height: 200px;">
  </div>
</div>

<div id="test-response-wrapper" ng-show="cronJobs.testResult || cronJobs.testError">
  <br/>
  <label>Response</label>
  <div ui-ace="{theme: 'dawn', mode: 'json', rendererOptions: { fontSize: 15 } }"
       type="text"
       class="form-control"
       id="test-response"
       ng-model="cronJobs.testResult.response"
       readonly
       ng-show="cronJobs.testResult"
       >
  </div>
  <div ng-show="cronJobs.testError" class="input-error">{{ cronJobs.testError }}</div>
</div>
