.angled-window, .angled-window-body, .angled-window-body-content, .angled-window > .panel  { /* fix for sudden margins when using resizeable with bootstrap */
  -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: content-box;    /* Firefox, other Gecko */
  box-sizing: content-box;         /* Opera/IE 8+ */
}

.angled-window-title { font-size: 16px; }

/** Window minimize and expansion transition **/
.angled-window {
  position: absolute;
  display: table;
  max-height: 500px;
  max-width: 100%;
  webkit-transition: max-height .4s ease;
  -moz-transition: max-height .4s ease;
  -o-transition: height .4s ease;
  transition: max-height .4s ease;
  overflow: visible;
  z-index: 10;
}

/** Minimum sizes for resizing / starting width **/
.angled-window > .panel {
  min-width: 220px;
  overflow: hidden;

  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}

/** Minimum inside height and width, scroll content when needed **/
.angled-window-body-content {
  min-height: 50px;
  min-width: 220px;
  overflow: auto;
  resize: both;
  padding:0;
  height: 250px;
}

/** Hide content falling outside of window
.panel { overflow: hidden; }**/

/** For animated transitions **/
.angled-window.rolled-up, .angled-window.rolled-up-add.rolled-up-add-active, .angled-window.rolled-up-remove{
  .angled-window-body-content {
    display: none;
  }
}

.angled-window.rolled-up-add, .angled-window.rolled-up-remove.rolled-up-remove-active {
  max-height: 1000px;
}

/** Appropriate mouse cursors **/
.cursor-move { cursor: move; }
.cursor-pointer { cursor: pointer; }

