.data-panel {
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;

  border: 1px solid darken($well-bg, 10%);

  & > div {
    padding: 20px 30px;
  }
  .panel-icon {
    @media all and (min-width: 1200px) {
      float: left;
      width:30%;
      text-align:center;
      padding-left:0;
      padding-right:0;
    }
    background-color: #7fabd2;
    color: white;
    i {
      text-align: center;
      display: block;
    }
  }

  .panel-data {
    @media all and (min-width: 1200px) {
      float: left;
      width:70%
    }

    h4 {
      margin-bottom: 5px;
      color: #7fabd2;

    }
  }
}

.data-panel.data-panel-success {
  .panel-icon {
    background-color: #a3be8c;
  }

  .panel-data {
    h4 {
      color: #a3be8c;
    }
  }
}


.panel-item.panel-callout {
  text-align: left;
}

.tables-alert{
  font-size: 18px;
  margin: 0px;
}
.tables-alert a:hover, a:focus {
  text-decoration: none;
}

.tables-alert-with-errors i
{
  color: red !important;
}