/* Rules custom style
-----------------------------------------*/

#rules-header {
  padding-bottom: 0px;
  margin: -25px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

#new-rule-btn {
  margin-top: -15px;
}

#rules {
  list-style: none;
  padding-left:2%;
  .toggle-mark {
    font-size: 30px;
    margin-top: -20px;
    cursor: pointer;
  }

  h3.rule-group-title {
    font-weight: bold;
    margin-top:10px;
  }
  h3.rule-group-title:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  p.rule-group-description {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
    font-size:12px;
  }

  .rules-sub-items-list {
    list-style: none;
    li {
      padding:5px 10px;
      border-radius:5px;
    }

    h4.rule-sub-title {
      font-weight:bold;
      font-size:16px;
      text-transform: uppercase;
      margin-bottom:0px;

    }

    h4.rule-sub-title:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    p.rule-sub-description {
    }

  }

  .add-new-rule {
    border: 1px dashed darkgray;
    cursor: pointer;
    text-align:center;
    background-color: rgba(220,220,220, 0.2);
  }
  .rules-names-list {
    list-style: none;
    li {
      border: 1px solid #d3d3d3;
      margin: 10px 0 10px -40px;
      padding: 5px 10px;

      h5.rule-name {
        text-decoration: none;
        font-weight:bold;
        margin:0;
        margin-bottom:5px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      p.rule-description {
        margin-bottom: 0;
        font-size:12px;
      }

    }
  }

}

.rule-column{
  border-right-color: #DDD;
  border-right-style: solid;
  border-right-width: 1px;
}

.test-column{
  border-left-color: #DDD;
  border-left-style: solid;
  border-left-width: 1px;
}

.rule-tree {
  font-weight: bold;
  padding-right: 30px;
  list-style: none;
  :hover {
    text-decoration: none;
    color: #333;
  }

  .rule-group-title {
    padding-top: 10px;
    a{
      font-size: 150%;
      color: #333;
    }
  }

  .rule-sub-title {
    padding-top: 10px;
    a {
      font-size: 120%;
      color: #333;
    }
  }

 .tooltip {
    width: 220px;
 }

  .btn-icon-lined.btn-icon-xs {
    height: 20px;
    width: 20px;
    line-height: inherit;
    i {
      font-weight: bold;
    }
  }

  .rules-sub-items-list {
    list-style: none;
    padding-left: 15px;
    .rules-names-list {
      list-style: none;
      padding-left: 35px;
      .rule-name {
        border: none;
        margin: 0;
        padding: 1px 1px;
        font-size:120%;
      }
    }
  }
}
