/* Rules custom style
-----------------------------------------*/

#rules-header {
  padding-bottom: 0px;
  margin: -25px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.header .form-inline .form-group .rule-name {
  font-weight: 500;
  font-size: 24px;
  vertical-align: baseline;
  color: #333333;
  border-style: dashed;
  width: 400px;
}

#rules {
  list-style: none;
  padding-left:2%;
  .toggle-mark {
    font-size: 30px;
    margin-top: -20px;
    cursor: pointer;
  }

  h3.rule-group-title {
    font-weight: bold;
    margin-top:10px;
    text-transform: uppercase;
  }
  h3.rule-group-title:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  p.rule-group-description {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
    font-size:12px;
  }

  .rules-sub-items-list {
    list-style: none;
    li {
      padding:5px 10px;
      border-radius:5px;
    }

    h4.rule-sub-title {
      font-weight:bold;
      font-size:16px;
      text-transform: uppercase;
      margin-bottom:0px;

    }

    h4.rule-sub-title:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    p.rule-sub-description {
    }

  }

  .add-new-rule {
    border: 1px dashed darkgray;
    cursor: pointer;
    text-align:center;
    background-color: rgba(220,220,220, 0.2);
  }
  .rules-names-list {
    list-style: none;
    //list-style-type: decimal;
    li {
      border: 1px solid #d3d3d3;
      margin: 10px 0 10px -40px;
      padding: 5px 10px;

      h5.rule-name {
        text-decoration: none;
        font-weight:bold;
        margin:0;
        margin-bottom:5px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      p.rule-description {
        margin-bottom: 0;
        font-size:12px;
      }

    }
  }

}

.rule-column{
  border-right-color: #DDD;
  border-right-style: solid;
  border-right-width: 1px;
  padding-left: 2px;
  padding-right:0px;
}

.test-column{
  border-left-color: #DDD;
  border-left-style: solid;
  border-left-width: 1px;
}

.rule-tree {
  font-weight: bold;
  list-style: none;
  :hover {
    text-decoration: none;
    color: #333;
  }
  & > li {
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
  }

  li:first-child .rule-group-title {
    padding-top: 0;
  }

  .rule-group-title {
    padding-top: 10px;
    

    a{
      font-size: 150%;
      color: #333;
    }
  }

  .rule-sub-title {
    padding-top: 10px;
    padding-left: 17px;

    a {
      font-size:14px;
      color: #333;
    }
  }

 .tooltip {
    width: 220px;
 }

  .btn-icon-lined.btn-icon-xs {
    height: 20px;
    width: 20px;
    line-height: inherit;
    i {
      font-weight: bold;
    }
  }

  .rule-small-btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    width: 24px;
    height: 24px;
    padding-bottom: 0px;
    right:10px;
    position: absolute;
    top:7px;

    &:hover {
      color: #FFFFFF;
    }
  }

  .rules-sub-items-list {
    list-style: none;
    padding-left: 15px;
    & > li {
      position: relative;
    }
    .rules-names-list {
      list-style: none;
      margin-bottom:10px;
      margin-top:10px;
      padding-left: 35px;

      .rule-name {
        width: 100%;
        overflow: hidden;
       font-weight: normal;
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        white-space: nowrap;
        
        font-size: 15px;
        border-radius: 4px;
        position: relative;
        line-height: 18px;
       
        list-style: decimal;

        
      }
    }
  }
}

.actions-animate-show.ng-hide-add.ng-hide-add-active,
.actions-animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.actions-animate-show.ng-hide {
  opacity: 0;
  width: 0;
  padding: 0;
  border-width: 0;
}

.actions-display {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.request-url {
  font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace;
  text-decoration: none;
  font-weight: normal;
  font-size: smaller;
  width: calc(100% - 32px);
  vertical-align: middle;
}

.request-url-copy {
  margin: 2px;
  vertical-align: middle;
}

bknd-copy-url[type="textarea"] .request-url-copy {
  vertical-align: top;
  margin-top: 0;
}


.js-code-help.angled-window  {
  left: calc(50% - 200px);
  .angled-window-body-content {
    height: 600px;
  }
}

.action-ace-show-test .bknd-ace-container.ace-full-screen {
  .ace_editor {
    width: calc(74% + 55px);
  }

  .bknd-ace-features {
    left: 74%;

    .find-in-ace-form {
      right: calc(100% + 10px);
    }
  }
}

.action-template-container {
  text-align:center;
  margin-left:-1px;
  border-left:1px solid #ddd;
  padding-top: 3px;
  .or {
    clear:both;
    
    margin:10px;
    color:#c2c2c2;
    font-style:italic;
  }

  h4 {
    font-weight:bold;
    color:black;
  }

  .action-template-category {
    clear:both;
    padding-top: 10px;
    margin-left: 3px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color:#9d9d9d;

  }

  .action-template-icons-container {
    margin:0 auto;
    overflow:hidden;
    clear:both;

    .integration-item {
      width:46%;
      margin:2%;
      float:left;
      min-height:120px;
      border:1px solid #ddd;
      border-radius:5px;
      padding-right:10px;
      @media screen and (max-width:1200px) {
        width:100%;
        margin-bottom:10px;
        clear:both;
      }
      &:nth-child(odd) {
        clear:both;
      }
      .left-col{
        float:left;
        width:25%;
        padding:5px;
        img {
          max-width:100%;
          height:auto;
        }


      }
      .right-col {
        float:left;
        text-align:left;
        width:75%;
        position: relative;
        h2 {
          font-weight: bold;
          color:black;
          font-size: 17px;
        }
        .action-template-docs-link {
          position: absolute;
          top:5px;
          right:5px;
        }
      }

    }
  }

  .action-template-icon, .new-action-button {
    padding: 5px;
    display:block;
  

  
  }

  .new-action-button {
  max-width:400px;
  width:50%;
  display:inline-block;
    padding: 14px;
    margin: 15px 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom:0;
  }

  .action-template-active {
    position:relative;

    &:before, &:after {
      content: " ";
      width: 0px;
      height: 0px;
      display: inline-block;
      position: absolute;
      left: 50%;
      margin-left: -15px;
      border-bottom: 15px solid;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
    }

    &:before {
      background: white;
      bottom: -15px;
      border-bottom-color: #ddd;
    }

    &:after {
      bottom: -17px;
      border-bottom-color: white;
    }
  }

  .action-template-active .action-template-icon {
    border: 1px solid #4FA4E8;
    position:relative;
  }


  .action-template-description-container {
    max-height: 140px;
    overflow: auto;
    margin: 15px 10px 15px 0;
    padding: 10px;
    border: 1px solid lightgray;
    cursor: pointer;
    border-radius:10px;
    clear: both;
    display: block;
    float: left;
    width: 50%;

    img {
      float: left;
      display:none;
      margin-right: 5px;
      margin-top: 0;
    }

    .action-template-text-container {
      font-size: 14px;

      .action-template-title {
        padding: 0 4px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        cursor: pointer;

      }

      .action-template-docs-link {
        cursor: pointer;
        display: inline-block;
        margin-left: 10px;
        padding: 5px;
        margin-top: 2px;

        &:hover {
          text-decoration: underline;
        }
      }

      .action-template-description {
        margin-left: 4px;
      }
    }
  }
}
