<div class="object-data-log-container">
  <div>
    <label for="log-item-url">Endpoint</label>
    <bknd-copy-box id="log-item-url"
                   content="codeGenerator.url"></bknd-copy-box>

    <form class="form-inline code-generator-header">

    </form>

            <div class="lang-dropdown">
             <label>Request code</label>
             <table class="table lang-table animate-show-hide" >
            
              <thead class="http-body">
              <tr ng-click="codeGenerator.showMe()" class="cursorp">
              <td>
              <img ng-src="assets/images/platforms/logo-small.png" ng-class="codeGenerator.chosenClass" class="platform-sprite-icon" src="assets/images/platforms/logo-small.png">
                <span class="btn btn-default code-dropdownbutn" type="button" >{{codeGenerator.languageOptions[codeGenerator.chosenLanguage - 1].label }} </span>
                  </td>
                  <td >
                    <img class="request-title" src="assets/images/drop-down_318-99574.jpg"> 
                  </td>
                </tr>
              </thead>
              <tbody class="http-body" ng-show="codeGenerator.showme">
                <tr ng-class="{'tr-hovering' : hovering}" ng-mouseenter="hovering=true" class="cursorp" 
                ng-mouseleave="hovering=false" ng-repeat="option in codeGenerator.languageOptions" ng-click="codeGenerator.generateSelectedLanguage($index)">
                <td><img ng-src="assets/images/platforms/logo-small.png" ng-class="option.class" class="platform-sprite-icon" src="assets/images/platforms/logo-small.png"><span class="option-label">{{option.label}}</span>
                  </td>
                  <td> </td>

                </tr>
              </tbody>
              </table>
              </div>
        <br/>
    <bknd-copy-box id="log-item-request"
                   type="textarea"
                   content="codeGenerator.code"></bknd-copy-box>
  </div>
</div>
