#apps-page.panel-body  {
  margin-left:0;
}
.apps-jumbo {
  background: url("/assets/images/apps_page/background.jpg");
  background-size:cover;
  color: rgba(255, 255, 255, 0.9);
  padding: 20px 15px 60px 15px;
  box-shadow: 0px 5px 25px gray;
  font-family: "Open Sans", sans-serif;
  @media screen and (max-width:$screen-md) {
    padding-bottom:20px;
  }

  .apps-jumbo-close-icon {
    position: relative;
    left: calc(100% - 4px);
    top: -14px;

    &:hover {
      cursor: pointer;
      font-weight: bolder;
    }
  }

  .apps-jumbo-title {
    text-align: center;
    margin-bottom: 50px;

    h1 {
      font-size: 48px;
      @media screen and (max-width:$screen-md) {
        font-size:30px;
        
      }
    }
  }

  .apps-jumbo-headline {
    opacity: .8;
    font-size: 20px;
     @media screen and (max-width:$screen-md) {
      font-size:18px;
     }
     padding-left:2%;
    padding-right:2%;
   
  }

  .apps-jumbo-sections {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    @media screen and (max-width:700px) {
      
      width:100%;
      font-size:14px;

      & > div {
        padding:0;
      }


    }
    @media screen and (max-width:400px) {
      width:80%;
      margin:0 auto;
      & > div {
        margin-bottom:15px;
        width:100%;
        img {
          float:left;
          max-width:30px;
          margin-right:10px;
          text-align:left;
          margin-bottom:0;
          
        }
        .apps-jumbo-section-title {
            text-align:left;
            float:left;
            margin-left:10px;
            
          }
      }
    }
  }

  .apps-jumbo-section-wrapper {
    width: 220px;
    margin: 0 auto;

    @media (max-width: $screen-md) {
      padding-bottom: 20px;
      text-align:center;
      width:100%;
      img {
        display:block;
        margin:0 auto;
        margin-bottom:10px;
      }
    }

    &:hover {
      cursor: pointer;
      font-weight: bolder;
    }
  }

  .apps-jumbo-section-title {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 5px;
    width: 70%;
    vertical-align: middle;


  }
}
