.body-auth {
    #content {
        background: url('../images/background/1.jpg') no-repeat center center fixed;
//        background: url('/assets/images/background/1.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}



.page-signin,
.page-signup,
.page-forgot {

    h1 {
        font-weight: 300;
        color: $bright;
        font-size: 54px;
        margin-bottom: 60px;
        a {
            color: $bright;
        }
    }

    .form-group {
        margin: 0;
    }
    .input-group-first {
        border-top: 1px solid rgba(255,255,255,.3);
    }
    .input-group {
        padding: 6px 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
    .input-group-addon {
        background: transparent;
        border: 0;
        font-size: 24px;
        color: #ccc;
    }
    .form-control {
        border: 0;
        border-radius: 0;
        color: $bright;
        font-weight: 300;
        background: transparent;
    }
    ::-webkit-input-placeholder { color: #ccc; font-weight: 300 }
    :-moz-placeholder { color: #ccc; font-weight: 300 } // Firefox 18-
    ::-moz-placeholder { color: #ccc; font-weight: 300 } // Firefox 19+
    :-ms-input-placeholder { color: #ccc; font-weight: 300 }



    .signin-header {
        margin-top: 50px;
        @media (min-height: $screen-sm) {
            margin-top: 150px;
        }
    }

    .logo {
        font-size: 26px;
        font-weight: normal;
        // text-transform: uppercase;
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    //
    .signin-body,
    .signup-body {
        padding: 20px 10px;
    }

    .form-container {
        max-width: 420px;
        margin: 10px auto;
    }

    .additional-info {
        color: #1a5169;
        a {
            color: #1a5169;
        }
        span{
          color: #1a5169;
        }
    }
}

.page-forgot {
    .additional-info {
        color: #ccc;
    }
}

.auth-body {
  background: black url("/assets/images/auth_pages/signup-background.jpg") no-repeat;
  background-size: cover;

  .page-signin {

    .form-container.signup-container {
      max-width: 52em;
      border-radius: 2%;
      background-color: white;
      padding: 30px;
      position: relative;
      @media (min-width: $screen-sm) {
        width: 52em;
      }

      .dragon {
        position: absolute;
        right: -171px;
        @media (max-width: 1100px) {
          display: none;
        }
      }

      .auth-button {
        width: 100%;
        background: rgb(254, 74, 0);
        color: white;
        text-decoration: none;
        padding: 10px;
        display: block;
        text-align: center;
        font-family: "Open Sans", arial, sans-serfi;
        font-weight: bold;
        text-shadow: 1px 1px 0 #2d5e7b;
        border-radius: 25px;
        -webkit-transition: 200ms;
        -moz-transition: 200ms;
        transition: 200ms;
        height: 50px;
      }

      .alert.alert-danger.auth-alert {
        color: #FE4A00;
        background-color: #f2f2f2;
        border-color: #f0f0f0;

        img {
          margin-right: 10px;
        }
      }

      .text-danger {
        color: #FE4A00;
        a {
          color: #FE4A00;
        }
      }
    }

    .row {
      padding-top: 10px;
    }

    .signup-options {
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 10px;

      &.signup-options-email {
        @media (min-width: $screen-sm) {
          padding-left: 30px;
        }
      }
    }

    .social-signin-spinner {
      position: relative;
      float: right;
      top: 14px;
      left: -20px;
    }

    .signup-social {
      padding-top: 20px;
      @media (max-width: $screen-sm) {
        padding-bottom: 20px;
        border-bottom: #ccc solid 1px;
        margin-bottom: 30px;
      }

      .btn.btn-social {
        padding: 12px 12px 12px 64px;
        font-size: 18px;
        font-weight: 600;

        .fa {
          padding: 10px;
          width: 50px
        }
      }
    }

    .signup-email {
      padding-top: 10px;

      @media (min-width: $screen-sm) {
        border-left: #ccc solid 1px;
        padding-left: 30px;
      }

      .input-group {
        border-bottom: #ccc solid 1px;

        .form-control {
          color: black;
        }

      }
    }
  }
}
