.panel-body .db-panel-body-explanation {
  margin-bottom:20px;
}
.panel-body {
}

.panel-body .db-panel-body-description {
  font-size: 16px;
}

.db-animate-show.ng-hide-add.ng-hide-add-active,
.db-animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all 2s;
  transition: all 2s;
  overflow: hidden;
}

.db-animate-show.ng-hide {
  opacity: 0;
  width: 0;
  padding: 0;
  border-width: 0;
}

.db-display {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.db-ace-title {
  text-transform: uppercase;
  font-size: larger;
}

.db-ace-example-title {
  border: 1px solid transparent;
  display: block;
  padding: 10px 15px;
}

.db-panel-right-half {
  padding-right: inherit;
}

.db-icon {
  box-shadow: 0 0 0 7px rgba(92, 184, 92, 0.1);
  border: 1px solid rgba(92, 184, 92, 0.7);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  text-align: center;
  font-size: 50px;
  line-height: 110px;
  color: #428bca;
  vertical-align: inherit;

  &:hover {
    border: 1px solid rgba(119, 119, 119, 0.6);
  }
}

.db-icon-title {
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle;
  margin-top: 30px;
  font-size: 25px;
  line-height: normal;
}


.db-icon-box {
  display: flex;

  img {
    vertical-align: inherit;
  }
}

.db-tab-content {
  padding: 3%;
}

.db-btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #c5c5c5;

  &:hover, &:focus, &:active {
    color: #333;
    background-color: #c5c5c5;
    border-color: #adadad;
  }
}

.db-types-title {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom:0px;
  display:block;
  font-weight: 600;

}

.db-types {
  line-height: 31px;
  font-size: 15px;
  margin-left:-25px;
  border:1px solid white;
  padding-left:20px;
  border-radius:20px;

  i {
    visibility: hidden;
  }

  &:hover {
    border:1px solid #ddd;
    cursor: pointer;

    i {
      visibility: visible;
    }
  }
}

.db-types-note {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  line-height: 30px;
}

.db-note {
  background-color: #f3f3f3;
  padding: 15px;
}

.db-footer {
  position: fixed;
  bottom: 0;
  background: rgb(254, 254, 254);
  width: calc(100% - 219px);
  z-index: 40;
  padding: 5px;
  right: -1px;
  text-align:center;
  box-shadow: 0px -3px 20px 3px rgba(128, 128, 128, 0.25);

  .btn {
    float:none;
    display:inline-block;
    margin:5px;

  }

  @media (max-width: $screen-sm) {
    width: 100%;
    right: 0;
  }

  .btn {
   
  }
}


// .nav is overridden by .ui-tab ul.nav.nav-tabs
.db-nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-link-hover-bg;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $nav-disabled-link-color;

      &:hover,
      &:focus {
        color: $nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: $cursor-disabled;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      border-color: $link-color;
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
    @include nav-divider;
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }
}


// Tabs
// -------------------------

.db-nav-position-bottom {
  position: absolute;
  bottom: 0;
}

// Give the tabs something to sit on
.db-nav-tabs {
  border-bottom: 1px solid $nav-tabs-border-color;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
      margin-right: 2px;
      line-height: $line-height-base;
      border: 1px solid transparent;
      border-radius: $border-radius-base $border-radius-base 0 0;
      &:hover {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border: 1px solid $nav-tabs-active-link-hover-border-color;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}
