.erd-model {
  svg {
    height: 2000px;
    width: 100%;

    text.fa-icon {
      font-family: FontAwesome;

      &.magic-icon {
        font-size: 20px;
        fill: #555;

        &:hover {
          fill: #222;
          cursor: pointer;
        }
      }
    }
  }
}

.unsaved-changes {
  color: #904e54;
  font-size: 15px;
  font-style: italic;
  display: inline;
}

.unsaved-changes-top {
  float: right;
  text-transform: none;
  margin-right: 21px;
}

.erd-description {
  font-size: 15px;
  padding-bottom: 21px;
}

.add-object-button {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  font-weight: bold;
  font-size: 16px;
  font-family: "open sans", sans-serif;

}

.new-object-icon {
  padding-right: 4px;
}

#erd-description-label{
  display: inline;
}
