.erd-model {
  svg {
    height: 2000px;
    width: 100%;

    text.fa-icon {
      font-family: FontAwesome;

      &.magic-icon {
        font-size: 20px;
        fill: #555;

        &:hover {
          fill: #222;
          cursor: pointer;
        }
      }
    }
  }
}

#unsaved-changes {
  color: #ff0000;
  font-size: 12px;
}

.erd-description {
  font-size: 15px;
}

.add-object-button {
  padding-right: 20px;
  padding-left: 20px;
  float: right;
}

.new-object-icon {
  padding-right: 4px;
}
