.page-external-functions {
    padding: 25px;
    .content-wrapper {
        border-left: 1px solid #ccc;
        padding: 15px 30px;
        .txt {
            margin-bottom: 30px;
            h4 {
                margin-bottom: 25px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:first-child {
                h4 {
                    margin-top: 0;
                }
            }
        }
    }
    .nav-tabs {
        border: 1px solid #ddd;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        border: 0 none !important;
    }
    .tab-content {
        padding: 0;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .lambda-functions-tab {
        &.ui-tab-vertical {
            padding: 0 0 0 15%;
            .nav-tabs {
                width: 15%;
            }
        }
    }
    .panel {
        box-shadow: none;
    }
    .panel-body {
        &.ui-tab-container {
            border: 0 none;
            box-shadow: none;
        }
    }
}

.list-group-item {
    .meta-text {
        display: inline-block;
    }
    .meta-actions {
        margin-bottom: 15px;
        clear: right;
        float: none !important;
        position: absolute;
        right: 15px;
        top: 8px;
    }
}