.bknd-filter-form {
  .form-inline {
    margin-bottom: 5px;

    label {
      font-weight: bold;
      border: 1px solid #ccc;
      width: 202px;
      height: 36px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857;
      display: inline-block;
      vertical-align: middle;
      border-radius: 4px;
      margin-bottom: 0px;
    }

    input[type="text"] {
      width: 346px;
      height: 36px;
    }
  }
}
