.object-data-page {

  .refresh-data-button {
    margin-left: 5px;
    color: slategray;
    font-size: 20px;
    padding: 2px 10px;
    position: relative;
    top: 1px;
  }

  .btn {
    &.btn-success {
      font-weight: 600;

      i {
        font-weight: 600;
      }

      &.btn-xs.btn-wide {
        font-size: 11px;
        border-radius: 5px;
        padding: 4px 8px;
      }
    }
  }

  .log-panel {
    margin-top: 19px;

    .panel-heading {
      text-transform: none;
    }

    .log-navigation-buttons {
      position: absolute;
      right: 24px;
      top: 27px;

      button {
        outline: none;

        &:focus {
          background-color: #fff;
          border-color: #ccc;
        }
      }
    }

    input, textarea {
      margin-bottom: 10px;
      width: 100%;
      padding: 5px;
    }

    input {
      height: 30px;
    }

    textarea {
      height: 200px;
      border-color: #ccc;
    }

    bknd-copy-box [clip-copy] {
      position: relative;
      bottom: 64px;
      float: right;
    }

    bknd-copy-box[type="textarea"] [clip-copy] {
      bottom: 235px;
    }
  }
}
