.security-filter {

  .security-filter-ace-row {
    display: flex;

    &.security-filter-ace-row-disabled {
      opacity: 0.7;

    }
    .ace-to-edit {
      width: 60%;
    }

    .ace-to-view {
      width: 40%;
    }

    .panel-left {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .panel-right {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .panel {
      .panel-heading {
        text-transform: none;

        &:hover {
          cursor: pointer;
        }

        .pull-right {

          .ti-anchor {
            cursor: pointer;
            font-size: 20px;
            color: black;
            padding: 5px;
          }

          .btn {
            margin-top: -3px;
          }
        }
      }
    }
  }
}
