<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong>Configuration</strong>
    </div>
    <div class="panel-body">
      <div us-spinner spinner-key="loading"></div>
      <div class="configuration-description">Import and export your app's configuration. Current version: {{configuration.currentVersion}}</div>
      <div class="backup-buttons">
        <button class="btn btn-success" ng-click="configuration.downloadConfiguration()">Export Settings</button>
        <button type="file" class="btn btn-success" ngf-select="configuration.uploadConfiguration($file)">Import
          Settings</button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Version</th>
            <th>Set as Current</th>
            <th>Export as File</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="configEntry in configuration.latestConfigurations | orderBy: '-version'">
            <td>{{configEntry.version}}</td>
            <td><a href="" ng-click="configuration.setConfiguration(configEntry.version)">Set</a></td>
            <td><a href="" ng-click="configuration.downloadConfiguration(configEntry.version)">Export</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</section>
