<div class="row">
  <div class="col-md-8 col-md-offset-2">


    <form class="form-horizontal ng-pristine ng-valid" role="form">

      <div class="form-group">
        <label for="dataSource" class="col-sm-2 control-label">Data Source</label>
        <div class="col-sm-10">
          <span class="ui-select" id="dataSource">
                        <select>
                          <option value="postgresql">postgresql</option>
                          <option value="mysql">mysql</option>
                        </select>
           </span>
        </div>
      </div>





      <div class="form-group">
        <label for="DBEndpoint" class="col-sm-2 control-label">DB Endpoint</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="DBEndpoint" placeholder="DB Endpoint">
        </div>
      </div>
      <div class="form-group">
        <label for="DbName" class="col-sm-2 control-label">DB Name</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="DbName" placeholder="DB Name">
        </div>
      </div>
      <div class="form-group">
        <label for="UserName" class="col-sm-2 control-label">User Name</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="UserName" placeholder="User Name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success btn-w-md">next</button>
        </div>
      </div>
    </form>

  </div>
</div>
