
<div class="row">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">
    <section class="panel panel-box">
      <div  ui-sref="apps.data.new-source"
            class="panel-left panel-item bg-facebook">
        <p class="size-h1"><i>create a new data Base</i></p>
        <button class="bt btn-icon-md btn-success">+</button>
      </div>
      <div  ui-sref="apps.data.exs-source"
            class="panel-right panel-item bg-google-plus">
        <p class="size-h1"><i>connect to existing data Base</i></p>
        <button class="bt btn-icon-md btn-success">?</button>
      </div>
    </section>
  </div>
  <div class="col-sm-2">

  </div>
</div>



<ui-view></ui-view>




