
<div class="row">
  <div class="col-sm-2">


  </div>
  <div class="col-sm-8">
    <div><h4>Please select data base source:</h4></div>
    <section class="panel panel-box">
      <div ui-sref="apps.data.source"
           class="panel-left panel-item">
        <p class="size-h1"><img style="height: 20%; width: 20%" src="../../assets/images/postgresql.jpg"/></p>

        <p>postgresql</p>
      </div>
      <div class="panel-item">
        <p class="size-h1"><img style="height: 20%; width: 20%" src="../../assets/images/mysql.png"/></p>

        <p>mysql</p>
      </div>
      <div class="panel-right panel-item">
        <p class="size-h1"><img style="height: 20%; width: 20%" src="../../assets/images/oracle.jpg"/></p>

        <p>oracle</p>
      </div>
    </section>
  </div>
  <div class="col-sm-2">

  </div>
</div>
