
<div> <h4>Please select data base source:</h4></div>

<div class="row">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">
    <section class="panel panel-box">
      <div  ui-sref="apps.data.source"
            class="panel-left panel-item bg-facebook">
        <p class="size-h1"><img style="height: 20%; width: 20%" src="../../assets/images/postgresql.jpg"/></p>
        <p>postgresql</p>
      </div>
      <div class="panel-item bg-twitter">
        <p class="size-h1"><img style="height: 20%; width: 20%" src="../../assets/images/mysql.png"/></p>
        <p>mysql</p>
      </div>
      <div class="panel-right panel-item bg-google-plus">
        <p class="size-h1"><img style="height: 20%; width: 20%" src="../../assets/images/oracle.jpg"/></p>
        <p>oracle</p>
      </div>
    </section>
  </div>
  <div class="col-sm-2">

  </div>
</div>

<ui-view></ui-view>
