<div class="apps-jumbo" ng-show="index.showJumbo">
  <i ng-click="index.closeJumbo()" class="ti-close apps-jumbo-close-icon"></i>
  <div class="row apps-jumbo-title">
    <h1>Welcome to Back&</h1>
    <div class="apps-jumbo-headline">Start by creating your first app below.
      You can also read our quick start resources
    </div>
  </div>
    <div class="apps-jumbo-sections">
    <div class="apps-jumbo-section-wrapper"
         ng-click="index.goToGettingStarted('docs.platform_select_existing_open')">
      <i class="sprite-main-page sprite-icon-getting-started"></i>
      <div class="apps-jumbo-section-title" analytics-wrapper target="gettingStarted">Getting started guide</div>
    </div>
    <div class="jumbo-border"></div>
    <div class="apps-jumbo-section-wrapper"
         ng-click="index.goToGettingStarted('docs.platform_select_kickstart_open')">
      <i class="sprite-main-page sprite-icon-tutorials"></i>
      <div class="apps-jumbo-section-title" analytics-wrapper target="ionicDocs">Existing App Tutorials</div>
    </div>
    <div class="jumbo-border"></div>
    <div class="apps-jumbo-section-wrapper" ng-click="index.goToLocation('http://docs.backand.com')">
      <i class="sprite-main-page sprite-icon-docs"></i>
      <div class="apps-jumbo-section-title" analytics-wrapper target="docs">Documentation</div>
    </div>
  </div>
</div>
<div ng-if="!index.showJumbo" class="without-jumbo">
  <div class="row header justify-content-between">
    <div class="col-md-3">
      <h3>My Apps</h3>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="search-area">
        <input type="text" name="search" ng-model="index.searchApp"
               ng-model-options="{debounce: 500}"
               class="app-searchbox" placeholder="Search...">
        <div class="search-results-container" ng-if="index.searchApp !== ''">
          <ul>
            <li ng-repeat="option in index.searchOptions" class="app-name-option" ng-click="index.appManage(option)">
              <p>{{option.Name}}</p>
            </li>
          </ul>
        </div>
      </div>
      <span ng-click="index.showNewApp = !index.showNewApp">New App</span>
    </div>
  </div>
</div>
<div class="apps-container rounded"
     ng-class="index.showJumbo == false ? 'without' : ''">

  <div class="row header justify-content-between"
       ng-if="index.showJumbo">
    <div class="col-md-3">
      <h3>My Apps</h3>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="search-area">
        <input type="text" name="search" ng-model="index.searchApp"
               ng-model-options="{debounce: 500}"
               class="app-searchbox" placeholder="Search...">
        <div class="search-results-container" ng-if="index.searchApp !== ''">
          <ul>
            <li ng-repeat="option in index.searchOptions" class="app-name-option" ng-click="index.appManage(option)">
              <p>{{option.Name}}</p>
            </li>
          </ul>
        </div>
      </div>
      <span ng-click="index.showNewApp = !index.showNewApp" test-hook="apps.newApp">New App</span>
    </div>
  </div>
  <div ng-if="index.showNewApp" class="newAppContainer" class="row">
    <form class="form-horizontal" name="form" role="form" ng-submit="index.addApp()">
      <fieldset>
        <div class="col-md-6 app-path">
          <div class="form-group">
            <div class="input-group">
              <span>APP NAME</span>
              <input type="text" class="form-control" placeholder="myapp1" style="text-transform: lowercase;"
                     ng-model="index.appName" ng-model-options="{debounce: 500}"
                     ng-pattern="index.namePattern" test-hook="apps.new-app.name" name="appName" required>
            </div>
            <div ng-show="form.appName.$error.pattern" test-hook="apps.new-app.error" class="input-error">Only
              alphanumeric characters are allowed
            </div>
          </div>
          <div class="form-group">
            <span>APP TITLE</span>
            <input type="text" class="form-control" placeholder="app title"
                   ng-model="index.appTitle" test-hook="apps.new-app.title" ng-model-options="{debounce: 500}">
          </div>
          <div class="form-group" style="padding-top: 5px;">
            <button type="submit" test-hook="apps.new-app.create" ng-disabled="form.$invalid"
                    class="btn btn-primary btn-w-md btn-block submit-button" ladda="index.loading"
                    data-style="expand-right">Create
            </button>
            <button class="cancel-button" type="reset">Cancel</button>
          </div>
        </div>
        <div class="col-md-6 app-type">
          <span>CHOOSE YOUR FOCUS</span>
          <div class="row">
            <div ng-click="index.changeAppType('serverless')" ng-class="index.appType == 1 ? 'active' : ''"
                 class="app-type-container col-md-4"
            tooltip="Choose the focus of your application. This will set your application dashboard's default landing page.">
              <div ng-if="index.appType == 1" class="glyphicon glyphicon-ok"></div>
              <i class="sprite-main-page sprite-icon-small-serverlesss"></i>
              <p>Database</p>
            </div>
            <div ng-click="index.changeAppType('function')" ng-class="index.appType == 2 ? 'active' : '' "
                 class="app-type-container col-md-4"
                 tooltip="Choose the focus of your application. This will set your application dashboard's default landing page.">
              <div ng-if="index.appType == 2" class="glyphicon glyphicon-ok"></div>
              <i class="sprite-main-page sprite-icon-small-faas"></i>
              <p>Functions and Integrations</p>
            </div>
            <div ng-click="index.changeAppType('security')" ng-class="index.appType == 3 ? 'active' : '' "
                 class="app-type-container col-md-4"
                 tooltip="Choose the focus of your application. This will set your application dashboard's default landing page.">
              <div ng-if="index.appType== 3" class="glyphicon glyphicon-ok"></div>
              <i class="sprite-main-page sprite-icon-small-security"></i>
              <p>Security</p>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="row body justify-content-between" ng-repeat="app in index.apps track by app.__metadata.id"
       test-hook="apps.app-panel">
    <div class="col-md-5 app-details">
      <i class="sprite-main-page sprite-{{::app.ProductType}}"></i>
      <div class="app-name">
        <div>
          <span>{{ ::app.Name }}</span>
          <span ng-if="app.DatabaseStatus === 2"
                us-spinner="{radius:3, width:3, length: 3, top: '9px', left: '92%', color: 'white'}"
                style="position: relative; left: 30%;"></span>
          <div class="app-status" test-hook="apps.app-panel.ribbon">
            <div ng-class="index.getRibboninfo(app).text">{{ index.getRibboninfo(app).text }}</div>
          </div>
        </div>
        <div>
          <p>{{ ::app.Title}}</p>
        </div>
      </div>
      <div us-spinner="{color: 'black'}" spinner-key="loading-manage-{{ ::app.Name}}" spinner-start-active
           style="position:relative; left:50px;"></div>
    </div>

    <div class="app-button col-md-5">
      <div>
        <button
          ng-click="index.appManage(app)"
          class="btn btn-default app-buttons manage-apps col-sm-6 pull-left"
          data-spinner-color="#000000"
          test-hook="apps.app-panel.manage-button"
          ng-disabled="!index.isExampleApp() && app.DatabaseStatus != 1">
          {{index.getAppManageTitle(app)}}
        </button>
      </div>
      <div>
        <button
          ng-click="index.appBilling(app.Name, (app.PaymentLocked || app.PaymentStatus === 1), app.productType)"
          class="btn btn-default app-buttons upgrade-apps col-sm-6 pull-right"
          data-spinner-color="#000000"
          test-hook="apps.app-panel.manage-button">
          Upgrade Plan
        </button>
      </div>
      <i class="sprite-main-page sprite-chevron-right"></i>
    </div>
    <div id="border"></div>
  </div>

</div>
