<div class="page ng-scope">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2" ng-repeat="app in apps">
        <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
          <div class="ui-ribbon-wrapper">
            <div class="ui-ribbon">{{ app.os }}</div>
          </div>
          <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>{{ app.name }}</div>
          <div class="panel-body">
            <p>App description</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
