<section class="page-form-ele page ng-scope">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong> General App Settings</strong>
      <a href="javascript:;" class="btn btn-lg pull-right" style="margin-top: -10px;" ng-click="settings.delete()"><i class="ti-trash"></i></a>
    </div>
    <div class="panel-body">
      <form role="form" role="form" ng-submit="settings.submitForm()">
        <div class="form-group">
          <label for="name">App Name</label>
          <input type="text" class="form-control" id="name" ng-model="settings.appName" required ng-disabled="false">
        </div>
        <div class="form-group">
          <label for="title">App Title</label>
          <input type="text" class="form-control" id="title" ng-model="settings.appTitle" required>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label>Default Date Format</label>
            <div>
              <label class="ui-radio" ng-repeat="dates in settings.datesFormar">
                <input name="dateFormat" type="radio" ng-value="dates" ng-model="settings.dateFormat" ><span>{{dates}}</span>
              </label>
            </div>
          </div>
           <div class="form-group">
            <label for="rows">Default number of items per Page</label>
            <input type="number" class="form-control" id="rows" data-ng-model="settings.defaultPageSize" data-min=5 data-max=1000 required>
          </div>
        </div>
        <br/>
        <div class="save-bar">
         <button type="submit" ng-disabled="form.$invalid" class="btn btn-success btn-lg btn-w-lg" ladda="settings.loading" data-style="expand-right">Save</button>
        </div>
      </form>
    </div>
  </section>
  <!--<section class="panel panel-default">-->
    <!--<div class="panel-heading">-->
      <!--<strong> Images Storage Configuration</strong>-->
      <!--<a href="javascript:;" class="btn btn-lg " ><i class="ti-plus"></i></a>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
      <!--<div class="ui-tab-container ui-tab-vertical" style="height:200px; overflow:auto">-->
        <!--<tabset class="ui-tab">-->
          <!--<tab heading="S3 Storage">-->
            <!--<form role="form" role="form" ng-submit="settings.sumbitForm()">-->
              <!--<div class="form-group">-->
                <!--<label for="name">Name</label>-->
                <!--<input type="text" class="form-control" id="name" value="s3 example" required>-->
              <!--</div>-->
            <!--</form>-->
          <!--</tab>-->
        <!--</tabset>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
</section>
