
<section data-ng-view=""
         class="view-container animate-fade-up"
  >
  <div class="page ng-scope">

    <div class="ui-timline-container">
      <section class="ui-timeline">
        <article class="tl-item">
          <div class="tl-body">
            <div class="tl-entry">
              <div class="tl-caption">
                <a editable-text="show.appName"  onaftersave="show.updateAppName()" class="btn btn-default btn-block">{{show.appName}}</a>
              </div>
            </div>
          </div>
        </article>

        <article class="tl-item alt">
          <div class="tl-body">
            <div class="tl-entry">
              <div class="tl-time"></div>
              <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-shine"></i></div>
              <div class="tl-content">
                <a class="panel panel-box" ui-sref="apps.data.exs-source.form({name: show.appName, data:'mysql'}) ">
                  <div class="panel-top" ng-class="show.appUploadState">
                    Data base connection
                  </div>
                </a>
              </div>
            </div>
          </div>
        </article>

        <article class="tl-item ">
          <div class="tl-body">
            <div class="tl-entry">
              <div class="tl-time"></div>
              <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-shine"></i></div>
              <div class="tl-content">
                <a class="panel panel-box"  ui-sref="apps.dash-board({name: show.appName})">
                  <div class="panel-top" ng-class="show.appWarnState">
                    Admin Console
                  </div>
                </a>
            </div>
          </div>
        </article>

        <article class="tl-item alt">
          <div class="tl-body">
            <div class="tl-entry">
              <div class="tl-time"></div>
              <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-shine"></i></div>
              <div class="tl-content">
                <a class="panel panel-box">
                  <div class="panel-top" ng-class="show.appUploadState">API playground </div>
                </a>
              </div>
            </div>
          </div>
        </article>

      </section>
    </div>

  </div>
</section>
