<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading"><strong> Dashborad</strong></div>
  <div class="panel-body">
    <div class="row col-md-10 col-sm-offset-1">


      <div class="list-unstyled row">
        <ul class="list-inline col-md-10 col-md-offset-2 text-center">
          <li class="col-md-2">
            <p class="size-h1">1,123</p>
            <p class="text-muted size-h5">Requests</p>
          </li>
          <li class="col-md-2">
            <p class="size-h1">43</p>
            <p class="text-muted size-h5">Updates</p>
          </li>
          <li class="col-md-2">
            <p class="size-h1">12</p>
            <p class="text-muted size-h5">Commits</p>
          </li>
          <li class="col-md-2">
            <p class="size-h1">40K</p>
            <p class="text-muted size-h5">Rows</p>
          </li>
        </ul>
      </div>


      <section class="panel panel-box">


        <div class="list-justified-container">
          <ul class="list-justified text-center">

            <li>
              <div class="row col-md-12">
                <div class="size-h3 col-md-3">App Log</div>
              </div>
              <div class=" row col-md-12 divider divider-sm"></div>
              <div ng-repeat="log in show.appLogArray | limitTo:show.logLimit">
                <div class="row col-md-12">
                  <div class="size-h3 col-md-4 text-muted">{{log.time | date}}</div>
                  <div class="size-h3 col-md-8"> {{log.info}} </div>
                </div>
              </div>
              <div class=" row col-md-12 divider divider-sm"></div>
              <button class="btn btn-default btn-w-lg">SHOW MORE</button>
            </li>
            <li>
              <div class="row col-md-12">
                <div class="size-h3 col-md-7"> TOOLS AND KNOWLAGEBSE</div>
              </div>
              <div class="divider divider-xl"></div>
              <div class="row col-md-11 ">
                <button class="panel panel-box" ui-sref="playground.show({name: nav.appName})">
                  <div class="panel-left panel-item bg-info">
                    <i class="ti-more-alt text-huge"></i>
                  </div>
                  <div class="panel-right panel-item" >
                    <p class="size-h3 text-info">REAT api simulation</p>
                    <p class="">""</p>
                    <p class="">dsfdsfsd</p>
                  </div>
                </button>
              </div>
              <div class="row col-md-11 ">
                <button class="panel panel-box" ui-sref="dashboard.edit({name: nav.appName})">
                  <div class="panel-left panel-item bg-success">
                    <i class="ti-more-alt text-huge"></i>
                  </div>
                  <div class="panel-right panel-item" >
                    <p class="size-h3 text-info">REAT api simulation</p>
                    <p class="">""</p>
                    <p class="">dsfdsfsd</p>
                  </div>
                </button>
              </div>
              <div class="row col-md-11 ">
                <button class="panel panel-box" ui-sref="dashboard.edit({name: nav.appName})">
                  <div class="panel-left panel-item bg-success">
                    <i class="ti-layers-alt text-huge"></i>
                  </div>
                  <div class="panel-right panel-item">
                    <p class="size-h3 text-success">ORM</p>
                    <p class="">""</p>
                    <p class="text-muted">Another Sunny Day</p>
                  </div>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
