
<section data-ng-view=""
         class="view-container animate-fade-up"
  >
  <div class="page ng-scope">

    <div class="ui-timline-container">
      <section class="ui-timeline">
        <article class="tl-item">
          <div class="tl-body">
            <div class="tl-entry">
              <div class="tl-caption">
                <a editable-text="show.appName"  onaftersave="show.updateAppName()" class="btn btn-default btn-block">{{show.appName}}</a>
              </div>
            </div>
          </div>
        </article>

        <article class="tl-item alt">
          <div class="tl-body">
            <div class="tl-entry">
              <div class="tl-time"></div>
              <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-shine"></i></div>
              <div class="tl-content">
                <a class="panel panel-box" ui-sref="apps.info({name: show.appName, data:'mysql'}) ">
                  <div class="panel-top" ng-class="show.connectionState.class">
                    Data base connection
                  </div>
                  <div class="panel-bottom bg-reverse">
                    <p class="size-h4">{{show.connectionState.text}}</p>
                  </div>
                </a>

              </div>
            </div>
          </div>
        </article>

        <article class="tl-item">
          <div class="tl-body">
            <div class="tl-entry">
              <div class="tl-time"></div>
              <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-shine"></i></div>
              <div class="tl-content">
                <a class="panel panel-box"  ui-sref="dashboard.edit({name: show.appName})">
                  <div class="panel-top" ng-class="show.appWarnState">
                    Admin Console
                  </div>
                  <div class="panel-bottom bg-reverse">
                    <p class="size-h1">369</p>
                    <p class="text-muted">Sales</p>
                  </div>
                </a>
            </div>
          </div>
        </article>

        <article class="tl-item alt">
          <div class="tl-body">
            <div class="tl-entry">
              <div class="tl-time"></div>
              <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-shine"></i></div>
              <div class="tl-content">
                <a class="panel panel-box">
                  <div class="panel-top" ng-class="show.appUploadState">API playground</div>
                </a>
              </div>
            </div>
          </div>
        </article>

      </section>
    </div>

  </div>
</section>
